<%- include('../layouts/user_hris/hris_user_header') -%>
<body>
  <%- include('../layouts/navhris') -%> <%-
  include('../layouts/user_hris/sidenavhris_user') %>
  <div class="page-body">
    <div class="page-name">
      <h1>Application Details</h1>
    </div>
    <% if (message) { %>
    <div
      class="alert alert-dismissible alert-<%= message.type %> fade show"
      role="alert"
      id="autoDismissAlert"
    >
      <strong>Attention!</strong><%= message.message %><a
        href="#"
        class="alert-link"
      ></a>
    </div>
    <% } %>
    <p class="text-muted mb-4 text-center">
      Enter the details of your leave application.
    </p>
    <form action="/apply_leave" method="POST" class="app-form">
      <input type="hidden" name="email" value="<%= user.email %>" />
      <input type="hidden" name="name" value="<%= user.name %>" />
      <div class="app-form-container">
        <div class="app-type">
          <label for="Type" class="form-label mt-4">Leave Type</label>
          <select name="Type" class="form-select" id="Type">
            <option></option>
            <option>Sick Leave</option>
            <option>Vacation Leave</option>
          </select>
        </div>
        <div class="app-field">
          <label for="StartDate" class="form-label mt-4">Start Date</label>
          <input
            type="date"
            class="form-control"
            id="StartDate"
            name="StartDate"
            required
          />
        </div>
        <div class="app-field">
          <label for="EndDate" class="form-label mt-4">End Date</label>
          <input
            type="date"
            class="form-control"
            id="EndDate"
            name="EndDate"
            required
          />
        </div>
      </div>
      <div class="leave_reason" style="font-weight: 600">
        <label for="designation" class="form-label mt-4">Designation</label>
        <textarea
          class="form-control"
          maxlength="100"
          id="designation"
          rows=""
          name="designation"
          required
        ></textarea>
      </div>
      <div class="leave_reason" style="font-weight: 600">
        <label for="reason" class="form-label">Reason for Leave</label>
        <textarea
          class="form-control"
          maxlength="100"
          id="reason"
          rows=""
          name="reason"
          required
        ></textarea>
      </div>
      <div class="button-container">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</body>
<%-include('../layouts/footer') %>
