<%- include('../layouts/user_hris/hris_user_header') -%>
<body>
  <%- include('../layouts/navhris') -%> <%-
  include('../layouts/user_hris/sidenavhris_user') %>
  <%- include('../layouts/footer') %>
    <div class="page-body">
        <div class="page-name">
          <h1>Attendance Record:</h1>
        </div>
        <div class="account-at">
          <div class="account-img">
            <img src="../<%= logincollections.image %>" />
          </div>
          <div class="account-in mt-3">
            <p><b>Name:</b> <%= logincollections.name %></p>
            <p><b>Email:</b> <%= logincollections.email %></p>
            <p><b>Contact:</b> <%= logincollections.contact %></p>
            <p><b>Department:</b> <%= logincollections.department %></p>
          </div>
          <div class="account-stat mt-3">
            <div class="account-stat-item">
              <p>
                <b>Status:</b> <% if (attendance.status === 'IN') { %>
                <span class="green-dot"></span>
                <% } else if (attendance.status === 'OUT') { %>
                <span class="red-dot"></span>
                <% } %><%= attendance.status %>
              </p>
            </div>
            <div class="account-stat-item">
                <p><b>Days Present:</b> <%= attendance.daysPresent %></p></p>
                <p><b>Days Absent:</b> <%= attendance.daysAbsent %></p>
                <p><b>Days On Leave:</b> <%= attendance.daysOnLeave %></p>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <div class="account-column-2">
            <h3>Daily Time Record:</h3>
        </div>
        <div class="clockin-tab">
          <p><%= getCurrentDateInWords() %></p>
          <div class="clockin-btn">
            <a href="/clockin/<%= logincollections.email %>" class="btn btn-primary" >Clock In</a>
            <a href="/clockout/<%= logincollections.email %>" class="btn btn-primary" style="margin-left: 10px; margin-right: 10px;">Clock Out</a>
          </div>
        </div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" data-bs-toggle="tab" href="#hw" aria-selected="true" role="tab">Hours Worked</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#da" aria-selected="false" tabindex="-1" role="tab">Days Absent</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#dol" aria-selected="false" tabindex="-1" role="tab">Days on Leave</a>
              </li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade show active" id="hw" role="tabpanel">
              <h4 class="mt-4">Record Today:</h4>
              <p class="text-muted">This is the total hours worked today.</p>
              <div class="dtr-view-container">
                <div class="dtr-view-div">
                  <div class="div-title">
                    <p class="dtr-view-title">Total Today:</p>
                  </div>
                  <div class="div-view-count" style="font-size: 30px; margin-bottom: 5px"><%= totalHours %> hours and <%= totalMinutes %> minutes</div>
                </div>
                <div class="dtr-view-div">
                  <div class="div-title">
                    <p class="dtr-view-title">Clocked In:</p>
                  </div>
                  <div class="div-view-count"><% if (attendance.timeIn !== null) { %>
                    <%= attendance.timeIn.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %>
                    <% } else { %> 
                    Not Clocked In
                  <% } %></div>
                </div>
              </div>
              <h4 class="mt-4">Record Before Cutoff:</h4>
              <p class="text-muted">This is the total hours worked before the cutoff.</p>
              <div class="dtr-view-container">

                <div class="dtr-view-div">
                  <div class="div-title">
                    <p class="dtr-view-title">Total Hours Worked:</p>
                  </div>
                  <div class="div-view-count"><%= attendance.hoursWorked.toFixed(2) %> Hour(s)</div>
                </div>
              </div>
              <h4 class="mt-4">Days Present:</h4>
              <p class="text-muted">This table shows the days present.</p>
              <table id="table" class="table table-hover table-striped table-bordered table-responsive text-center">
                <thead>
                  <% if (dayspresent != '') { %>
                  <tr class="table-dark text-center text-uppercase">
                    <th>Date</th>
                    <th>Time In</th>
                    <th>Time Out</th>
                    <th>Total Time</th>
                    <th>Overtime</th>
                    <th>Undertime</th>
                  </tr>
                </thead>
                <tbody>
                  <% 
                    // Sort the dayspresent array by date in descending order
                    const sortedDaysPresent = dayspresent.sort((a, b) => new Date(b.date) - new Date(a.date));
                    sortedDaysPresent.forEach((row, index) => { %>
                  <tr>
                    <td><%= row.date.toISOString().slice(0, 10) %></td>
                    <td><%= row.timeIn.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %></td>
                    <td><% if (row.timeOut !== null) { %><%= row.timeOut.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %><% } else { %>Ongoing<% } %></td>
                    <td><%= row.totalTime.toFixed(2) %></td>
                    <td><%= row.overTime.toFixed(2) %></td>
                    <td><%= row.underTime.toFixed(2) %></td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
              <% } else { %>
                <h1 class="text-center text-secondary mt-5">
                  No Present Days Found
                </h1>
                <% } %>
            </div>
            <div class="tab-pane fade" id="da" role="tabpanel">
              <%= attendance.daysAbsent %>
            </div>
            <div class="tab-pane fade" id="dol" role="tabpanel">
              <h4 class="mt-4">Leave History:</h4>
            </div>
          </div>
      </div>
</body>
<% function getCurrentDateInWords() { const months = ['January', 'February',
  'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October',
  'November', 'December']; const days = ['Sunday', 'Monday', 'Tuesday',
  'Wednesday', 'Thursday', 'Friday', 'Saturday']; const currentDate = new
  Date(); const dayOfWeek = days[currentDate.getDay()]; const month =
  months[currentDate.getMonth()]; const dayOfMonth = currentDate.getDate();
  const year = currentDate.getFullYear(); return `${dayOfWeek}, ${month}
  ${dayOfMonth}, ${year}`; } %>