<%- include('../layouts/user_hris/hris_user_header') -%>
<body>
  <%- include('../layouts/navhris') -%> <%-
  include('../layouts/user_hris/sidenavhris_user') %>
  <div class="page-body">
    <div class="hris-container">
      <div class="hris-header-user">
        <div class="hris-title"></div>
        <h1>Human Resources Information System</h1>
      </div>
    </div>
    <div class="hris-container-status">
      <div class="container-div-hu thw">
        <a class="clickable-link" href="/dtr_user/<%= user._id %>">
          <div class="employee-count">
            <p class="display-label">All Time Hours Worked:</p>
            <p class="display-count">
              <%= (attendance.hoursWorked + attendance.allTimeRecord).toFixed(2) %>
            </p>
          </div>
        </a>
      </div>
      <div class="container-div-hu lv">
        <a class="clickable-link" href="/view_leave/<%= user.email %>">
          <div class="pending-count">
            <p class="display-label">Pending Leave:</p>
            <p class="display-count"><%= leaveapplications.filter((row) => row.status === 'PENDING').length %></p>
          </div>
        </a>
      </div>
    </div>
  </div>
</body>
<%- include('../layouts/footer') %>
