<%- include('../layouts/user_hris/hris_user_header') -%>
<body>
  <%- include('../layouts/navhris') -%> <%-
  include('../layouts/user_hris/sidenavhris_user') %>
  <div class="page-body">
    <div class="page-name">
        <h1>HRIS Settings</h1>
    </div>
    <button class="btn btn-secondary" onclick="window.location.href='/printDTR/<%= user.email %>'">Print DTR</button>
  </div>
</body>
<%- include('../layouts/footer') %>