<%- include('../layouts/user_hris/hris_user_header') -%>
<body>
  <%- include('../layouts/navhris') -%> <%-
  include('../layouts/user_hris/sidenavhris_user') %>
  <div class="page-body">
    <div class="page-name">
        <h1>HRIS Settings</h1>
    </div>
    <div id="alertContainer" class="bottom-right">
        <% if (message) { %>
        <div
          class="alert alert-dismissible alert-<%= message.type %> fade show"
          role="alert"
          id="autoDismissAlert"
        >
          <strong>Attention! </strong><%= message.message %><a
            href="#"
            class="alert-link"
          ></a>
        </div>
        <% } %>
    </div>
    <button class="btn btn-secondary" onclick="window.location.href='/printDTR/<%= user.email %>'">Print DTR</button>
  </div>
</body>
<%- include('../layouts/footer') %>