<%- include('../layouts/user_hris/hris_user_header') -%>
<body>
  <%- include('../layouts/navhris') -%> <%-
  include('../layouts/user_hris/sidenavhris_user') %>
  <div class="page-body fade-in">
    <div class="page-name">
      <h1>VIEW LEAVE:</h1>
      <a href="/view_leave/<%= user.email %>" class="btn btn-secondary">GO Back</a>
    </div>
    <div>
        <table class="table-status">
            <tr>
              <th class="text-uppercase text-center">Last Status:</th>
              <td class="text-center">
                <% if (leaveapplications.recommendation === 'Approved') { %>
                  <span class="status approved">APPROVED</span>
                <% } else if (leaveapplications.recommendation === 'Disapproved') { %>
                  <span class="status disapproved">DISAPPROVED</span>
                <% } else { %>
                  <span class="status pending">PENDING</span>
                <% } %>
              </td>
            </tr>
          </table>          
    </div>      
    <H3 class="text-muted text-uppercase text-center mt-5"
      >Details of application</H3
    >
    <form action="/manage-leave/<%= leaveapplications.id %>" method="post" class="leave-form">
      <p></p>
      <div class="form-group flex-container">
        <div class="form-item">
          <label for="email" class="form-label mt-4">Email address</label>
          <input
            type="text"
            name="email"
            class="form-control"
            id="email"
            placeholder="Enter email"
            value="<%= leaveuser.email %>"
            required
            disabled
          />
        </div>
        <div class="form-item">
          <label for="contact" class="form-label mt-4">Contact Number</label>
          <input
            type="text"
            name="contact"
            class="form-control"
            placeholder="(+639) 123 456 7890"
            value="+<%= leaveuser.contact  %>"
            maxlength="12"
            required
            disabled
          />
        </div>
      </div>
      <div class="form-group flex-container">
        <div class="form-item">
          <label for="InputName" class="form-label mt-4">Date Filing</label>
          <input
            type="text"
            name="dateFiling"
            id="dateFiling"
            class="form-control"
            maxlength="12"
            value="<% if (leaveapplications.AppliedDate) { %><%= leaveapplications.AppliedDate.toISOString().split('T')[0] %><% } else { %> N/A <% } %>"
            disabled
          />
        </div>
        <div class="form-item">
          <label for="exampleInputEmail1" class="form-label mt-4"
            >Position</label
          >
          <input type="text" name="hrrole" class="form-control"
          id="exampleInputEmail1" placeholder="Enter email" value="<% if
          (leaveuser.hrrole === "ROLE 1") { %> Administrative Officer <% } else
          if (leaveuser.hrrole === "ROLE 2") { %> Senior Admin Assistant <% }
          else if (leaveuser.hrrole === "ROLE 3") { %> Admin Officer <% } else
          if (leaveuser.hrrole === "ROLE 4") { %> Admin Assistant <% } else if
          (leaveuser.hrrole === "ROLE 5") { %> Admin Aide <% } else if
          (leaveuser.hrrole === "ADMIN") { %> Department Head <% } else if (leaveuser.hrrole === "ADMIN2") { %> Department Head II <% } %>" required
          disabled />
        </div>
      </div>
      <div class="app-form-container">
        <div class="app-type">
          <label for="Type" class="form-label mt-4">Leave Type</label>
          <select name="Type" class="form-select" id="Type" disabled>
            <option selected><%= leaveapplications.Type %></option>
          </select>
        </div>
        <div class="app-field">
          <label for="StartDate" class="form-label mt-4">Start Date</label>
          <input
            type="date"
            class="form-control"
            id="StartDate"
            name="StartDate"
            value="<%= leaveapplications.StartDate.toISOString().split('T')[0] %>"
            disabled
            required
          />
        </div>
        <div class="app-field">
          <label for="EndDate" class="form-label mt-4">End Date</label>
          <input
            type="date"
            class="form-control"
            id="EndDate"
            name="EndDate"
            value="<%= leaveapplications.EndDate.toISOString().split('T')[0] %>"
            disabled
            required
          />
        </div>
      </div>
      <h4 class="mt-5 text-uppercase">Details of Leave</h4>
      <div class="form-group flex-container">
        <div class="form-item">
          <label
            for="leaveOptions"
            class="form-label mt-4 text-uppercase text-muted"
          >
            In case of vacation/special privilege leave:
          </label>
          <div></div>
          <label
            for="withinPH"
            class="form-label mt-4 text-uppercase text-muted"
          >
            Within the Philippines
          </label>
          <input
            type="text"
            name="withinPH"
            class="form-control"
            id="withinPH"
            value="<%= leaveapplications.withinPH %>"
            disabled
          />
          <label for="abroad" class="form-label mt-4 text-uppercase text-muted">
            Abroad (Specify)
          </label>
          <input
            type="text"
            name="abroad"
            class="form-control"
            id="abroad"
            value="<%= leaveapplications.abroad %>"
            disabled
          />
        </div>
        <div class="form-item">
          <label
            for="leaveOptions"
            class="form-label mt-4 text-uppercase text-muted"
          >
            In case of sick leave:
          </label>
          <div></div>
          <label
            for="inHospital"
            class="form-label mt-4 text-uppercase text-muted"
          >
            In Hospital (Specify illness)
          </label>
          <input
            type="text"
            name="inHospital"
            class="form-control"
            id="inHospital"
            value="<%= leaveapplications.inHospital %>"
            disabled
          />
          <label
            for="outPatient"
            class="form-label mt-4 text-uppercase text-muted"
          >
            Out patient (specify illness)
          </label>
          <input
            type="text"
            name="outPatient"
            class="form-control"
            id="outPatient"
            value="<%= leaveapplications.outPatient %>"
            disabled
          />
        </div>
      </div>
      <div class="form-group flex-container">
        <div class="form-item">
          <label
            for="studyLReason"
            class="form-label mt-4 text-uppercase text-muted"
          >
            In case of study leave:
          </label>
          <div>
            <input type="checkbox" id="studyLReason" name="studyLReason"
            value="Completion of Master's Degree" disabled <% if
            (leaveapplications.studyLReason === "Completion of Master's Degree")
            { %> checked <% } %> />
            <label for="studyLReason">Completion of Master's Degree</label>
          </div>
          <div>
            <input type="checkbox" id="studyLReason" name="studyLReason"
            value="BAR/Board Examination Review" disabled <% if
            (leaveapplications.studyLReason === "BAR/Board Examination Review")
            { %> checked <% } %> />
            <label for="studyLReason">BAR/Board Examination Review</label>
          </div>
        </div>
        <div class="form-item">
          <label
            for="studyLReason"
            class="form-label mt-4 text-uppercase text-muted"
          >
            Other purpose:
          </label>
          <div>
            <input type="checkbox" id="otherPurpose" name="otherPurpose"
            value="Monetization of Leave Credits" disabled <% if
            (leaveapplications.otherPurpose === "Monetization of Leave Credits")
            { %> checked <% } %> />
            <label for="otherPurpose">Monetization of Leave Credits</label>
          </div>
          <div>
            <input type="checkbox" id="otherPurpose" name="otherPurpose"
            value="Terminal Leave" disabled <% if
            (leaveapplications.otherPurpose === "Terminal Leave") { %> checked
            <% } %> />
            <label for="otherPurpose">Terminal Leave</label>
          </div>
        </div>
      </div>
      <div class="border mt-3"></div>
      <h4 class="mt-3 text-uppercase text-center">Details of action on application:</h4>
      <p class="text-muted text-uppercase mt-4">
        Certification of leave credits
      </p>
      <div class="form-group flex-container">
        <div class="form-item">
          <table
            id="table"
            class="table custom-table table-hover table-striped table-bordered text-center"
          >
            <thead>
              <tr class="table-dark">
                <th></th>
                <th>Vacation Leave</th>
                <th>Sick Leave</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="font-size: 15px">Total Earned</td>
                <td class="text-center"><%= userAttendance.availableVL %></td>
                <td class="text-center"><%= userAttendance.availableSL %></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td style="font-size: 15px">Less this application</td>
                <td class="text-center">
                  <%= leaveapplications.VLLess %>
                </td>
                <td class="text-center">
                  <%= leaveapplications.SLLess %>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td style="font-size: 15px">Balance</td>
                <td class="text-center">
                  <%= userAttendance.availableVL %>
                </td>
                <td class="text-center">
                  <%= userAttendance.availableSL %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-item">
          <p class="text-muted text-uppercase mt-4">Recommendation:</p>
          </label>
          <div>
            <input type="checkbox" id="approved" name="recommendation" value="Approved" <% if (leaveapplications.recommendation === "Approved") { %> checked <% } %> disabled>
            <label for="approved" class="<% if (leaveapplications.recommendation === "Approved") { %> text-success fw-bold <% } %>"> For Approval</label>
            </div>
          <div>
            <input type="checkbox" id="approved" name="recommendation" value="Disapproved" <% if (leaveapplications.recommendation === "Disapproved") { %> checked <% } %> disabled>
            <label for="approved" class="<% if (leaveapplications.recommendation === "Disapproved") { %> text-danger fw-bold <% } %>"> For Disapproval</label>
          </div>
        </div>
      </div>
      <div class="form-group flex-container mt-2">
        <div class="form-item">
            <p class="text-muted text-uppercase">APPROVED FOR:</p>
            <div style="display: flex; align-items: center;">
                <input
                    type="number"
                    name="daysWithPay"
                    class="form-control"
                    id="daysWithPay"
                    style="margin-right: 5px; width: 70px; height: 30px;"
                />
                <label for="daysWithPay">days with pay</label>
            </div>
            <div class="mt-2" style="display: flex; align-items: center;">
                <input
                    type="number"
                    name="daysWithoutPay"
                    class="form-control"
                    id="daysWithoutPay"
                    style="margin-right: 5px; width: 70px; height: 30px;"
                />
                <label for="daysWithoutPay">days without pay</label>
            </div>
            <div class="mt-2" style="display: flex; align-items: center;">
                <input
                    type="text"
                    name="daysOthers"
                    class="form-control"
                    id="daysOthers"
                    style="margin-right: 5px; width: 70px; height: 30px;"
                />
                <label for="daysOthers">others (Specify)</label>
            </div>
        </div>
        <div class="form-item">
        <p class="text-muted text-uppercase">DISAPPROVED DUE TO:</p>
        <textarea class="form-control" id="dissaprovedReason" name="dissaprovedReason" rows="4" disabled><%= leaveapplications.dissaprovedReason %></textarea>
        </div>
    </div>
    <% if (leaveapplications.leaveFileAdd1 && leaveapplications.leaveFileAdd2 !== "") { %>
      <div>
      <label for="formFile" class="form-label mt-4 d-flex justify-content-between">Additional Attachment:</label>
          <a href="/download_leaveAttach/<%= leaveapplications.leaveFileAdd1 %>"><%= leaveapplications.leaveFileAdd1 %></a>
          <a href="/download_leaveAttach/<%= leaveapplications.leaveFileAdd2 %>"><%= leaveapplications.leaveFileAdd2 %></a>
    </div>
    <% } %>
    </form>
  </div>
  <%- include('../layouts/footer') %>
</body>
