<%- include('../layouts/user_hris/hris_user_header') -%>
<body>
  <%- include('../layouts/navhris') -%> <%-
  include('../layouts/user_hris/sidenavhris_user') %>
  <div class="page-body">
    <div class="page-name">
      <h1>View Account (<%= logincollections.name %>)</h1>
      <a href="/editacc/<%= encodeURIComponent(user.name) %>" class="btn btn-primary">ACCOUNT SETTINGS</a>
    </div>
    <h4>HRIS Profile Information</h4>
    <p class="text-muted mb-4">
      If you want to edit your profile information, head to the edit profile
      page
    </p>
    <div class="account-basic1">
      <div class="account-image">
        <% if (user.image === "") { %>
            <img src="../images/user.jpg" />
            <% } else { %>
            <img src="../<%= user.image %>" />
        <% } %>
      </div>
      <div class="account-info mt-3">
        <p><b>Name:</b> <%= logincollections.name %> <%= logincollections.lastname %></p>
        <p><b>Email:</b> <%= logincollections.email %></p>
        <p><b>Contact:</b> <%= logincollections.contact %></p>
        <p>
          <b>Birthday:</b> <%=
          logincollections.birthday.toISOString().split('T')[0] %>
        </p>
        <p><b>Department:</b>
          <% if (logincollections.department === "Department 1") { %>
            PESO Department 
          <% } else if (logincollections.department === "Department 2") { %> 
            CC Development Office 
          <% } else if (logincollections.department === "Department 3") { %> 
            OAS Department 
          <% } else if (logincollections.department === "Department 4") { %> 
            BTM Department 
          <% } else if (logincollections.department === "Department 5") { %> 
            BPL Department 
          <% } else if (logincollections.department === "Department 6") { %> 
            City Assessor's Office 
          <% } else if (logincollections.department === "HR Department") { %> 
            HR DEPARTMENT 
          <% } %>
        </p>        
        <p><b>Position:</b>
          <% if (logincollections.hrrole === "ROLE 1") { %> Administrative Officer <% }
          else if (logincollections.hrrole === "ROLE 2") { %> Senior Admin Assistant <% }
          else if (logincollections.hrrole === "ROLE 3") { %> Admin Officer <% } else if
          (logincollections.hrrole === "ROLE 4") { %> Admin Assistant <% } else if
          (logincollections.hrrole === "ROLE 5") { %> Admin Aide <% } else if (logincollections.hrrole
          === "ADMIN") { %> Department Head <% } %>
        </p>
      </div>
    </div>
    <h4 class="mt-4">201 Files:</h4>
    <p class="text-muted mb-4">These are the files that have been submitted by you.</p>
    <div class="profile-stats">
    </div>
    <div class="div-table"><%- include('../layouts/tables/201Table') %></div>
  </div>
  <%- include('../layouts/footer') %>
</body>
