<%- include('../layouts/user_hris/hris_user_header') -%>
<body>
  <%- include('../layouts/navhris') -%> <%-
  include('../layouts/user_hris/sidenavhris_user') %>
  <div class="page-body fade-in">
    <div class="page-name">
      <h1>View Account</h1>
      <a href="/editacc/<%= user.employeeID %>" class="btn btn-primary">ACCOUNT SETTINGS</a>
    </div>
    <h4>HRIS Profile Information</h4>
    <p class="text-muted mb-4">
      If you want to edit your profile information, head to the edit profile
      page
    </p>
    <div class="account-at">
      <div class="account-img">
        <% if (user.image === "") { %>
            <img src="../images/user.jpg" />
            <% } else { %>
            <img src="../<%= user.image %>" />
        <% } %>
      </div>
      <div class="account-in mt-3 text">
        <p><b>Name:</b> <%= logincollections.name %> <%= logincollections.lastname %></p>
        <p><b>Email:</b> <%= logincollections.email %></p>
        
        <p>
          <b>Birthday:</b> <%=
          logincollections.birthday.toISOString().split('T')[0] %>
        </p>
        <p><b>Department:</b>
          <% if (logincollections.department === "Department 1") { %>
            PESO Department 
          <% } else if (logincollections.department === "Department 2") { %> 
            CC Development Office 
          <% } else if (logincollections.department === "Department 3") { %> 
            OAS Department 
          <% } else if (logincollections.department === "Department 4") { %> 
            BTM Department 
          <% } else if (logincollections.department === "Department 5") { %> 
            BPL Department 
          <% } else if (logincollections.department === "Department 6") { %> 
            City Assessor's Office 
          <% } else if (logincollections.department === "HR Department") { %> 
            HR DEPARTMENT 
          <% } %>
        </p>        
        <p><b>Position:</b>
          <% if (logincollections.hrrole === "ROLE 1") { %> Administrative Officer <% }
          else if (logincollections.hrrole === "ROLE 2") { %> Senior Admin Assistant <% }
          else if (logincollections.hrrole === "ROLE 3") { %> Admin Officer <% } else if
          (logincollections.hrrole === "ROLE 4") { %> Admin Assistant <% } else if
          (logincollections.hrrole === "ROLE 5") { %> Admin Aide <% } else if (logincollections.hrrole
          === "ADMIN") { %> Department Head <% } %>
        </p>
      </div>
        <div class="account-stat mt-3">
            <div class="account-stat-item">
                <p><b>Employee ID:</b> <%= logincollections.employeeID %></p>
                <p><b>Employee Status:</b> <%= logincollections.empStatus %></p>
                <p><b>Contact:</b> <%= logincollections.contact %></p>
                <p><b>Verified:</b> <%if (logincollections.verified === true) { %> <span style="color: green;">VERIFIED</span> <% } else { %><span style="color: red;">NOT VERIFIED</span><% } %></p>
                <p><b>Account Status:</b> <%if (logincollections.accountClosed === true) { %> <span style="color: red;">CLOSED</span> <% } else { %><span style="color: green;">ACTIVE</span><% } %></p>
            </div>
        </div>
        <div class="account-stat mt-3">
            <div class="account-stat-item" style="margin-left: 60px;">
                <p><b>Days Present:</b> <%= attendance.daysPresent %></p></p>
                <p><b>Days Absent:</b> <%= attendance.daysAbsent %></p>
                <p><b>Days On Leave:</b> <%= attendance.daysOnLeave %></p>
                <% if (logincollections.empStatus != 'Job Order') { %>
                  <p class="<% if (VLPoints >= 1.25) { %>
                      text-success
                  <% } else if (VLPoints <= 1.24 && VLPoints >= 1.00) { %>
                      text-warning
                  <% } else if (VLPoints > 0.01 && VLPoints <= 0.99) { %>
                      text-danger
                  <% } else { %>
                      text-danger
                <% } %>"><b style="color: rgb(0, 0, 0);">VL Points:</b> <%= VLPoints.toFixed(3) %></p>
                <p class="<% if (SLPoints >= 1.25) { %>
                 text-success
                <% } else if (SLPoints <= 1.24 && SLPoints >= 1.00 ) { %>
                text-warning
                <% } else if (SLPoints <= 0.01 && SLPoints >= 0.99 ) { %>
                text-danger
                <% } else { %>
                text-danger
                <% } %>"><b style="color: rgb(0, 0, 0);">SL Points:</b> <%= SLPoints.toFixed(3) %></p>
                <% } %>   
            </div>
        </div>
    </div>
    <div class="border mt-5"></div>
    <h4 class="mt-4">Personal Data Sheet:</h4>
    <p class="text-muted mb-4">This is the Personal Data Sheet submitted by you.</p>
    <div class="profile-stats">
    </div>
    <div class="div-table">
    </div>
      <% if (!PDS) { %>
      <div class="file-code">
          <button id="submitButton" class="btn btn-secondary">Submit Personal Data Sheet</button>
      </div>
      <% } %>
      <div id="submitPaper" class="submission hidden mb-4">
        <form action="/file-submit" method="POST" enctype="multipart/form-data">
            <fieldset>
                <legend>Upload Personal Data Sheet</legend>
                <p class="text-muted">Please make sure to only submit <strong>PDF</strong> file</p>
                <div class="form-group flex-container">
                    <div class="form-item">
                      <input type="hidden" name="name" value="<%= user.name %>" />
                      <input type="hidden" name="email" value="<%= user.email %>" />
                      <input type="hidden" name="docuType" value="PDS" />
                      <input
                        type="text"
                        name="fileYear"
                        class="form-control"
                        id="orig"
                        placeholder="Enter Year or Description"
                      />
                    </div>
                    <div class="form-item">
                      <input
                        type="file"
                        name="files"
                        class="form-control"
                        accept=".pdf"
                        required
                      />
                    </div>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-primary btn-submit w-100 mt-3" style="text-align: center; display: inline-block;">Submit</button>
        </form>
      </div>
      <% if (PDS) { %>
            <div class="file-container-hris mt-4">
                <div class="file-item text-uppercase">
                    <h3>File Details:</h3>
                    <p><strong>Date Submitted:</strong> <%= PDS.dateSubmitted.toISOString().split('T')[0] %></p>
                    <p><strong>File Description:</strong> <%= PDS.fileYear %></p>
                  </div>
                <div class="file-item text-uppercase">
                    <h3>File Attached:</h3>
                    <p><strong>File Name:</strong> <%= PDS.files.split('\\').pop() %></p>
                </div>
                <div class="dropdown-button">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                      Actions
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li>
                        <a class="dropdown-item" href="/download-201/<%= PDS.files %>">Download</a>
                      </li>
                      <li>
                        <form action="/delete-201/pds/<%= PDS.files %>/<%= user.email %>" method="POST" onsubmit="return confirm('Are you sure you want to delete this file?');">
                          <button type="submit" class="dropdown-item">Delete</button>
                        </form>
                      </li>
                    </ul>
                  </div>
            </div>
      <% } else { %>
        <p class="text-muted text-center">No Personal Data Sheet file submitted.</p>
      <% } %>
      </div>
    </div>
  </div>
</div>
  <%- include('../layouts/footer') %>
</body>
