<%- include('../layouts/header') -%>
<body>
  <%- include('../layouts/nav') -%>
  <% if (user.hrrole !== "ADMIN") { %>
    <%- include('../layouts/sidenavR1') %>
  <% } else { %>
    <%- include('../layouts/sidenav') %>
  <% } %>
  <div class="page-body fade-in">
    <div class="page-name">
      <h1>VIEW TASK:</h1>
      <% if (fileDes === "Archive") { %>
        <a href="/archive_files" class="btn btn-secondary">RETURN TO ARCHIVE</a>
      <% } else { %>
        <a href="/home" class="btn btn-secondary">RETURN TO MANAGER</a>
      <% } %>
    </div>
    <div id="alertContainer" class="bottom-right">
      <% if (message) { %>
      <div
        class="alert alert-dismissible alert-<%= message.type %> fade show"
        role="alert"
        id="autoDismissAlert"
      >
        <strong>Attention! </strong><%= message.message %><a
          href="#"
          class="alert-link"
        ></a>
      </div>
      <% } %>
    </div>
    <div class="page-content rounded-box
      <% if (file.urgentTask === true) { %> urgent <% } %>">
      <div class="file-code">
        <p class="text-uppercase"><%= file.fileCode %></p>
      </div>
      <div class="file-container
        <% if (file.urgentTask === true) { %> urgentTask <% } %>
      ">
        <div class="file-item text-uppercase">
          <h3>File Details:</h3>
          <p><strong>File Name:</strong> <%= file.fileName %></p>
          <p>
            <strong>TASK DUE DATE:</strong> <%=
            file.dueDate.toISOString().split('T')[0] %>
          </p>
          <p><strong>Status:</strong><span class="badge rounded-pill taskBadge
            <% if (file.status === "FOR APPROVAL") { %> 
              bg-danger
            <% } else if (file.status === "APPROVED") { %> 
              bg-success
            <% } else if (file.urgentTask === true) { %>
                bg-primary urgent
            <% } else if (file.status === "ASSIGNED") { %> 
              bg-warning
            <% } else if (file.status === "REASSIGNED") { %> 
              bg-warning
            <% } %>
          "><%= file.status %>
            <% if (file.urgentTask === true) { %>
             - URGENT
            <% } %>
          </span></p>
          <% if (file.dateApproved === null) { %>
            <p><strong>Date Approved:</strong>
              <% if (file.dateApproved !== null) { %>
                <%= file.dateApproved.toISOString().split('T')[0] %>
              <% } %>
            </p>
          <% } %>
          <p><strong>Assigned To:</strong> <%= file.assignTo %></p>
        </div>
        <div class="file-item text-uppercase">
          <h3>Instructions:</h3>
          <p><strong>File Instructions:</strong></p>
          <textarea class="form-control file-instruction" readonly>
          <%= file.fileInstruction %></textarea
          >
        </div>
      </div>
      <div class="file-download mt-3">
        <p>
          <strong>File Attached:</strong> <% if (file.fileUpload === null) { %>
          No file attached. <% } else { %> <%= file.fileUpload %> <% } %>
        </p>
        <a
          href="/download/<%= file.id %>"
          class="btn <% if (file.fileUpload === null) { %>btn-dark disabled <% } else { %>btn-primary <% } %>"
          >Download File</a
        >
      </div>
      <% if (fileDes !== "Archive") { %>
        <div class="file-option">
          <% if (file.assignChange) { %>
            <span class="badge rounded-pill bg-danger text-uppercase">The task assignment was changed by: <%= file.assignChange %></span>
          <% } %>
          <div class="file-dropdown">
            <button class="btn <% if ((user.hrrole !== "ADMIN" || user.hrrole !== "ADMIN2") && file.status !== "ASSIGNED") { %>btn-dark disabled <% } else { %>btn-primary <% } %>
              dropdown-toggle" 
              type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions
            </button>
            <div class="dropdown-menu" id="fileDropdownMenu" aria-labelledby="dropdownMenuButton">
              <% if (user.hrrole === "ADMIN" || user.hrrole === "ADMIN2") { %>
                <a class="dropdown-item" href="#" onclick="showChangeAssigneeModal('<%= file.id %>')">
                  <i class="fa-solid fa-users"></i>
                  Change Assignment
                </a>
              <% } %>
              <% if (user.hrrole === "ADMIN" && file.status === "ASSIGNED" || file.status === "REASSIGNED") { %>
                <a class="dropdown-item" href="#" onclick="showConfirmationModal('mark this task for approval', '<%= file.id %>')"><i class="fa-solid fa-file-circle-check mr-2"></i> For Approval</a>
                <a class="dropdown-item" href="#" onclick="showConfirmationModal('add remarks', '<%= file.id %>')"><i class="fa-solid fa-comment mr-2"></i>
                  <% if (file.remarks === "") { %>
                    Add Remarks
                  <% } else { %>
                    Add Update
                  <% } %>
                </a>
              <% } %>
              <% if (user.hrrole === "ADMIN" && file.status === "FOR APPROVAL") { %>
                <a class="dropdown-item" href="#" onclick="showConfirmationModal('set this task as approved', '<%= file.id %>')"><i class="fa-solid fa-check"></i> Approve</a>
                <a class="dropdown-item" href="#" onclick="showConfirmationModal('mark this task for reassignment', '<%= file.id %>')"><i class="fa-solid fa-arrow-rotate-right"></i> Reassign</a>
              <% } %>
              <% if (user.hrrole === "ADMIN" && file.status === "APPROVED") { %>
                <a class="dropdown-item" href="#" onclick="showConfirmationModal('move this task to archive', '<%= file.id %>')"><i class="fa-solid fa-box-archive"></i> Archive</a>
              <% } %>
            </div>
          </div>
          </div>
      <% } %>
    </div>
      <% if (fileDes !== "Archive" && remarks.length !== 0) { %>
        <div class="timelineNameContainer">
          <h4>Task History:</h4>
          <p class="text-muted">This table shows the history of the task.</p>
        </div>
        <div class="accordion mt-3" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTimeline">
              <button class="accordion-button collapsed acchistory-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTimeline" aria-expanded="false" aria-controls="collapseTimeline">
                TASK TIMELINE:
              </button>
            </h2>
            <div id="collapseTimeline" class="accordion-collapse collapse" aria-labelledby="headingTimeline" data-bs-parent="#accordionExample">
                <% remarks
                  .sort((b, a) => new Date(a.date) - new Date(b.date))
                  .forEach((remark, index) => { %>
                  <% if (remark.fileStatus === "ASSIGNED") { %>
                    <div class="timeline-warning">
                    <div class="timeline-item">
                      <div class="timeline-marker-warning"></div>
                      <div class="timeline-content">
                        <p class="timeline-date">
                          Updated on: <span class="text-primary"><%= remark.date %></span>
                        </p>
                        <p class="timeline-reason">
                          Remarks: <span class="text-warning"><%= remark.remarks %></span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <% } %>
                  <% if (remark.fileStatus === "FOR APPROVAL") { %>
                    <div class="timeline-danger">
                      <div class="timeline-marker-approval"></div>
                      <div class="timeline-content">
                        <p class="timeline-date">
                          Updated on: <span class="text-primary"><%= remark.date %></span>
                        </p>
                        <p class="timeline-reason">
                          Remarks: <span class="text-danger"><%= remark.remarks %></span>
                        </p>
                      </div>
                    </div>
                  <% } %>
                  <% if (remark.fileStatus === "APPROVED") { %>
                    <div class="timeline">
                      <div class="timeline-item">
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                          <p class="timeline-date">
                            Updated on: <span class="text-primary"><%= remark.date %></span>
                          </p>
                          <p class="timeline-reason">
                            Remarks: <span class="text-success"><%= remark.remarks %></span>
                          </p>
                        </div>
                      </div>
                    </div>
                  <% } %>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
      <% } %>      
    </div>
  </div>
<%# Change Assignee Modal %>
<div class="modal fade" id="changeAssigneeModal" tabindex="-1" role="dialog" aria-labelledby="changeAssigneeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeAssigneeModalLabel">Change Assignee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>  
      </div>
      <div class="modal-body">
        <p>Select a new assignee for this task.</p>
        <!-- Assignee Dropdown -->
        <label for="assignTo" class="form-label">Assign To:</label>
        <select name="assignTo" class="form-control mb-4" id="assignTo">
          <option value="" disabled selected>Select a user</option>
          <% users.forEach(user => { 
            if (user.department === "HR Department" && user.hrrole !== "ADMIN" && !user.accountClosed) { %>
              <option value="<%= user.email %>"><strong><%= user.name %> <%= user.lastname %></strong> - 
                <% if (user.hrrole === "ROLE 1") { %> Administrative Officer <% }
                  else if (user.hrrole === "ROLE 2") { %> Senior Admin Assistant <% }
                  else if (user.hrrole === "ROLE 3") { %> Admin Officer <% }
                  else if (user.hrrole === "ROLE 4") { %> Admin Assistant <% }
                  else if (user.hrrole === "ROLE 5") { %> Admin Aide <% } %>
            </option>
            <% } 
          }) %>
        </select>
        <input type="hidden" name="empID" id="empID" value="<%= user.employeeID %>">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="confirmChange">Confirm</button>
        <button type="button" class="btn btn-secondary" id="cancelAction">Cancel</button>
      </div>
    </div>
  </div>
</div>
  <%- include('../layouts/modals/confirm') %>
  <%- include('../layouts/footer') -%>
</body>
