<%- include('../layouts/header') -%>
<body>
  <%- include('../layouts/nav') -%>
  <% if (user.hrrole !== "ADMIN") { %>
    <%- include('../layouts/sidenavR1') %>
  <% } else { %>
    <%- include('../layouts/sidenav') %>
  <% } %>
  <div class="page-body fade-in">
    <div class="page-name">
      <h1>VIEW TASK:</h1>
      <% if (fileDes === "Archive") { %>
        <a href="/archive_files" class="btn btn-secondary">RETURN TO ARCHIVE</a>
      <% } else { %>
        <a href="/home" class="btn btn-secondary">RETURN TO MANAGER</a>
      <% } %>
    </div>
    <div id="alertContainer" class="bottom-right">
      <% if (message) { %>
      <div
        class="alert alert-dismissible alert-<%= message.type %> fade show"
        role="alert"
        id="autoDismissAlert"
      >
        <strong>Attention! </strong><%= message.message %><a
          href="#"
          class="alert-link"
        ></a>
      </div>
      <% } %>
    </div>
    <div class="page-content">
      <div class="file-code">
        <p><%= file.fileCode %></p>
      </div>
      <div class="file-container">
        <div class="file-item text-uppercase">
          <h3>File Details:</h3>
          <p><strong>File Name:</strong> <%= file.fileName %></p>
          <p>
            <strong>TASK DUE DATE:</strong> <%=
            file.dueDate.toISOString().split('T')[0] %>
          </p>
          <p <% if (file.status === 'REJECTED') { %> class="text-danger" <% } %>
            <% if (file.status === 'APPROVED') { %> class="text-success" <% } %> 
            <% if (file.status === 'ASSIGNED' || file.status === 'FOR APPROVAL' || file.status === 'REASSIGNED') { %> class="text-warning" <% } %>
            style="font-weight: 800"
          ><strong>Status:</strong> <%= file.status %></p>
          <% if (file.dateApproved === null) { %>
            <p><strong>Date Approved:</strong>
              <% if (file.dateApproved !== null) { %>
                <%= file.dateApproved.toISOString().split('T')[0] %>
              <% } %>
            </p>
          <% } %>
          <p><strong>Assigned To:</strong> <%= file.assignTo %></p>
        </div>
        <div class="file-item text-uppercase">
          <h3>Instructions:</h3>
          <p><strong>File Instructions:</strong></p>
          <textarea class="form-control file-instruction" readonly>
          <%= file.fileInstruction %></textarea
          >
        </div>
      </div>
      <div class="file-download mt-3">
        <p>
          <strong>File Attached:</strong> <% if (file.fileUpload === null) { %>
          No file attached. <% } else { %> <%= file.fileUpload %> <% } %>
        </p>
        <a
          href="/download/<%= file.id %>"
          class="btn <% if (file.fileUpload === null) { %>btn-dark disabled <% } else { %>btn-primary <% } %>"
          >Download File</a
        >
      </div>
      <% if (fileDes !== "Archive" && file.status !== "ASSIGNED" && file.status !== "REASSIGNED") { %>
        <div class="file-option">
          <div class="file-dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions
            </button>
            <div class="dropdown-menu" id="fileDropdownMenu" aria-labelledby="dropdownMenuButton">
              <% if (user.hrrole !== "ADMIN" && file.status === "ASSIGNED" || file.status === "REASSIGNED") { %>
                <a class="dropdown-item" href="#" onclick="showConfirmationModal('mark this task for approval', '<%= file.id %>')"><i class="fa-solid fa-file-circle-check mr-2"></i> For Approval</a>
                <a class="dropdown-item" href="#" onclick="showConfirmationModal('add remarks', '<%= file.id %>')"><i class="fa-solid fa-comment mr-2"></i>
                  <% if (file.remarks === "") { %>
                    Add Remarks
                  <% } else { %>
                    Update Remarks
                  <% } %>
                </a>
              <% } %>
              <% if (user.hrrole === "ADMIN" && file.status === "FOR APPROVAL") { %>
                <a class="dropdown-item" href="#" onclick="showConfirmationModal('set this task as approved', '<%= file.id %>')"><i class="fa-solid fa-check"></i> Approve</a>
                <a class="dropdown-item" href="#" onclick="showConfirmationModal('mark this task for reassignment', '<%= file.id %>')"><i class="fa-solid fa-arrow-rotate-right"></i> Reassign</a>
              <% } %>
              <% if (user.hrrole === "ADMIN" && file.status === "APPROVED") { %>
                <a class="dropdown-item" href="#" onclick="showConfirmationModal('move this task to archive', '<%= file.id %>')"><i class="fa-solid fa-box-archive"></i> Archive</a>
              <% } %>
            </div>
          </div>
          </div>
        </div>
      <% } %>
      <% if (fileDes !== "Archive" && file.remarks !== "") { %>
        <div class="remarks-div mt-3">
          <div class="remarks-header">
            <h3 class="text-uppercase" style="font-weight: 700;">Task Remarks:</h3>
            <% if (file.remarksDate !== null) { %>
              <p class="remarks-update text-muted">
                Updated on: <%= file.remarksDate.toISOString().split('T')[0] %> at <%= file.remarksDate.toTimeString().split(' ')[0].slice(0, 5) %>
              </p>              
            <% } %>
          </div>
          <textarea 
            class="form-control"
            id="fileComment"
            placeholder="<%= file.remarks %>"
            rows="4"
            disabled
          ></textarea>
        </div>
      <% } %>
    </div>
  </div>
  <%- include('../layouts/modals/confirm') %>
  <%- include('../layouts/footer') -%>
</body>
