<%- include('../layouts/header') -%>
<body>
  <%- include('../layouts/nav') -%> <%- include('../layouts/sidenavR1') %>
  <div class="page-body">
    <div class="page-name">
      <h1>VIEW FILE:</h1>
      <a href="/home" class="btn btn-secondary">Go Back</a>
    </div>
    <div id="alertContainer" class="bottom-right">
      <% if (message) { %>
      <div
        class="alert alert-dismissible alert-<%= message.type %> fade show"
        role="alert"
        id="autoDismissAlert"
      >
        <strong>Attention! </strong><%= message.message %><a
          href="#"
          class="alert-link"
        ></a>
      </div>
      <% } %>
    </div>
    <div class="page-content">
      <div class="file-code">
        <p><%= file.fileCode %></p>
      </div>
      <div class="file-container">
        <div class="file-item text-uppercase">
          <h3>File Details:</h3>
          <p><strong>File Name:</strong> <%= file.fileName %></p>
          <P><strong>File Type:</strong> <%= file.fileType %></P>
          <p>
            <strong>Date Submitted:</strong> <%=
            file.dateSubmitted.toISOString().split('T')[0] %>
          </p>
          <p><strong>Status:</strong> <%= file.status %></p>
          <p><strong>Assigned To:</strong> <%= file.assignTo %></p>
        </div>
        <div class="file-item text-uppercase">
          <h3>Instructions:</h3>
          <p><strong>File Instructions:</strong></p>
          <textarea class="form-control" readonly>
<%= file.fileInstruction %></textarea
          >
        </div>
      </div>
      <div class="file-download mt-3">
        <p>
          <strong>File Attached:</strong> <% if (file.fileUpload === null) { %>
          No file attached. <% } else { %> <%= file.fileUpload %> <% } %>
        </p>
        <a
          href="/download/<%= file.id %>"
          class="btn btn-primary <% if (file.fileUpload === null) { %> disabled <% } %>"
          >Download File</a
        >
      </div>
      <div class="file-option">
        <div class="file-buttons">
          <a
            href="/reject-file/<%= file.id %>"
            class="btn btn-danger"
            onclick="return confirm('Are you sure you want to reject this file?');"
            ><img src="../images/svg/xmark-solid.svg" class="icon" />REJECT</a
          >
          <a
            href="/pending-file/<%= file.id %>"
            class="btn btn-warning"
            onclick="return confirm('Are you sure you want to mark this file as pending?');"
            ><img
              src="../images/svg/hourglass-start-solid.svg"
              class="icon"
            />PENDING</a
          >
          <a
            href="/revision-file/<%= file.id %>"
            class="btn btn-dark"
            onclick="return confirm('Are you sure you want send this file for revision?');"
            ><img
              src="../images/svg/rotate-right-solid.svg"
              class="icon"
            />REVISION</a
          >
          <a
            href="/approve-file/<%= file.id %>"
            class="btn btn-success"
            onclick="return confirm('Are you sure you want to approve this file?');"
            ><img src="../images/svg/check-solid.svg" class="icon" />APPROVE</a
          >
        </div>
      </div>
    </div>
  </div>
  <%- include('../layouts/footer') -%>
</body>
