<%- include('../layouts/header') -%>
<body>
  <%- include('../layouts/nav') -%> <%- include('../layouts/sidenav') %>
  <div class="page-body">
    <div class="page-name">
      <h1>VIEW FILE:</h1>
      <a href="/home" class="btn btn-secondary">Go Back</a>
    </div>
    <div id="alertContainer" class="bottom-right">
      <% if (message) { %>
      <div
        class="alert alert-dismissible alert-<%= message.type %> fade show"
        role="alert"
        id="autoDismissAlert"
      >
        <strong>Attention! </strong><%= message.message %><a
          href="#"
          class="alert-link"
        ></a>
      </div>
      <% } %>
    </div>
    <div class="page-content">
      <div class="file-code">
        <p><%= file.fileCode %></p>
      </div>
      <div class="file-container">
        <div class="file-item text-uppercase">
          <h3>File Details:</h3>
          <p><strong>File Name:</strong> <%= file.fileName %></p>
          <p <% if (file.fileType === 'confidential') { %>
           class="text-danger" style="font-weight: 800"
          <% } %>><strong>File Type:</strong> <%= file.fileType %></p>
          <p>
            <strong>Date Submitted:</strong> <%=
            file.dateSubmitted.toISOString().split('T')[0] %>
          </p>
          <p><strong>Status:</strong> <%= file.status %></p>
          <p><strong>Assigned To:</strong> <%= file.assignTo %></p>
        </div>
        <div class="file-item text-uppercase">
          <h3>Instructions:</h3>
          <p><strong>File Instructions:</strong></p>
          <textarea class="form-control" readonly>
<%= file.fileInstruction %></textarea
          >
        </div>
      </div>
      <div class="file-download mt-3">
        <p>
          <strong>File Attached:</strong> <% if (file.fileUpload === null) { %>
          No file attached. <% } else { %> <%= file.fileUpload %> <% } %>
        </p>
        <a
          href="/download/<%= file.id %>"
          class="btn btn-primary <% if (file.fileUpload === null) { %> disabled <% } %>"
          >Download File</a
        >
      </div>
      <div class="file-option">
        <div class="file-buttons">
            <!-- Archive Button -->
            <button class="btn btn-secondary" onclick="showConfirmationModal('Archive', '<%= file.id %>')"><img
              src="../images/svg/box-archive-solid.svg"
              class="icon"
            />Archive</button>
            <!-- Reject Button -->
            <button class="btn btn-danger" onclick="showConfirmationModal('Reject', '<%= file.id %>')"><img
              src="../images/svg/rotate-right-solid.svg"
              class="icon"
            />Reject</button>

            <!-- Pending Button -->
            <button class="btn btn-warning" onclick="showConfirmationModal('Pending', '<%= file.id %>')"><img
              src="../images/svg/hourglass-start-solid.svg"
              class="icon"
            />Pending</button>

            <!-- Revision Button -->
            <button class="btn btn-dark" onclick="showConfirmationModal('Revision', '<%= file.id %>')"><img
              src="../images/svg/rotate-right-solid.svg"
              class="icon"
            />Revision</button>

            <!-- Approve Button -->
            <button class="btn btn-success" onclick="showConfirmationModal('Approve', '<%= file.id %>')"><img src="../images/svg/check-solid.svg" class="icon" />Approve</button>
        </div>
      </div>
    </div>
  </div>
  <%- include('../layouts/modals/confirm') %>
  <%- include('../layouts/footer') -%>
</body>
