<%- include('../layouts/hrislayout') -%>
<body>
  <%- include('../layouts/navhris') -%> <%- include('../layouts/sidenavhris') %>
  <div class="page-body fade-in">
    <div class="page-name">
      <h1>Add Employee</h1>
    </div>
    <div id="alertContainer" class="bottom-right">
      <% if (message) { %>
      <div
        class="alert alert-dismissible alert-<%= message.type %> fade show"
        role="alert"
        id="autoDismissAlert"
      >
        <strong>Attention! </strong><%= message.message %><a
          href="#"
          class="alert-link"
        ></a>
      </div>
      <% } %>
    </div>
    <div class="rounded-box">
      <form
        action="/add_employee"
        method="POST"
        enctype="multipart/form-data"
      >
      <fieldset>
        <div class="form-group">
          <label for="InputName" class="form-label mt-4">Name</label>
          <input
            type="text"
            name="name"
            class="form-control"
            aria-describedby="emailHelp"
            placeholder="Enter name"
            required
          />
        </div>
        <div class="form-group">
          <label for="InputName" class="form-label mt-4">Birthday</label>
          <input
            type="date"
            name="birthday"
            class="form-control"
            required
          />
        </div>
        <div class="form-group flex-container">
          <div class="form-item">
            <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
            <input
              type="text"
              name="email"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Enter email"
              required
            />
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-item">
            <label for="InputName" class="form-label mt-4">Contact Number</label>
            <input
              type="text"
              name="contact"
              class="form-control"
              placeholder="(+639) 123 456 7890"
              maxlength="12"
              required
            />
          </div>
        </div>          
        <div class="form-group">
          <label for="exampleInputPassword1" class="form-label mt-4"
            >Password</label
          >
          <input
            type="password"
            name="password"
            class="form-control"
            id="exampleInputPassword1"
            autocomplete="off"
          />
        </div>
        <div class="form-group">
          <label for="formFile" class="form-label mt-4">Account Image</label>
          <input class="form-control" type="file" name="image" id="formFile"/>
        </div>
        <div class="border mt-4"></div>
        <div class="mt-4">
          <h4>HR Information:</h4>
        </div>
        <div class="form-group flex-container">
          <div class="form-item">
            <label for="department" class="form-label mt-4">Department</label>
            <select
              type="text"
              name="department"
              class="form-select"
              id="department"
            >
              <option value="Department 1">Department 1</option>
              <option value="Department 2">Department 2</option>
              <option value="HR Department">HR Department</option>
            </select>
          </div>
          <div class="form-item">
            <label for="hrrole" class="form-label mt-4">HR Role</label>
            <select
              type="text"
              name="hrrole"
              class="form-select"
              id="hrrole"
            >
              <option value="ROLE 1">Administrative Officer</option>
              <option value="ROLE 2">Senior Admin Assistant</option>
              <option value="ROLE 3">Admin Officer</option>
              <option value="ROLE 4">Admin Assistant</option>
              <option value="ROLE 5">Admin Aide</option>
            </select>
          </div>
        </div>
        <div class="form-group flex-container">
          <div class="form-item-2">
            <label for="dayOff" class="form-label mt-4">Day Offs:</label>
            <select
              name="dayOff"
              id="dayOff"
              class="form-select"
              multiple
            >
              <option value="Sunday">Sunday</option>
              <option value="Monday">Monday</option>
              <option value="Tuesday">Tuesday</option>
              <option value="Wednesday">Wednesday</option>
              <option value="Thursday">Thursday</option>
              <option value="Friday">Friday</option>
              <option value="Saturday">Saturday</option>
            </select>
          </div>
      </fieldset>
        <input type="submit" value="Register Employee" class="btn btn-success btn mt-4" />
        <a
          href="/view_employees"
          class="btn btn-secondary mt-4"
          style="margin-left: 10px"
          >CANCEL</a
        >
      </form>
    </div>
  </div>
</body>
<%- include('../layouts/footer') %>
