<%- include('../layouts/user_hris/hris_user_header') -%>
<body>
  <%- include('../layouts/navhris') -%> <%-
  <%- include('../layouts/sidenavP') %>
    <div class="page-body">
        <div class="page-name">
            <h1>Appointment Paper</h1>
            <a href="/view_profile/<%= user.email %>" class="btn btn-secondary">Go Back</a>
        </div>
        <div id="alertContainer" class="bottom-right">
            <% if (message) { %>
            <div
              class="alert alert-dismissible alert-<%= message.type %> fade show"
              role="alert"
              id="autoDismissAlert"
            >
              <strong>Attention! </strong><%= message.message %><a
                href="#"
                class="alert-link"
              ></a>
            </div>
            <% } %>
          </div>
          <div class="file-code">
            <button id="submitButton" class="btn btn-secondary">Submit Appointment Paper</button>
        </div>
        <div id="submitPaper" class="submission hidden mt-4">
          <form action="/submit_paper" method="POST" enctype="multipart/form-data">
              <fieldset>
                  <legend>Upload Appointment Paper</legend>
                  <p class="text-muted">Please make sure to only upload <strong>PDF</strong> files with your surname at the start.</p>
                  <div class="form-group flex-container">
                      <div class="form-item">
                        <input type="hidden" name="name" value="<%= user.name %>" />
                        <input type="hidden" name="email" value="<%= user.email %>" />
                        <label for="orig" class="form-label mt-4">Original</label>
                        <input
                          type="text"
                          name="orig"
                          class="form-control"
                          id="orig"
                          placeholder="Enter year"
                        />
                      </div>
                      <div class="form-item">
                        <label for="upload" class="form-label mt-4">Upload</label>
                        <input
                          type="file"
                          name="origFile"
                          class="form-control"
                        />
                      </div>
                  </div>
                  <div class="form-group flex-container">
                      <div class="form-item">
                        <label for="reappoint" class="form-label mt-4">Reappointment</label>
                        <input
                          type="text"
                          name="reappoint"
                          class="form-control"
                          id="reappoint"
                          placeholder="Enter year"
                        />
                      </div>
                      <div class="form-item">
                        <label for="upload" class="form-label mt-4">Upload</label>
                        <input
                          type="file"
                          name="reappointFile"
                          class="form-control"
                        />
                      </div>
                  </div>
                  <div class="form-group flex-container">
                      <div class="form-item">
                        <label for="reemploy" class="form-label mt-4">Reemployment</label>
                        <input
                          type="text"
                          name="reemploy"
                          class="form-control"
                          id="reemploy"
                          placeholder="Enter year"
                        />
                      </div>
                      <div class="form-item">
                        <label for="upload" class="form-label mt-4">Upload</label>
                        <input
                          type="file"
                          name="reemployFile"
                          class="form-control"
                        />
                      </div>
                  </div>
                  <div class="form-group flex-container">
                      <div class="form-item">
                        <label for="prom" class="form-label mt-4">Promotion</label>
                        <input
                          type="text"
                          name="prom"
                          class="form-control"
                          id="prom"
                          placeholder="Enter year"
                        />
                      </div>
                      <div class="form-item">
                        <label for="upload" class="form-label mt-4">Upload</label>
                        <input
                          type="file"
                          name="promFile"
                          class="form-control"
                        />
                      </div>
                  </div>
                  <div class="form-group flex-container">
                      <div class="form-item">
                        <label for="trans" class="form-label mt-4">Transfer</label>
                        <input
                          type="text"
                          name="trans"
                          class="form-control"
                          id="trans"
                          placeholder="Enter year"
                        />
                      </div>
                      <div class="form-item">
                        <label for="upload" class="form-label mt-4">Upload</label>
                        <input
                          type="file"
                          name="transFile"
                          class="form-control"
                        />
                      </div>
                  </div>
                  <div class="form-group flex-container">
                      <div class="form-item">
                        <label for="transProm" class="form-label mt-4">Transfer with Promotion</label>
                        <input
                          type="text"
                          name="transProm"
                          class="form-control"
                          id="transProm"
                          placeholder="Enter year"
                        />
                      </div>
                      <div class="form-item">
                        <label for="upload" class="form-label mt-4">Upload</label>
                        <input
                          type="file"
                          name="transPromFile"
                          class="form-control"
                        />
                      </div>
                  </div>
              </fieldset>
              <button type="submit" class="btn btn-primary btn-submit w-100 mt-3" style="text-align: center; display: inline-block;">Submit</button>
          </form>
        </div>
          <div class="page-content mt-3">
            <% if (appPaper !== "") { %>
            <% if (appPaper.orig !== "") { %>
            <div class="file-container">
                <div class="file-item text-uppercase">
                    <h3>Original:</h3>
                    <p><strong>File Year:</strong> <%= appPaper.orig %></p>
                  </div>
                <div class="file-item text-uppercase">
                    <h3>File Attached:</h3>
                    <p><strong>File Name:</strong> <%= appPaper.origFile.split('\\').pop() %></p>
                    <a
                      href="/download-201/<%= appPaper.origFile.split('\\').pop() %>"
                      class="btn btn-primary download-file"
                      >Download File</a
                    >
                </div>
            </div>
            <% } %>
            <% if (appPaper.prom !== "") { %>
            <div class="file-container mt-4">
                <div class="file-item text-uppercase">
                    <h3>Promotion:</h3>
                    <p><strong>File Year:</strong> <%= appPaper.prom %></p>
                  </div>
                <div class="file-item text-uppercase">
                    <h3>File Attached:</h3>
                    <p><strong>File Name:</strong> <% if (appPaper.promFile !== null) { %>
                        <%= appPaper.promFile.split('\\').pop() %>
                    <% } %></p>
                    <a
                      <% if (appPaper.promFile !== null) { %> href="/download-201/<%= appPaper.promFile.split('\\').pop() %>" <% } else { %> href="#" <% } %>
                      class="btn btn-primary download-file"
                      >Download File</a
                    >
                </div>
            </div>
            <% } %>
            <% if (appPaper.reappoint !== "") { %>
            <div class="file-container mt-4">
                <div class="file-item text-uppercase">
                    <h3>Reappointment:</h3>
                    <p><strong>File Year:</strong> <%= appPaper.reappoint %></p>
                  </div>
                <div class="file-item text-uppercase">
                    <h3>File Attached:</h3>
                    <p><strong>File Name:</strong> <% if (appPaper.reappointFile !== null) { %>
                        <%= appPaper.reappointFile.split('\\').pop() %>
                    <% } %></p>
                    <a
                      <% if (appPaper.reappointFile !== null) { %> href="/download-201/<%= appPaper.reappointFile.split('\\').pop() %>" <% } else { %> href="#" <% } %>
                      class="btn btn-primary download-file"
                      >Download File</a
                    >
                </div>
            </div>
            <% } %>
            <% if (appPaper.reemploy !== "") { %>
                <div class="file-container mt-4">
                    <div class="file-item text-uppercase">
                        <h3>Reemployment:</h3>
                        <p><strong>File Year:</strong> <%= appPaper.reemploy %></p>
                      </div>
                    <div class="file-item text-uppercase">
                        <h3>File Attached:</h3>
                        <p><strong>File Name:</strong> <% if (appPaper.reemployFile !== null) { %>
                            <%= appPaper.reemployFile.split('\\').pop() %>
                        <% } %></p>
                        <a
                          <% if (appPaper.reemployFile !== null) { %> href="/download-201/<%= appPaper.reemployFile.split('\\').pop() %>" <% } else { %> href="#" <% } %>
                          class="btn btn-primary download-file"
                          >Download File</a
                        >
                    </div>
                </div>
            <% } %>
            <% if (appPaper.transfer !== "") { %>
                <div class="file-container mt-4">
                    <div class="file-item text-uppercase">
                        <h3>Transfer:</h3>
                        <p><strong>File Year:</strong> <%= appPaper.transfer %></p>
                      </div>
                    <div class="file-item text-uppercase">
                        <h3>File Attached:</h3>
                        <p><strong>File Name:</strong> <% if (appPaper.transferFile !== null) { %>
                            <%= appPaper.transferFile.split('\\').pop() %>
                        <% } %></p>
                        <a
                          <% if (appPaper.transferFile !== null) { %> href="/download-201/<%= appPaper.transferFile.split('\\').pop() %>" <% } else { %> href="#" <% } %>
                          class="btn btn-primary download-file"
                          >Download File</a
                        >
                    </div>
                </div>
            <% } %>
            <% if (appPaper.transProm !== "") { %>
                <div class="file-container mt-4">
                    <div class="file-item text-uppercase">
                        <h3>Transfer with Promotion:</h3>
                        <p><strong>File Year:</strong> <%= appPaper.transProm %></p>
                      </div>
                    <div class="file-item text-uppercase">
                        <h3>File Attached:</h3>
                        <p><strong>File Name:</strong> <% if (appPaper.transPromFile !== null) { %>
                            <%= appPaper.transPromFile.split('\\').pop() %>
                        <% } %></p>
                        <a
                          <% if (appPaper.transPromFile !== null) { %> href="/download-201/<%= appPaper.transPromFile.split('\\').pop() %>" <% } else { %> href="#" <% } %>
                          class="btn btn-primary download-file"
                          >Download File</a
                        >
                    </div>
                </div>
            <% } %>
          </div>
          <% } else { %>
            <p class="text-muted text-center mt-4">No Appointment Papers Submitted</p>
          <% } %>
    </div>
<%- include('../layouts/footer') %>