<%- include('../layouts/hrislayout') -%>
<body>
  <%- include('../layouts/navhrisP') -%>
  <%- include('../layouts/sidenavP') %>
  <%- include('../layouts/footer') %>
  <script>
    function updateClock() {
      const now = new Date();
      let hours = now.getHours();
      const minutes = now.getMinutes().toString().padStart(2, "0");
      let timeString = "";
  
      // Convert hours to 12-hour format and determine AM/PM
      const amPm = hours >= 12 ? "PM" : "AM";
      hours = hours % 12 || 12; // Convert midnight (0) to 12 AM
  
      timeString = `${hours}:${minutes} ${amPm}`;
      document.getElementById("currentTime").textContent = timeString;
  
      // Change background based on time of day
      const currentTime = document.getElementById("bgTime");
      if (hours >= 5 && hours < 12 && amPm === "AM") {
        // Morning background
        currentTime.style.backgroundImage = "url('../images/morning.png')";
      } else if (hours <= 12 && hours <= 6 && amPm === "PM") {
        // Afternoon background
        currentTime.style.backgroundImage = "url('../images/afternoon.png')";
      } else {
        // Evening/Night background
        currentTime.style.backgroundImage = "url('../images/night.png')";
      }
    }
  
    // Update the clock and background every second
    setInterval(updateClock, 1000);
  
    // Initial call to set the clock and background immediately when the page loads
    updateClock();
  </script>
  <div class="page-body fade-in">
    <div class="page-name">
      <h1 class="text-uppercase">Daily Time Record</h1>
      <h3><%= getCurrentDateInWords() %></h3>
    </div>
    <div class="page-extra">
      <p class="page-description text-muted">
        View employee's daily time record here.
      </p>
      <a href="/DTRSettings" class="btn btn-secondary"><i class="fa-solid fa-gear"></i> Settings</a>
    </div>
    <div class="dtr-container">
      <% let inCount = 0; %> <% mergedData.forEach(employee => { %> <%
      employee.attendanceData.forEach(attendance => { %> <% if
      (attendance.status === 'IN') { inCount += 1; } %> <% }); %> <% }); %>
      <div id="bgTime" class="dtr-div div-time">
        <div class="div-title title-time">
          <p>Current Time:</p>
        </div>
        <div class="div-count title-time">
          <div class="mb-3" id="currentTime"></div>
        </div>
      </div>
      <div class="dtr-div clocked-in">
        <div class="div-title emp-count">
          <p>Employees Currently Clocked In:</p>
        </div>
        <div class="div-count emp-count">
          <p><span class="green-dot status-count"></span><%= inCount %></p>
        </div>
      </div>
    </div>
    <div class="border mb-4 mt-3"></div>
    <input
      class="form-control me-sm-2"
      type="text"
      id="accInput"
      placeholder="Search"
      style="margin-bottom: 20px"
      oninput="searchTables()"
    />
    <% if (DTRApproval.length > 0) { %>
      <div class="alert alert-dismissible alert-warning">
        <h4 class="alert-heading">Attention!</h4>
        <p class="mb-0">There are currently <strong><%= DTRApproval.length %></strong> DTR file(s) that needs your attention.
          <a href="/DTRApproval" class="alert-link">Click here</a> to view and approve them.  
        </p>
      </div>
    <% } %>
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link active"
          data-bs-toggle="tab"
          id="allEmployees-tab"
          href="#allEmployees"
          aria-selected="true"
          role="tab"
          >All Employees</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          id="hrDepartment-tab"
          href="#hrDepartment"
          aria-selected="false"
          tabindex="-1"
          role="tab"
          >HR Department</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          id="hrDepartment-tab"
          href="#department1"
          aria-selected="false"
          tabindex="-1"
          role="tab"
          >PESO Department</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          id="hrDepartment-tab"
          href="#department2"
          aria-selected="false"
          tabindex="-1"
          role="tab"
          >CC DEPARTMENT</a
        >
      </li>
      <li class="nav-item nav-bg" role="presentation">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          href="#department3"
          aria-selected="false"
          tabindex="-1"
          role="tab"
          >OAS Department</a
        >
      </li>
      <li class="nav-item nav-bg" role="presentation">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          href="#department4"
          aria-selected="false"
          tabindex="-1"
          role="tab"
          >BTM Department</a
        >
      </li>
      <li class="nav-item nav-bg" role="presentation">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          href="#department5"
          aria-selected="false"
          tabindex="-1"
          role="tab"
          >BPL Department</a
        >
      </li>
      <li class="nav-item nav-bg" role="presentation">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          href="#department6"
          aria-selected="false"
          tabindex="-1"
          role="tab"
          >CAD Department</a
        >
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade show active" id="allEmployees" role="tabpanel">
        <h4 class="mt-4">All Employees:</h4>
        <table
          id="allEmployeesTable"
          class="table table-hover table-striped table-bordered mt-4"
        >
          <thead class="table-dark">
            <tr>
              <th>Name</th>
              <th>Department</th>
              <th>Absents</th>
              <th>Clock-In</th>
              <th>Clock-Out</th>
              <th>Status</th>
              <th>Action</th>
              <!-- Add other relevant columns -->
            </tr>
          </thead>
          <tbody>
            <% mergedData.forEach(employee => { %> <%
            employee.attendanceData.forEach(attendance => { %>
            <tr>
              <td><%= employee.name %> <%= employee.lastname %></td>
              <td><%= employee.department %></td>
              <td><%= attendance.daysAbsent %></td>
              <td>
                <% if (attendance.timeIn === null) { %> 00:00 <% } else { %> <%=
                attendance.timeIn.toLocaleTimeString([], { hour: '2-digit',
                minute: '2-digit' }) %> %> <% } %>
              </td>
              <td><% if (attendance.timeOut === null) { %> 00:00 <% } %></td>
              <td style="font-weight: 600">
                <% if (attendance.status === 'OUT') { %>
                <span class="red-dot"></span>
                <% } else if (attendance.status === 'IN') { %>
                <span class="green-dot"></span>
                <% } %> <%= attendance.status %>
              </td>
              <td class="action-buttons">
                <a href="/view-dtr/<%= employee._id %>" class="icon-square"
                  ><i class="fa-solid fa-eye"></i
                ></a>
                <a href="#" class="icon-square">
                  <i class="fa-solid fa-pen-to-square"></i>
                </a>
              </td>
            </tr>
            <% }); %> <% }); %>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="hrDepartment" role="tabpanel">
        <h4 class="mt-4">HR Department:</h4>
        <table
          id="hrDepartment"
          class="table table-hover table-striped table-bordered mt-4"
        >
          <thead class="table-dark">
            <tr>
              <th>Name</th>
              <th>Absents</th>
              <th>Clock-In</th>
              <th>Clock-Out</th>
              <th>Status</th>
              <th>Action</th>
              <!-- Add other relevant columns -->
            </tr>
          </thead>
          <tbody>
            <%
                const hrEmployees = mergedData.filter(employee => employee.department === "HR Department");

                if (hrEmployees.length === 0) {
                %>
                    <tr>
                        <td colspan="7">No Employees Found</td>
                    </tr>
                <%
                } else {
                    hrEmployees.forEach(employee => {
                        employee.attendanceData.forEach(attendance => {
                %>
                            <tr>
                                <td><%= employee.name %> <%= employee.lastname %></td>
                                <td><%= attendance.daysAbsent %></td>
                                <td>
                                    <% if (attendance.timeIn === null) { %> 00:00 <% } else { %> <%= attendance.timeIn.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %> <% } %>
                                </td>
                                <td><% if (attendance.timeOut === null) { %> 00:00 <% } else { %> <%= attendance.timeOut.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %> <% } %></td>
                                <td style="font-weight: 600">
                                    <% if (attendance.status === 'OUT') { %>
                                        <span class="red-dot"></span>
                                    <% } else if (attendance.status === 'IN') { %>
                                        <span class="green-dot"></span>
                                    <% } %> <%= attendance.status %>
                                </td>
                                <td class="action-buttons">
                                    <a href="/view-dtr/<%= employee._id %>" class="icon-square">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                    <a href="#" class="icon-square">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                            </tr>
                <%
                        });
                    });
                }
                %>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="department1" role="tabpanel">
        <h4 class="mt-4">PESO DEPARTMENT:</h4>
        <table
          id="department1"
          class="table table-hover table-striped table-bordered mt-4"
        >
          <thead class="table-dark">
            <tr>
              <th>Name</th>
              <th>Absents</th>
              <th>Clock-In</th>
              <th>Clock-Out</th>
              <th>Status</th>
              <th>Action</th>
              <!-- Add other relevant columns -->
            </tr>
          </thead>
          <tbody>
            <%
                const department1 = mergedData.filter(employee => employee.department === "Department 1");

                if (department1.length === 0) {
                %>
                    <tr>
                        <td colspan="7">No Employees Found</td>
                    </tr>
                <%
                } else {
                  department1.forEach(employee => {
                        employee.attendanceData.forEach(attendance => {
                %>
                            <tr>
                                <td><%= employee.name %> <%= employee.lastname %></td>
                                <td><%= attendance.daysAbsent %></td>
                                <td>
                                    <% if (attendance.timeIn === null) { %> 00:00 <% } else { %> <%= attendance.timeIn.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %> <% } %>
                                </td>
                                <td><% if (attendance.timeOut === null) { %> 00:00 <% } else { %> <%= attendance.timeOut.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %> <% } %></td>
                                <td style="font-weight: 600">
                                    <% if (attendance.status === 'OUT') { %>
                                        <span class="red-dot"></span>
                                    <% } else if (attendance.status === 'IN') { %>
                                        <span class="green-dot"></span>
                                    <% } %> <%= attendance.status %>
                                </td>
                                <td class="action-buttons">
                                    <a href="/view-dtr/<%= employee._id %>" class="icon-square">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                    <a href="#" class="icon-square">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                            </tr>
                <%
                        });
                    });
                }
                %>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="department2" role="tabpanel">
        <h4 class="mt-4">City Cooperative Department:</h4>
        <table
          id="department2"
          class="table table-hover table-striped table-bordered mt-4"
        >
          <thead class="table-dark">
            <tr>
              <th>Name</th>
              <th>Absents</th>
              <th>Clock-In</th>
              <th>Clock-Out</th>
              <th>Status</th>
              <th>Action</th>
              <!-- Add other relevant columns -->
            </tr>
          </thead>
          <tbody>
            <%
                const department2 = mergedData.filter(employee => employee.department === "Department 2");

                if (department2.length === 0) {
                %>
                    <tr>
                        <td colspan="7">No Employees Found</td>
                    </tr>
                <%
                } else {
                  department2.forEach(employee => {
                        employee.attendanceData.forEach(attendance => {
                %>
                            <tr>
                                <td><%= employee.name %> <%= employee.lastname %></td>
                                <td><%= attendance.daysAbsent %></td>
                                <td>
                                    <% if (attendance.timeIn === null) { %> 00:00 <% } else { %> <%= attendance.timeIn.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %> <% } %>
                                </td>
                                <td><% if (attendance.timeOut === null) { %> 00:00 <% } else { %> <%= attendance.timeOut.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %> <% } %></td>
                                <td style="font-weight: 600">
                                    <% if (attendance.status === 'OUT') { %>
                                        <span class="red-dot"></span>
                                    <% } else if (attendance.status === 'IN') { %>
                                        <span class="green-dot"></span>
                                    <% } %> <%= attendance.status %>
                                </td>
                                <td class="action-buttons">
                                    <a href="/view-dtr/<%= employee._id %>" class="icon-square">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                    <a href="#" class="icon-square">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                            </tr>
                <%
                        });
                    });
                }
                %>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="department3" role="tabpanel">
        <h4 class="mt-4">Office of the Agricultural Services Department:</h4>
        <table
          id="department3"
          class="table table-hover table-striped table-bordered mt-4"
        >
          <thead class="table-dark">
            <tr>
              <th>Name</th>
              <th>Absents</th>
              <th>Clock-In</th>
              <th>Clock-Out</th>
              <th>Status</th>
              <th>Action</th>
              <!-- Add other relevant columns -->
            </tr>
          </thead>
          <tbody>
            <%
                const department3 = mergedData.filter(employee => employee.department === "Department 3");

                if (department3.length === 0) {
                %>
                    <tr>
                        <td colspan="7">No Employees Found</td>
                    </tr>
                <%
                } else {
                  department3.forEach(employee => {
                        employee.attendanceData.forEach(attendance => {
                %>
                            <tr>
                                <td><%= employee.name %> <%= employee.lastname %></td>
                                <td><%= attendance.daysAbsent %></td>
                                <td>
                                    <% if (attendance.timeIn === null) { %> 00:00 <% } else { %> <%= attendance.timeIn.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %> <% } %>
                                </td>
                                <td><% if (attendance.timeOut === null) { %> 00:00 <% } else { %> <%= attendance.timeOut.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %> <% } %></td>
                                <td style="font-weight: 600">
                                    <% if (attendance.status === 'OUT') { %>
                                        <span class="red-dot"></span>
                                    <% } else if (attendance.status === 'IN') { %>
                                        <span class="green-dot"></span>
                                    <% } %> <%= attendance.status %>
                                </td>
                                <td class="action-buttons">
                                    <a href="/view-dtr/<%= employee._id %>" class="icon-square">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                    <a href="#" class="icon-square">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                            </tr>
                <%
                        });
                    });
                }
                %>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="department4" role="tabpanel">
        <h4 class="mt-4">Bacoor Traffic Management Department:</h4>
        <table
          id="department4"
          class="table table-hover table-striped table-bordered mt-4"
        >
          <thead class="table-dark">
            <tr>
              <th>Name</th>
              <th>Absents</th>
              <th>Clock-In</th>
              <th>Clock-Out</th>
              <th>Status</th>
              <th>Action</th>
              <!-- Add other relevant columns -->
            </tr>
          </thead>
          <tbody>
            <%
                const department4 = mergedData.filter(employee => employee.department === "Department 4");

                if (department4.length === 0) {
                %>
                    <tr>
                        <td colspan="7">No Employees Found</td>
                    </tr>
                <%
                } else {
                  department4.forEach(employee => {
                        employee.attendanceData.forEach(attendance => {
                %>
                            <tr>
                                <td><%= employee.name %> <%= employee.lastname %></td>
                                <td><%= attendance.daysAbsent %></td>
                                <td>
                                    <% if (attendance.timeIn === null) { %> 00:00 <% } else { %> <%= attendance.timeIn.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %> <% } %>
                                </td>
                                <td><% if (attendance.timeOut === null) { %> 00:00 <% } else { %> <%= attendance.timeOut.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %> <% } %></td>
                                <td style="font-weight: 600">
                                    <% if (attendance.status === 'OUT') { %>
                                        <span class="red-dot"></span>
                                    <% } else if (attendance.status === 'IN') { %>
                                        <span class="green-dot"></span>
                                    <% } %> <%= attendance.status %>
                                </td>
                                <td class="action-buttons">
                                    <a href="/view-dtr/<%= employee._id %>" class="icon-square">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                    <a href="#" class="icon-square">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                            </tr>
                <%
                        });
                    });
                }
                %>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="department5" role="tabpanel">
        <h4 class="mt-4">Business Permit and Licensing Department:</h4>
        <table
          id="department5"
          class="table table-hover table-striped table-bordered mt-4"
        >
          <thead class="table-dark">
            <tr>
              <th>Name</th>
              <th>Absents</th>
              <th>Clock-In</th>
              <th>Clock-Out</th>
              <th>Status</th>
              <th>Action</th>
              <!-- Add other relevant columns -->
            </tr>
          </thead>
          <tbody>
            <%
                const department5 = mergedData.filter(employee => employee.department === "Department 5");

                if (department5.length === 0) {
                %>
                    <tr>
                        <td colspan="7">No Employees Found</td>
                    </tr>
                <%
                } else {
                  department5.forEach(employee => {
                        employee.attendanceData.forEach(attendance => {
                %>
                            <tr>
                                <td><%= employee.name %> <%= employee.lastname %></td>
                                <td><%= attendance.daysAbsent %></td>
                                <td>
                                    <% if (attendance.timeIn === null) { %> 00:00 <% } else { %> <%= attendance.timeIn.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %> <% } %>
                                </td>
                                <td><% if (attendance.timeOut === null) { %> 00:00 <% } else { %> <%= attendance.timeOut.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %> <% } %></td>
                                <td style="font-weight: 600">
                                    <% if (attendance.status === 'OUT') { %>
                                        <span class="red-dot"></span>
                                    <% } else if (attendance.status === 'IN') { %>
                                        <span class="green-dot"></span>
                                    <% } %> <%= attendance.status %>
                                </td>
                                <td class="action-buttons">
                                    <a href="/view-dtr/<%= employee._id %>" class="icon-square">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                    <a href="#" class="icon-square">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                            </tr>
                <%
                        });
                    });
                }
                %>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="department6" role="tabpanel">
        <h4 class="mt-4">City Assessor's Department:</h4>
        <table
          id="department4"
          class="table table-hover table-striped table-bordered mt-4"
        >
          <thead class="table-dark">
            <tr>
              <th>Name</th>
              <th>Absents</th>
              <th>Clock-In</th>
              <th>Clock-Out</th>
              <th>Status</th>
              <th>Action</th>
              <!-- Add other relevant columns -->
            </tr>
          </thead>
          <tbody>
            <%
                const department6 = mergedData.filter(employee => employee.department === "Department 6");

                if (department6.length === 0) {
                %>
                    <tr>
                        <td colspan="7">No Employees Found</td>
                    </tr>
                <%
                } else {
                  department6.forEach(employee => {
                        employee.attendanceData.forEach(attendance => {
                %>
                            <tr>
                                <td><%= employee.name %> <%= employee.lastname %></td>
                                <td><%= attendance.daysAbsent %></td>
                                <td>
                                    <% if (attendance.timeIn === null) { %> 00:00 <% } else { %> <%= attendance.timeIn.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %> <% } %>
                                </td>
                                <td><% if (attendance.timeOut === null) { %> 00:00 <% } else { %> <%= attendance.timeOut.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %> <% } %></td>
                                <td style="font-weight: 600">
                                    <% if (attendance.status === 'OUT') { %>
                                        <span class="red-dot"></span>
                                    <% } else if (attendance.status === 'IN') { %>
                                        <span class="green-dot"></span>
                                    <% } %> <%= attendance.status %>
                                </td>
                                <td class="action-buttons">
                                    <a href="/view-dtr/<%= employee._id %>" class="icon-square">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                    <a href="#" class="icon-square">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                            </tr>
                <%
                        });
                    });
                }
                %>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
  <% function getCurrentDateInWords() { const months = ['January', 'February',
  'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October',
  'November', 'December']; const days = ['Sunday', 'Monday', 'Tuesday',
  'Wednesday', 'Thursday', 'Friday', 'Saturday']; const currentDate = new
  Date(); const dayOfWeek = days[currentDate.getDay()]; const month =
  months[currentDate.getMonth()]; const dayOfMonth = currentDate.getDate();
  const year = currentDate.getFullYear(); return `${dayOfWeek}, ${month}
  ${dayOfMonth}, ${year}`; } %>
</body>
