<%- include('../layouts/hrislayout') -%>
<body>
  <%- include('../layouts/navhrisP') -%>
  <%- include('../layouts/sidenavP') %>
  <div class="page-body fade-in">
    <div class="page-name text-uppercase">
      <h1>PRINT REPORTS:</h1>
      <% if (user.hrrole === "ROLE 5") { %>
        <a
          class="btn btn-secondary btn-print"
          onclick="window.location.href='/dtr'"
          >BACK TO DTR</a
        >
      <% } %>
    </div>
    <div id="alertContainer" class="bottom-right">
      <% if (message) { %>
      <div
        class="alert alert-dismissible alert-<%= message.type %> fade show"
        role="alert"
        id="autoDismissAlert"
      >
        <strong>Attention! </strong><%= message.message %><a
          href="#"
          class="alert-link"
        ></a>
      </div>
      <% } %>
    </div>
    <div id="hrSettings" class="content-div active">
      <div class="settings-title">
        <p class="text-muted">PRINT REPORTS</p>
      </div>
      <div class="settings-div d-flex flex-column">
        <h3>Print DTR Report:</h3>
            <div class="row-print d-flex align-items-end">
              <div class="col-md-3 printSelect">
                <label>Department</label>
                <select
                  type="text"
                  name="department"
                  id="department"
                  class="form-select"
                >
                  <option value="HR">HR Department</option>
                  <option value="DP1">PESO Department</option>
                  <option value="DP2">CCD Office</option>
                  <option value="DP3">OAS Department</option>
                  <option value="DP4">BTM Department</option>
                  <option value="DP5">BPL Department</option>
                  <option value="DP6">CAD Department</option>
                </select>
              </div>
              <div class="col-md-3 printSelect">
                <label>Month</label>
                <select
                  type="text"
                  name="month"
                  id="month"
                  class="form-select"
                >
                  <option value="ALL">All months</option>
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
              </div>
              <div class="col-md-3 printSelect">
                <label>Year</label>
                <select
                  type="text"
                  name="year"
                  id="year"
                  class="form-select"
                >
                  <option value="ALL">All years</option>
                  <option value="2024">2024</option>
                </select>
              </div>
              <div class="col-md-2">
                <button class="btn btn-primary printSelect btn-settings" id="generateBtn">Generate</button>
              </div>
            </div>
            <%#  
            <h3 class="mt-5">Payroll Computation Settings:</h3>
            <div class="row-settings d-flex align-items-end mt-2">
              <div class="col-md-3 printSelect">
                <label>Settings 1</label>
                <input type="text" name="settings1" id="settings1" class="form-control" />
              </div>
              <div class="col-md-3 printSelect">
                <label>Settings 2</label>
                <input type="text" name="settings2" id="settings2" class="form-control" />
              </div>
              <div class="col-md-3 printSelect">
                <label>Settings 3</label>
                <input type="text" name="settings3" id="settings3" class="form-control" />
              </div>
              <div class="col-md-3 printSelect">
                <button class="btn btn-primary btn-settings" id="saveSettings">Save</button>
              </div>
            </div>      
            %>                
    </div>   
  </div>
</body>
<%- include('../layouts/footer') %>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const links = document.querySelectorAll(".settings-container a");
    const contentDivs = document.querySelectorAll(".content-div");

    links.forEach((link) => {
      link.addEventListener("click", (event) => {
        event.preventDefault();
        const targetId = link.getAttribute("data-target");

        // Remove active class from all rolefolder items
        links.forEach((l) =>
          l.querySelector(".settings-item").classList.remove("active")
        );

        // Add active class to the clicked rolefolder item
        link.querySelector(".settings-item").classList.add("active");

        // Hide all content divs and show the targeted one
        contentDivs.forEach((div) => {
          div.classList.remove("active");
          if (div.id === targetId) {
            div.classList.add("active");
          }
        });
      });
    });
  });

  document.getElementById('generateBtn').addEventListener('click', function () {
    // Get the selected department and month
    const departmentSelect = document.getElementById('department');
    const monthSelect = document.getElementById('month');

    const department = departmentSelect.options[departmentSelect.selectedIndex].value;
    const month = monthSelect.options[monthSelect.selectedIndex].value;

    // Construct the URL
    const url = `/print-hr-dtr/${department}/${month}`;

    // Redirect to the constructed URL
    window.location.href = url;
  });
</script>
<script>
  document.getElementById("startDay").addEventListener("input", function () {
    const value = this.value;
    if (value < 1) this.value = 1;
    if (value > 31) this.value = 31;
  });

  document.getElementById("endDay").addEventListener("input", function () {
    const value = this.value;
    if (value < 1) this.value = 1;
    if (value > 31) this.value = 31;
  });
</script>
