<%- include('../layouts/hrislayout') -%>
<body>
  <%- include('../layouts/navhris') -%> <%- include('../layouts/sidenavhris') %>
  <div class="page-body">
    <div class="page-name text-uppercase">
      <h1>HRIS Settings</h1>
    </div>
    <div id="alertContainer" class="bottom-right">
      <% if (message) { %>
      <div
        class="alert alert-dismissible alert-<%= message.type %> fade show"
        role="alert"
        id="autoDismissAlert"
      >
        <strong>Attention! </strong><%= message.message %><a
          href="#"
          class="alert-link"
        ></a>
      </div>
      <% } %>
    </div>
    <div class="settings-container">
      <a href="#" data-target="hrSettings"
        ><div class="btn btn-lg btn-primary settings-item active">
          <i class="fa-solid fa-print"></i>
          <p>Print Reports</p>
        </div></a
      >
      <a href="#" data-target="dtrSettings"
        ><div class="btn btn-lg btn-primary settings-item">
          <i class="fa-solid fa-clock"></i>
          <p>DTR Settings</p>
        </div></a
      >
    </div>
    <div id="hrSettings" class="content-div active">
      <div class="settings-title">
        <h4>Print Reports:</h4>
        <p>Print reports for employees</p>
      </div>
      <div class="settings-div">
        <div class="button-container">
          <div class="file-container-hrSet">
            <label for="dtrButton" class="button-label"
            ><p>DTR Report for HR Department:</p></label
          >
          <button
            id="dtrButton"
            class="btn btn-secondary btn-print"
            onclick="window.location.href='/print-hr-dtr/HR'"
          >
            PRINT
          </button>
          <label for="dtrButton" class="button-label"
              ><p>DTR Report for PESO Department:</p></label
            >
            <button
              id="dtrButton"
              class="btn btn-secondary btn-print"
              onclick="window.location.href='/print-hr-dtr/DP1'"
            >
              PRINT
            </button>
            <label for="dtrButton" class="button-label"
              ><p>DTR Report for CCD Office:</p></label
            >
            <button
              id="dtrButton"
              class="btn btn-secondary btn-print"
              onclick="window.location.href='/print-hr-dtr/DP2'"
            >
              PRINT
            </button>
              <label for="dtrButton" class="button-label"
                ><p>DTR Report for OAS Department:</p></label
              >
              <button
                id="dtrButton"
                class="btn btn-secondary btn-print"
                onclick="window.location.href='/print-hr-dtr/DP3'"
              >
                PRINT
              </button>
                <label for="dtrButton" class="button-label"
                  ><p>DTR Report for BTM Department:</p></label
                >
                <button
                  id="dtrButton"
                  class="btn btn-secondary btn-print"
                  onclick="window.location.href='/print-hr-dtr/DP4'"
                >
                  PRINT
                </button>
                <label for="dtrButton" class="button-label">
                  <p>DTR Report for BPL Department:</p></label
                >
                <button
                  id="dtrButton"
                  class="btn btn-secondary btn-print"
                  onclick="window.location.href='/print-hr-dtr/DP5'"
                >
                  PRINT
                </button>
                <label for="dtrButton" class="button-label">
                  <p>DTR Report for CAD Department:</p></label
                >
                <button
                  id="dtrButton"
                  class="btn btn-secondary btn-print"
                  onclick="window.location.href='/print-hr-dtr/DP6'"
                >
                  PRINT
                </button>
              </div>
            </div>
          </div>
        </div>
    <div id="dtrSettings" class="content-div">
      <div class="settings-title">
        <h4>DTR Settings:</h4>
        <p>Manage department paydates and other HRIS settings</p>
      </div>
      <div class="settings-div-dtr">
        <h3>Cutoff Dates:</h3>
        <form action="/hrSettings" method="POST">
        <div class="form-group flex-container">
          <div class="form-item">
            <label for="startDate" class="form-label mt-2 text-muted">First Day:</label>
            <input
              type="number"
              id="startDate"
              name="startDate"
              class="form-control"
              placeholder="DD"
              value="<%= hrSettings.startDate %>"
              required
            />
            <small>Adjust the first day of the Cutoff.</small>
          </div>
          <div class="form-item">
            <label for="endDate" class="form-label mt-2 text-muted">Second Day:</label>
            <input
              type="number"
              id="endDate"
              name="endDate"
              class="form-control"
              placeholder="DD"
              maxlength="12"
              value="<%= hrSettings.endDate %>"
              required
            />
            <small>Adjust the second day of the Cutoff.</small>
          </div>
        </div>
        <h3 class="mt-4">Hours Per Day:</h3>
        <div class="form-group flex-container">
          <div class="form-item">
            <label for="hoursPerDay" class="form-label mt-2 text-muted">Work Hours:</label>
            <input
              type="number"
              id="hoursPerDay"
              name="hoursPerDay"
              class="form-control"
              placeholder="8"
              value="<%= hrSettings.hoursPerDay %>"
              required
            />
            <small>Adjust the required hours worked per day.</small>
          </div>
        </div>
        <input type="submit" value="SAVE CHANGES" class="btn btn-primary btn-save"></button> 
      </form>
        </div>
      </div>
    </div>
  </div>
</body>
<%- include('../layouts/footer') %>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const links = document.querySelectorAll(".settings-container a");
    const contentDivs = document.querySelectorAll(".content-div");

    links.forEach((link) => {
      link.addEventListener("click", (event) => {
        event.preventDefault();
        const targetId = link.getAttribute("data-target");

        // Remove active class from all rolefolder items
        links.forEach((l) =>
          l.querySelector(".settings-item").classList.remove("active")
        );

        // Add active class to the clicked rolefolder item
        link.querySelector(".settings-item").classList.add("active");

        // Hide all content divs and show the targeted one
        contentDivs.forEach((div) => {
          div.classList.remove("active");
          if (div.id === targetId) {
            div.classList.add("active");
          }
        });
      });
    });
  });
</script>
<script>
  document.getElementById("startDay").addEventListener("input", function () {
    const value = this.value;
    if (value < 1) this.value = 1;
    if (value > 31) this.value = 31;
  });

  document.getElementById("endDay").addEventListener("input", function () {
    const value = this.value;
    if (value < 1) this.value = 1;
    if (value > 31) this.value = 31;
  });
</script>
