<%- include('../layouts/hrislayout') -%>
<body>
  <%- include('../layouts/navhris') -%>
  <% if (user.hrrole === "ROLE 5") { %>
    <%- include('../layouts/user_hris/sidenavhris_user') %>
  <% } else { %>
    <%- include('../layouts/sidenavhris') %>
  <% } %>
  <div class="page-body">
    <div class="page-name text-uppercase">
      <h1>PRINT REPORTS:</h1>
      <% if (user.hrrole === "ROLE 5") { %>
        <a
          class="btn btn-secondary btn-print"
          onclick="window.location.href='/dtr'"
          >BACK TO DTR</a
        >
      <% } %>
    </div>
    <div id="alertContainer" class="bottom-right">
      <% if (message) { %>
      <div
        class="alert alert-dismissible alert-<%= message.type %> fade show"
        role="alert"
        id="autoDismissAlert"
      >
        <strong>Attention! </strong><%= message.message %><a
          href="#"
          class="alert-link"
        ></a>
      </div>
      <% } %>
    </div>
    <div id="hrSettings" class="content-div active">
      <div class="settings-title">
        <p>Print reports for employees</p>
      </div>
      <div class="settings-div">
        <div class="button-container">
          <div class="file-container-hrSet">
            <div class="dtr-report-container">
              <div class="report-button-container">
                <div class="report-button">
                  <p>HR Department</p>
                </div>
                <div class="report-button">
                  <button
                    class="btn btn-secondary btn-print"
                    onclick="window.location.href='/print-hr-dtr/HR'"
                  >
                    PRINT
                  </button>
                </div>
              </div>
            </div>
            <div class="dtr-report-container">
              <div class="report-button-container">
                <div class="report-button">
                  <p>PESO Department</p>
                </div>
                <div class="report-button">
                  <button
                    class="btn btn-secondary btn-print"
                    onclick="window.location.href='/print-hr-dtr/DP1'"
                  >
                    PRINT
                  </button>
                </div>
              </div>
            </div>
            <div class="dtr-report-container">
              <div class="report-button-container">
                <div class="report-button">
                  <p>CCD Office</p>
                </div>
                <div class="report-button">
                  <button
                    class="btn btn-secondary btn-print"
                    onclick="window.location.href='/print-hr-dtr/DP2'"
                  >
                    PRINT
                  </button>
                </div>
              </div>
            </div>
            <div class="dtr-report-container">
              <div class="report-button-container">
                <div class="report-button">
                  <p>OAS Department</p>
                </div>
                <div class="report-button">
                  <button
                    class="btn btn-secondary btn-print"
                    onclick="window.location.href='/print-hr-dtr/DP3'"
                  >
                    PRINT
                  </button>
                </div>
              </div>
            </div>
            <div class="dtr-report-container">
              <div class="report-button-container">
                <div class="report-button">
                  <p>BTM Department</p>
                </div>
                <div class="report-button">
                  <button
                    class="btn btn-secondary btn-print"
                    onclick="window.location.href='/print-hr-dtr/DP4'"
                  >
                    PRINT
                  </button>
                </div>
              </div>
            </div>
            <div class="dtr-report-container">
              <div class="report-button-container">
                <div class="report-button">
                  <p>BPL Department</p>
                </div>
                <div class="report-button">
                  <button
                    class="btn btn-secondary btn-print"
                    onclick="window.location.href='/print-hr-dtr/DP5'"
                  >
                    PRINT
                  </button>
                </div>
              </div>
            </div>
            <div class="dtr-report-container">
              <div class="report-button-container">
                <div class="report-button">
                  <p>CAD Department</p>
                </div>
                <div class="report-button">
                  <button
                    class="btn btn-secondary btn-print"
                    onclick="window.location.href='/print-hr-dtr/DP6'"
                  >
                    PRINT
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<%- include('../layouts/footer') %>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const links = document.querySelectorAll(".settings-container a");
    const contentDivs = document.querySelectorAll(".content-div");

    links.forEach((link) => {
      link.addEventListener("click", (event) => {
        event.preventDefault();
        const targetId = link.getAttribute("data-target");

        // Remove active class from all rolefolder items
        links.forEach((l) =>
          l.querySelector(".settings-item").classList.remove("active")
        );

        // Add active class to the clicked rolefolder item
        link.querySelector(".settings-item").classList.add("active");

        // Hide all content divs and show the targeted one
        contentDivs.forEach((div) => {
          div.classList.remove("active");
          if (div.id === targetId) {
            div.classList.add("active");
          }
        });
      });
    });
  });
</script>
<script>
  document.getElementById("startDay").addEventListener("input", function () {
    const value = this.value;
    if (value < 1) this.value = 1;
    if (value > 31) this.value = 31;
  });

  document.getElementById("endDay").addEventListener("input", function () {
    const value = this.value;
    if (value < 1) this.value = 1;
    if (value > 31) this.value = 31;
  });
</script>
