<%- include('../layouts/hrislayout') -%>
<body>
  <%- include('../layouts/navhrisP') -%>
  <%- include('../layouts/sidenavP') %>
  <div class="page-body fade-in">
    <div class="page-bg-img"></div>
    <div class="page-name">
      <h1>Leave Applications</h1>
      <h3><%= getCurrentDateInWords() %></h3>
    </div>
    <p class="text-muted">Manage employee leave applications</p>
    <%# Legend %>
    <div class="legend-container-leave">
      <div class="legend-item">
        <span class="badge bg-danger"> </span><a>Declined</a>
      </div>
      <div class="legend-item">
        <span class="badge bg-warning"> </span><a>Pending</a>
      </div>
      <div class="legend-item">
        <span class="badge bg-success"> </span><a>Approved</a>
      </div>
    </div>
    <div id="alertContainer" class="bottom-right">
      <% if (message) { %>
      <div
        class="alert alert-dismissible alert-<%= message.type %> fade show"
        role="alert"
        id="autoDismissAlert"
      >
        <strong>Attention!</strong> <%= message.message %><a
          href="#"
          class="alert-link"
        ></a>
      </div>
      <% } %>
    </div>
    <input
      class="form-control me-sm-2"
      type="text"
      id="accInput"
      placeholder="Search"
      style="margin-bottom: 20px"
      oninput="searchTables()"
    />
    <div class="hris-container">
      <% const pendingApplications = leaveapplications.filter(row => row.Status === 'Pending'); %> 
      <% const approvedApplications = leaveapplications.filter(row => row.Status === 'Approved'); %> 
      <% const declinedApplications = leaveapplications.filter(row => row.Status === 'Declined'); %>
      <% const expiredApplications = leaveapplications.filter(row => row.Status === 'Done/Expired'); %> 
      <% const totalApplications = activeLeaveApplications.length; %>
      <% const approvedCount = approvedApplications.length; %>
      <% const declinedCount = declinedApplications.length; %> 
      <% const pendingCount = pendingApplications.length; %>
      <% const expiredCount = expiredApplications.length; %>
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active"
            data-bs-toggle="tab"
            href="#all-applications"
            aria-selected="true"
            role="tab"
            tabindex="-1"
            >All Applications (<%= totalApplications %>)</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            data-bs-toggle="tab"
            href="#pending"
            aria-selected="false"
            role="tab"
            >Pending (<%= pendingCount %>)</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            data-bs-toggle="tab"
            href="#approved"
            aria-selected="false"
            role="tab"
            tabindex="-1"
            >Approved (<%= approvedCount %>)</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            data-bs-toggle="tab"
            href="#declined"
            aria-selected="false"
            role="tab"
            tabindex="-1"
            >Declined (<%= declinedCount %>)</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link text-muted"
            data-bs-toggle="tab"
            href="#expired"
            aria-selected="false"
            role="tab"
            tabindex="-1"
            >Done/Expired (<%= expiredCount %>)</a
          >
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div
          class="tab-pane fade active show mb-4"
          id="all-applications"
          role="tabpanel"
        >
          <% if (leaveapplications != '') { %>
          <div class="table-responsive mt-3">
            <table id="table" class="table table-hover">
              <thead id="tableHead">
                <tr class="table-dark">
                  <th>Applicant's Name</th>
                  <th>Type</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Applied Date</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody id="tableBody">
                <% leaveapplications.forEach((row, index) => { %>
                <tr
                  class="popup-row"
                  data-reason="<%= row.reason %>"
                  data-declinereason="<%= row.declineReason %>"
                >
                  <td><%= row.name %></td>
                  <td><%= row.Type %></td>
                  <td><%= row.StartDate.toISOString().split('T')[0] %></td>
                  <td><%= row.EndDate.toISOString().split('T')[0] %></td>
                  <td>
                    <% if (row.AppliedDate === null) { %> N/A <% } else { %> <%=
                    row.AppliedDate.toISOString().split('T')[0] %> <% } %>
                  </td>
                  <td
                    style="font-weight: 600;<% if (row.Status === 'Declined') { %> color: red; <% } else if (row.Status === 'Approved') { %> color: green; <% } else if (row.Status === 'Pending') { %> color: orange; <% } else { %> color: gray; <% } %>"
                  >
                    <%= row.Status %>
                  </td>
                  <td class="action-buttons-leave">
                    <% if (row.Status !== 'Done/Expired') { %>
                      <a
                      href="/manage-leave/<%= row.id %>"
                      class="icon-square-leave"
                      ><i class="fa-solid fa-pen-to-square text-warning"></i
                    ></a>
                    <% } %>
                    <a
                      href="/view-leave/<%= row.id %>"
                      class="icon-square-leave"
                    >
                      <i class="fa-solid fa-eye text-dark"></i>
                    </a>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
            <% } %>
            <h2 id="noApplicationsMessage" class="text-center text-secondary mt-5">
              No leave applications
            </h2>
          </div>
        </div>
        <div class="tab-pane fade" id="pending" role="tabpanel">
          <div
            class="tab-pane fade show mb-4"
            id="all-applications"
            role="tabpanel"
          >
            <% if (pendingApplications.length > 0) { %>
            <div class="table-responsive mt-3">
              <table id="table" class="table table-hover">
                <thead>
                  <tr class="table-dark">
                    <th>Applicant's Name</th>
                    <th>Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Applied Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% pendingApplications.forEach((row, index) => { %>
                  <tr
                    class="popup-row"
                    data-reason="<%= row.reason %>"
                    data-declinereason="<%= row.declineReason %>"
                  >
                    <td><%= row.name %></td>
                    <td><%= row.Type %></td>
                    <td><%= row.StartDate.toISOString().split('T')[0] %></td>
                    <td><%= row.EndDate.toISOString().split('T')[0] %></td>
                    <td>
                      <% if (row.AppliedDate === null) { %> N/A <% } else { %>
                      <%= row.AppliedDate.toISOString().split('T')[0] %> <% } %>
                    </td>
                    <td
                      style="font-weight: 600;<% if (row.Status === 'Declined') { %> color: red; <% } else if (row.Status === 'Approved') { %> color: green; <% } else { %> color: orange; <% } %>"
                    >
                      <%= row.Status %>
                    </td>
                    <td class="action-buttons-leave">
                      <a
                        href="/manage-leave/<%= row.id %>"
                        class="icon-square-leave"
                        ><i class="fa-solid fa-pen-to-square text-warning"></i
                      ></a>
                      <a
                        href="/view-leave/<%= row.id %>"
                        class="icon-square-leave"
                      >
                        <i class="fa-solid fa-eye text-dark"></i>
                      </a>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
            <% } else { %>
            <h2 class="text-center text-secondary mt-5">
              No pending applications
            </h2>
            <% } %>
          </div>
        </div>
        <div class="tab-pane fade" id="approved" role="tabpanel">
          <div
            class="tab-pane fade show mb-4"
            id="all-applications"
            role="tabpanel"
          >
            <% if (approvedApplications.length > 0) { %>
            <div class="table-responsive mt-3">
              <table id="table" class="table table-hover">
                <thead>
                  <tr class="table-dark">
                    <th>Applicant's Name</th>
                    <th>Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Applied Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% approvedApplications.filter(row => row.Status ===
                  'Approved').forEach((row, index) => { %>
                  <tr
                    class="popup-row"
                    data-reason="<%= row.reason %>"
                    data-declinereason="<%= row.declineReason %>"
                  >
                    <td><%= row.name %></td>
                    <td><%= row.Type %></td>
                    <td><%= row.StartDate.toISOString().split('T')[0] %></td>
                    <td><%= row.EndDate.toISOString().split('T')[0] %></td>
                    <td>
                      <% if (row.AppliedDate === null) { %> N/A <% } else { %>
                      <%= row.AppliedDate.toISOString().split('T')[0] %> <% } %>
                    </td>
                    <td
                      style="font-weight: 600;<% if (row.Status === 'Declined') { %> color: red; <% } else if (row.Status === 'Approved') { %> color: green; <% } else { %> color: orange; <% } %>"
                    >
                      <%= row.Status %>
                    </td>
                    <td class="action-buttons-leave">
                      <a
                        href="/manage-leave/<%= row.id %>"
                        class="icon-square-leave"
                        ><i class="fa-solid fa-pen-to-square text-warning"></i
                      ></a>
                      <a
                        href="/view-leave/<%= row.id %>"
                        class="icon-square-leave"
                      >
                        <i class="fa-solid fa-eye text-dark"></i>
                      </a>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
            <% } else { %>
            <h2 class="text-center text-secondary mt-5">
              No approved leave applications
            </h2>
            <% } %>
          </div>
        </div>
        <div class="tab-pane fade" id="declined" role="tabpanel">
          <div
            class="tab-pane fade show mb-4"
            id="all-applications"
            role="tabpanel"
          >
            <% if (declinedApplications.length > 0) { %>
            <div class="table-responsive mt-3">
              <table id="table" class="table table-hover">
                <thead>
                  <tr class="table-dark">
                    <th>Applicant's Name</th>
                    <th>Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Applied Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% declinedApplications.filter(row => row.Status ===
                  'Declined').forEach((row, index) => { %>
                  <tr
                    class="popup-row"
                    data-reason="<%= row.reason %>"
                    data-declinereason="<%= row.declineReason %>"
                  >
                    <td><%= row.name %></td>
                    <td><%= row.Type %></td>
                    <td><%= row.StartDate.toISOString().split('T')[0] %></td>
                    <td><%= row.EndDate.toISOString().split('T')[0] %></td>
                    <td>
                      <% if (row.AppliedDate === null) { %> N/A <% } else { %>
                      <%= row.AppliedDate.toISOString().split('T')[0] %> <% } %>
                    </td>
                    <td
                      style="font-weight: 600;<% if (row.Status === 'Declined') { %> color: red; <% } else if (row.Status === 'Approved') { %> color: green; <% } else { %> color: orange; <% } %>"
                    >
                      <%= row.Status %>
                    </td>
                    <td class="action-buttons-leave">
                      <a
                        href="/manage-leave/<%= row.id %>"
                        class="icon-square-leave"
                        ><i class="fa-solid fa-pen-to-square text-warning"></i
                      ></a>
                      <a
                        href="/view-leave/<%= row.id %>"
                        class="icon-square-leave"
                      >
                        <i class="fa-solid fa-eye text-dark"></i>
                      </a>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
            <% } else { %>
            <h2 class="text-center text-secondary mt-5">
              No declined leave applications
            </h2>
            <% } %>
          </div>
        </div>
        <div class="tab-pane fade" id="expired" role="tabpanel">
          <div
            class="tab-pane fade show mb-4"
            id="expired"
            role="tabpanel"
          >
            <% if (expiredApplications.length > 0) { %>
            <div class="table-responsive mt-3">
              <table id="table" class="table table-hover">
                <thead>
                  <tr class="table-dark">
                    <th>Applicant's Name</th>
                    <th>Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Applied Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% expiredApplications.forEach((row, index) => { %>
                  <tr
                    class="popup-row"
                    data-reason="<%= row.reason %>"
                    data-declinereason="<%= row.declineReason %>"
                  >
                    <td><%= row.name %></td>
                    <td><%= row.Type %></td>
                    <td><%= row.StartDate.toISOString().split('T')[0] %></td>
                    <td><%= row.EndDate.toISOString().split('T')[0] %></td>
                    <td>
                      <% if (row.AppliedDate === null) { %> N/A <% } else { %>
                      <%= row.AppliedDate.toISOString().split('T')[0] %> <% } %>
                    </td>
                    <td
                      style="font-weight: 600;<% if (row.Status === 'Declined') { %> color: red; <% } else if (row.Status === 'Approved') { %> color: green; <% } else { %> color: gray; <% } %>"
                    >
                      <%= row.Status %>
                    </td>
                    <td class="action-buttons-leave">
                      <a
                        href="/view-leave/<%= row.id %>"
                        class="icon-square-leave"
                      >
                        <i class="fa-solid fa-eye text-dark"></i>
                      </a>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
            <% } else { %>
            <h2 class="text-center text-secondary mt-5">
              No closed or expired leave applications.
            </h2>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% function getCurrentDateInWords() { const months = ['January', 'February',
  'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October',
  'November', 'December']; const days = ['Sunday', 'Monday', 'Tuesday',
  'Wednesday', 'Thursday', 'Friday', 'Saturday']; const currentDate = new
  Date(); const dayOfWeek = days[currentDate.getDay()]; const month =
  months[currentDate.getMonth()]; const dayOfMonth = currentDate.getDate();
  const year = currentDate.getFullYear(); return `${dayOfWeek}, ${month}
  ${dayOfMonth}, ${year}`; } %>
</body>
<script>
  function updateTable(url, tableId, messageId,) {
        console.log(`Fetching data from ${url}...`);

        fetch(url)
            .then(response => response.json())
            .then(data => {
                // console.log('Data received:', data);

                const tableBody = document.querySelector(`${tableId} tbody`);
                const tableHead = document.querySelector(`${tableId} thead`);
                const messageElement = document.getElementById(messageId);
                tableBody.innerHTML = ''; // Clear existing rows

                if (data.length > 0) {
                    // Hide the "No leave applications" message if there are data rows
                    tableHead.style.display = 'table-header-group';
                    messageElement.style.display = 'none';

                    data.forEach(row => {
                        const tr = document.createElement('tr');
                        tr.classList.add('popup-row');
                        tr.dataset.reason = row.reason || '';
                        tr.dataset.declinereason = row.declineReason || '';

                        const statusStyle = {
                            'Declined': 'color: red; font-weight: 600;',
                            'Approved': 'color: green; font-weight: 600;',
                            'Pending': 'color: orange; font-weight: 600;',
                            'Default': 'color: gray; font-weight: 600;'
                        }[row.Status] || statusStyle['Default'];

                        tr.innerHTML = `
                            <td>${row.name}</td>
                            <td>${row.Type}</td>
                            <td>${new Date(row.StartDate).toISOString().split('T')[0]}</td>
                            <td>${new Date(row.EndDate).toISOString().split('T')[0]}</td>
                            <td>${row.AppliedDate ? new Date(row.AppliedDate).toISOString().split('T')[0] : 'N/A'}</td>
                            <td style="${statusStyle}">${row.Status}</td>
                            <td class="action-buttons-leave">
                                ${row.Status !== 'Done/Expired' ? `
                                    <a href="/manage-leave/${row._id}" class="icon-square-leave">
                                        <i class="fa-solid fa-pen-to-square text-warning"></i>
                                    </a>` : ''}
                                <a href="/view-leave/${row._id}" class="icon-square-leave">
                                    <i class="fa-solid fa-eye text-dark"></i>
                                </a>
                            </td>
                        `;

                        tableBody.appendChild(tr);
                    });
                } else {
                    // Show the "No leave applications" message if there are no data rows
                    tableHead.style.display = 'none';
                    messageElement.style.display = 'block';
                }
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    }

setInterval(() => updateTable('/leave_applicationsJSON', '#table', 'noApplicationsMessage'), 5000);
updateTable('/leave_applicationsJSON', '#table', 'noApplicationsMessage', 'tableHeader'); // Initial call to populate the table
</script>
</script>
<%- include('../layouts/footer') %>
