<%- include('../layouts/hrislayout') -%>
<body>
  <%- include('../layouts/navhris') -%>
  <% if (user.hrrole !== "ADMIN") { -%>
    <%- include('../layouts/user_hris/sidenavhris_user') %>
  <% } else { -%>
    <%- include('../layouts/sidenavhris') %>
  <% } -%>
  <div class="page-body fade-in">
    <div class="page-name">
      <h1>All Employees (HRIS)</h1>
      <% if (user.hrrole !== "ADMIN") { -%>
        <a href="#" class="btn btn-secondary">Add Employee</a>
      <% } else { %>
        <a href="/manage_accounts" class="btn btn-primary">TASK MANAGER ACCOUNTS</a>
      <% } %>
    </div>
    <p class="text-muted mb-4">
      Manage the employees registered in the system. View their information and
      201 Files.
    </p>
    <div class="col-lg-12">
      <% if (message) { %>
      <div
        class="alert alert-dismissible alert-<%= message.type %> fade show"
        role="alert"
        id="autoDismissAlert"
      >
        <strong>Attention!</strong><%= message.message %><a
          href="#"
          class="alert-link"
        ></a>
      </div>
      <% } %>
    </div>
    <input
      class="form-control me-sm-2"
      type="text"
      id="accInput"
      placeholder="Search"
      style="margin-bottom: 20px"
      oninput="searchTables()"
    />
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link active"
          data-bs-toggle="tab"
          href="#allD"
          aria-selected="true"
          role="tab"
          >All Employees</a
        >
      </li>
      <li class="nav-item nav-bg" role="presentation">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          href="#HRdp"
          aria-selected="false"
          tabindex="-1"
          role="tab"
          >HR Department</a
        >
      </li>
      <li class="nav-item nav-bg" role="presentation">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          href="#d1"
          aria-selected="false"
          tabindex="-1"
          role="tab"
          >PESO Department</a
        >
      </li>
      <li class="nav-item nav-bg" role="presentation">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          href="#d2"
          aria-selected="false"
          tabindex="-1"
          role="tab"
          >CC Department</a
        >
      </li>
      <li class="nav-item nav-bg" role="presentation">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          href="#d3"
          aria-selected="false"
          tabindex="-1"
          role="tab"
          >OAS Department</a
        >
      </li>
      <li class="nav-item nav-bg" role="presentation">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          href="#d4"
          aria-selected="false"
          tabindex="-1"
          role="tab"
          >BTM Department</a
        >
      </li>
      <li class="nav-item nav-bg" role="presentation">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          href="#d5"
          aria-selected="false"
          tabindex="-1"
          role="tab"
          >BPL Department</a
        >
      </li>
      <li class="nav-item nav-bg" role="presentation">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          href="#d6"
          aria-selected="false"
          tabindex="-1"
          role="tab"
          >CAD Department</a
        >
      </li>
    </ul>
    <% const HRdp = logincollections.filter((row) => row.department === 'HR Department'); %>
    <% const DP1 = logincollections.filter((row) => row.department === 'Department 1'); %>
    <% const DP2 = logincollections.filter((row) => row.department === 'Department 2'); %>
    <% const DP3 = logincollections.filter((row) => row.department === 'Department 3'); %>
    <% const DP4 = logincollections.filter((row) => row.department === 'Department 4'); %>
    <% const DP5 = logincollections.filter((row) => row.department === 'Department 5'); %>
    <% const DP6 = logincollections.filter((row) => row.department === 'Department 6'); %>
    <div id="myTabContent" class="tab-content mt-4">
      <div class="tab-pane fade show active" id="allD" role="tabpanel">
        <div class="hris-container">
          <% if (logincollections != '') { %>
            <h5>All Employees:</h5>
          <table id="table" class="table table-hover table-striped mt-3">
            <thead>
              <tr class="table-dark">
                <th style="width: 150px">Name</th>
                <th style="width: 100px">ID Number</th>
                <th style="width: 150px">Position</th>
                <th style="width: 150px">Department</th>
                <th class="text-center" style="width: 100px">Account Status</th>
                <th style="width: 10px; padding-left: 40px"></th>
              </tr>
            </thead>
            <tbody>
              <% logincollections.forEach((row, index) => { %>
              <tr>
                <td class="fw-bold mb-1" ><%= row.name %> <%= row.lastname %></td>
                <td><%= row.employeeID %></td>
                <td>
                  <% if (row.hrrole === "ROLE 1") { %> Administrative Officer <% }
                  else if (row.hrrole === "ROLE 2") { %> Senior Admin Assistant <% }
                  else if (row.hrrole === "ROLE 3") { %> Admin Officer <% } else if
                  (row.hrrole === "ROLE 4") { %> Admin Assistant <% } else if
                  (row.hrrole === "ROLE 5") { %> Admin Aide <% } else if (row.hrrole
                  === "ADMIN") { %> Department Head <% } %>
                </td>
                <td>
                  <% if (row.department === 'HR Department') { %>
                    HR Department
                  <% } else if (row.department === 'Department 1') { %>
                    PESO Department
                  <% } else if (row.department === 'Department 2') { %>
                    CC Department
                  <% } else if (row.department === 'Department 3') { %>
                    OAS Department
                  <% } else if (row.department === 'Department 4') { %>
                    BTM Department
                  <% } else if (row.department === 'Department 5') { %>
                    BPL Department
                  <% } else if (row.department === 'Department 6') { %>
                    CAD Department
                  <% } %>
                </td>
                <% if (!row.verified) { %>
                  <td class="text-center"><span class="badge rounded-pill bg-warning">UNVERIFIED</span></td>
                <% } else { %>
                  <td class="text-center"><span class="badge rounded-pill bg-success">VERIFIED</span></td>
                <% } %>
                <td class="action-buttons">
                  <a href="/view_emp_data/<%= row.email %>" class="icon-square"
                    ><i class="fa-solid fa-eye"></i
                  ></a>
                  <a
                    href="/delete/<%= row._id %>"
                    class="icon-square text-danger"
                    onclick="return confirm('Are you sure you want to delete employee <%= row.name %>?')"
                    ><i class="fa-solid fa-trash"></i
                  ></a>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
          <% } else { %>
          <h1 class="text-center text-secondary mt-5">
            No Users found in database
          </h1>
          <% } %>
        </div>
      </div>
      <div class="tab-pane fade" id="HRdp" role="tabpanel">
        <div class="hris-container">
          <% if (HRdp != '') { %>
            <h5>HR Department:</h5>
            <table id="table" class="table table-hover table-striped mt-3">
              <thead>
                <tr class="table-dark">
                  <th style="width: 150px">Name</th>
                  <th style="width: 100px">ID Number</th>
                  <th style="width: 100px">Position</th>
                  <th class="text-center" style="width: 100px;">Account Status</th>
                  <th style="width: 10px; padding-left: 40px"></th>
                </tr>
              </thead>
              <tbody>
                <% HRdp.forEach((row, index) => { %>
                <tr>
                  <td class="fw-bold mb-1" ><%= row.name %> <%= row.lastname %></td>
                  <td><%= row.employeeID %></td>
                  <td>
                    <% if (row.hrrole === "ROLE 1") { %> Administrative Officer <% }
                    else if (row.hrrole === "ROLE 2") { %> Senior Admin Assistant <% }
                    else if (row.hrrole === "ROLE 3") { %> Admin Officer <% } else if
                    (row.hrrole === "ROLE 4") { %> Admin Assistant <% } else if
                    (row.hrrole === "ROLE 5") { %> Admin Aide <% } else if (row.hrrole
                    === "ADMIN") { %> Department Head <% } %>
                  </td>
                  <% if (!row.verified) { %>
                  <td class="text-center"><span class="badge rounded-pill bg-warning">UNVERIFIED</span></td>
                  <% } else { %>
                    <td class="text-center"><span class="badge rounded-pill bg-success">VERIFIED</span></td>
                  <% } %>
                  <td class="action-buttons">
                    <a href="/view_emp_data/<%= row.email %>" class="icon-square"
                      ><i class="fa-solid fa-eye"></i
                    ></a>
                    <a
                      href="/delete/<%= row._id %>"
                      class="icon-square text-danger"
                      onclick="return confirm('Are you sure you want to delete employee <%= row.name %>?')"
                      ><i class="fa-solid fa-trash"></i
                    ></a>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          <% } else { %>
          <h1 class="text-center text-secondary mt-5">
            No Users found in HR Department.
          </h1>
          <% } %>
        </div>
      </div>
      <div class="tab-pane fade" id="d1" role="tabpanel">
        <div class="hris-container">
          <% if (DP1 != '') { %>
            <h5>PESO Department:</h5>
            <table id="table" class="table table-hover table-striped mt-3">
              <thead>
                <tr class="table-dark">
                  <th style="width: 150px">Name</th>
                  <th style="width: 100px">ID Number</th>
                  <th style="width: 100px">Position</th>
                  <th class="text-center" style="width: 100px;">Account Status</th>
                  <th style="width: 10px; padding-left: 40px"></th>
                </tr>
              </thead>
              <tbody>
                <% DP1.forEach((row, index) => { %>
                  <tr>
                  <td class="fw-bold mb-1" ><%= row.name %> <%= row.lastname %></td>
                  <td><%= row.employeeID %></td>
                  <td>
                    <% if (row.hrrole === "ROLE 1") { %> Administrative Officer <% }
                    else if (row.hrrole === "ROLE 2") { %> Senior Admin Assistant <% }
                    else if (row.hrrole === "ROLE 3") { %> Admin Officer <% } else if
                    (row.hrrole === "ROLE 4") { %> Admin Assistant <% } else if
                    (row.hrrole === "ROLE 5") { %> Admin Aide <% } else if (row.hrrole
                    === "ADMIN") { %> Department Head <% } %>
                  </td>
                  <% if (!row.verified) { %>
                  <td class="text-center"><span class="badge rounded-pill bg-warning">UNVERIFIED</span></td>
                  <% } else { %>
                    <td class="text-center"><span class="badge rounded-pill bg-success">VERIFIED</span></td>
                  <% } %>
                  <td class="action-buttons">
                    <a href="/view_emp_data/<%= row.email %>" class="icon-square"
                      ><i class="fa-solid fa-eye"></i
                    ></a>
                    <a
                      href="/delete/<%= row._id %>"
                      class="icon-square text-danger"
                      onclick="return confirm('Are you sure you want to delete employee <%= row.name %>?')"
                      ><i class="fa-solid fa-trash"></i
                    ></a>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          <% } else { %>
          <h2 class="text-center text-secondary mt-5">
            No Employees found in database
          </h2>
          <% } %>
        </div>
      </div>
      <div class="tab-pane fade" id="d2" role="tabpanel">
        <div class="hris-container">
          <% if (DP2 != '') { %>
            <h5>CC Development Office:</h5>
            <table id="table" class="table table-hover table-striped mt-3">
            <thead>
              <tr class="table-dark">
                <th style="width: 150px">Name</th>
                  <th style="width: 100px">ID Number</th>
                  <th style="width: 100px">Position</th>
                  <th class="text-center" style="width: 100px;">Account Status</th>
                  <th style="width: 10px; padding-left: 40px"></th>
              </tr>
            </thead>
            <tbody>
              <% DP2.forEach((row, index) => { %>
                <tr>
                  <td class="fw-bold mb-1" ><%= row.name %> <%= row.lastname %></td>
                  <td><%= row.employeeID %></td>
                  <td>
                    <% if (row.hrrole === "ROLE 1") { %> Administrative Officer <% }
                    else if (row.hrrole === "ROLE 2") { %> Senior Admin Assistant <% }
                    else if (row.hrrole === "ROLE 3") { %> Admin Officer <% } else if
                    (row.hrrole === "ROLE 4") { %> Admin Assistant <% } else if
                    (row.hrrole === "ROLE 5") { %> Admin Aide <% } else if (row.hrrole
                    === "ADMIN") { %> Department Head <% } %>
                  </td>
                  <% if (!row.verified) { %>
                  <td class="text-center"><span class="badge rounded-pill bg-warning">UNVERIFIED</span></td>
                  <% } else { %>
                    <td class="text-center"><span class="badge rounded-pill bg-success">VERIFIED</span></td>
                  <% } %>
                  <td class="action-buttons">
                    <a href="/view_emp_data/<%= row.email %>" class="icon-square"
                      ><i class="fa-solid fa-eye"></i
                    ></a>
                    <a
                      href="/delete/<%= row._id %>"
                      class="icon-square text-danger"
                      onclick="return confirm('Are you sure you want to delete employee <%= row.name %>?')"
                      ><i class="fa-solid fa-trash"></i
                    ></a>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
          <% } else { %>
          <h2 class="text-center text-secondary mt-5">
            No Employees found in CC Development Office.
          </h2>
          <% } %>
        </div>
      </div>
      <div class="tab-pane fade" id="d3" role="tabpanel">
        <div class="hris-container">
          <% if (DP3 != '') { %>
            <h5>OAS Department:</h5>
            <table id="table" class="table table-hover table-striped mt-3">
            <thead>
              <tr class="table-dark">
                <th style="width: 150px">Name</th>
                <th style="width: 100px">ID Number</th>
                <th style="width: 100px">Position</th>
                <th class="text-center" style="width: 100px;">Account Status</th>
                <th style="width: 10px; padding-left: 40px"></th>
              </tr>
            </thead>
            <tbody>
              <% DP3.forEach((row, index) => { %><tr>
                  <td class="fw-bold mb-1" ><%= row.name %> <%= row.lastname %></td>
                  <td><%= row.employeeID %></td>
                  <td>
                    <% if (row.hrrole === "ROLE 1") { %> Administrative Officer <% }
                    else if (row.hrrole === "ROLE 2") { %> Senior Admin Assistant <% }
                    else if (row.hrrole === "ROLE 3") { %> Admin Officer <% } else if
                    (row.hrrole === "ROLE 4") { %> Admin Assistant <% } else if
                    (row.hrrole === "ROLE 5") { %> Admin Aide <% } else if (row.hrrole
                    === "ADMIN") { %> Department Head <% } %>
                  </td>
                  <% if (!row.verified) { %>
                  <td class="text-center"><span class="badge rounded-pill bg-warning">UNVERIFIED</span></td>
                  <% } else { %>
                    <td class="text-center"><span class="badge rounded-pill bg-success">VERIFIED</span></td>
                  <% } %>
                  <td class="action-buttons">
                    <a href="/view_emp_data/<%= row.email %>" class="icon-square"
                      ><i class="fa-solid fa-eye"></i
                    ></a>
                    <a
                      href="/delete/<%= row._id %>"
                      class="icon-square text-danger"
                      onclick="return confirm('Are you sure you want to delete employee <%= row.name %>?')"
                      ><i class="fa-solid fa-trash"></i
                    ></a>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
          <% } else { %>
          <h2 class="text-center text-secondary mt-5">
            No Employees found in OAS Department.
          </h2>
          <% } %>
        </div>
      </div>
      <div class="tab-pane fade" id="d4" role="tabpanel">
        <div class="hris-container">
          <% if (DP4 != '') { %>
            <h5>BTM Department:</h5>
            <table id="table" class="table table-hover table-striped mt-3">
            <thead>
              <tr class="table-dark">
                <th style="width: 150px">Name</th>
                <th style="width: 100px">ID Number</th>
                <th style="width: 100px">Position</th>
                <th class="text-center" style="width: 100px;">Account Status</th>
                <th style="width: 10px; padding-left: 40px"></th>
              </tr>
            </thead>
            <tbody>
              <% DP4.forEach((row, index) => { %>
                <tr>
                  <td class="fw-bold mb-1" ><%= row.name %> <%= row.lastname %></td>
                  <td><%= row.employeeID %></td>
                  <td>
                    <% if (row.hrrole === "ROLE 1") { %> Administrative Officer <% }
                    else if (row.hrrole === "ROLE 2") { %> Senior Admin Assistant <% }
                    else if (row.hrrole === "ROLE 3") { %> Admin Officer <% } else if
                    (row.hrrole === "ROLE 4") { %> Admin Assistant <% } else if
                    (row.hrrole === "ROLE 5") { %> Admin Aide <% } else if (row.hrrole
                    === "ADMIN") { %> Department Head <% } %>
                  </td>
                  <% if (!row.verified) { %>
                  <td class="text-center"><span class="badge rounded-pill bg-warning">UNVERIFIED</span></td>
                  <% } else { %>
                    <td class="text-center"><span class="badge rounded-pill bg-success">VERIFIED</span></td>
                  <% } %>
                  <td class="action-buttons">
                    <a href="/view_emp_data/<%= row.email %>" class="icon-square"
                      ><i class="fa-solid fa-eye"></i
                    ></a>
                    <a
                      href="/delete/<%= row._id %>"
                      class="icon-square text-danger"
                      onclick="return confirm('Are you sure you want to delete employee <%= row.name %>?')"
                      ><i class="fa-solid fa-trash"></i
                    ></a>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
          <% } else { %>
          <h2 class="text-center text-secondary mt-5">
            No Employees found in BTM Department.
          </h2>
          <% } %>
        </div>
      </div>
      <div class="tab-pane fade" id="d5" role="tabpanel">
        <div class="hris-container">
          <% if (DP5 != '') { %>
            <h5>BPL Department:</h5>
            <table id="table" class="table table-hover table-striped mt-3">
            <thead>
              <tr class="table-dark">
                <th style="width: 150px">Name</th>
                <th style="width: 100px">ID Number</th>
                <th style="width: 100px">Position</th>
                <th class="text-center" style="width: 100px;">Account Status</th>
                <th style="width: 10px; padding-left: 40px"></th>
              </tr>
            </thead>
            <tbody>
              <% DP5.forEach((row, index) => { %>
                <tr>
                  <td class="fw-bold mb-1" ><%= row.name %> <%= row.lastname %></td>
                  <td><%= row.employeeID %></td>
                  <td>
                    <% if (row.hrrole === "ROLE 1") { %> Administrative Officer <% }
                    else if (row.hrrole === "ROLE 2") { %> Senior Admin Assistant <% }
                    else if (row.hrrole === "ROLE 3") { %> Admin Officer <% } else if
                    (row.hrrole === "ROLE 4") { %> Admin Assistant <% } else if
                    (row.hrrole === "ROLE 5") { %> Admin Aide <% } else if (row.hrrole
                    === "ADMIN") { %> Department Head <% } %>
                  </td>
                  <% if (!row.verified) { %>
                  <td class="text-center"><span class="badge rounded-pill bg-warning">UNVERIFIED</span></td>
                  <% } else { %>
                    <td class="text-center"><span class="badge rounded-pill bg-success">VERIFIED</span></td>
                  <% } %>
                  <td class="action-buttons">
                    <a href="/view_emp_data/<%= row.email %>" class="icon-square"
                      ><i class="fa-solid fa-eye"></i
                    ></a>
                    <a
                      href="/delete/<%= row._id %>"
                      class="icon-square text-danger"
                      onclick="return confirm('Are you sure you want to delete employee <%= row.name %>?')"
                      ><i class="fa-solid fa-trash"></i
                    ></a>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
          <% } else { %>
          <h2 class="text-center text-secondary mt-5">
            No Employees found in BPL Department.
          </h2>
          <% } %>
        </div>
      </div>
      <div class="tab-pane fade" id="d6" role="tabpanel">
        <div class="hris-container">
          <% if (DP6 != '') { %>
            <h5>City Assessor's Department:</h5>
            <table id="table" class="table table-hover table-striped mt-3">
            <thead>
              <tr class="table-dark">
                <th style="width: 150px">Name</th>
                <th style="width: 100px">ID Number</th>
                <th style="width: 100px">Position</th>
                <th class="text-center" style="width: 100px;">Account Status</th>
                 <th style="width: 10px; padding-left: 40px"></th>
              </tr>
            </thead>
            <tbody>
              <% DP6.forEach((row, index) => { %>
                <tr>
                  <td class="fw-bold mb-1" ><%= row.name %> <%= row.lastname %></td>
                  <td><%= row.employeeID %></td>
                  <td>
                    <% if (row.hrrole === "ROLE 1") { %> Administrative Officer <% }
                    else if (row.hrrole === "ROLE 2") { %> Senior Admin Assistant <% }
                    else if (row.hrrole === "ROLE 3") { %> Admin Officer <% } else if
                    (row.hrrole === "ROLE 4") { %> Admin Assistant <% } else if
                    (row.hrrole === "ROLE 5") { %> Admin Aide <% } else if (row.hrrole
                    === "ADMIN") { %> Department Head <% } %>
                  </td>
                  <% if (!row.verified) { %>
                  <td class="text-center"><span class="badge rounded-pill bg-warning">UNVERIFIED</span></td>
                  <% } else { %>
                    <td class="text-center"><span class="badge rounded-pill bg-success">VERIFIED</span></td>
                  <% } %>
                  <td class="action-buttons">
                    <a href="/view_emp_data/<%= row.email %>" class="icon-square"
                      ><i class="fa-solid fa-eye"></i
                    ></a>
                    <a
                      href="/delete/<%= row._id %>"
                      class="icon-square text-danger"
                      onclick="return confirm('Are you sure you want to delete employee <%= row.name %>?')"
                      ><i class="fa-solid fa-trash"></i
                    ></a>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
          <% } else { %>
          <h2 class="text-center text-secondary mt-5">
            No Employees found in CAD Department.
          </h2>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</body>
<%- include('../layouts/footer') %>
