<%- include('../layouts/hrislayout') -%>
<body>
  <%- include('../layouts/nav') -%> <%- include('../layouts/sidenavhris') %>
  <div class="page-body">
    <div class="page-name">
      <h1>All Employees</h1>
    </div>
    <p class="text-muted mb-4">Manage the employees registered in the system</p>
    <div class="col-lg-12">
      <% if (message) { %>
        <div
          class="alert alert-dismissible alert-<%= message.type %> fade show"
          role="alert"
          id="autoDismissAlert"
        >
        <strong>Attention!</strong><%= message.message %><a
          href="#"
          class="alert-link"
          ></a>
      </div>
      <% } %>        
    </div>
    <input
      class="form-control me-sm-2"
      type="text"
      id="accInput"
      placeholder="Search"
      style="margin-bottom: 20px"
      oninput="searchFunc()"
    />
    <div class="hris-container">
      <% if (logincollections != '') { %>
      <table id="table" class="table table-hover table-striped">
        <thead>
          <tr class="table-dark">
            <th style="width: 150px">Name</th>
            <th style="width: 200px">Email</th>
            <th style="width: 150px">Contact No.</th>
            <th style="width: 200px">Department</th>
            <th style="width: 150px">HR Role</th>
            <th style="width: 50px; padding-left: 110px">Action</th>
          </tr>
        </thead>
        <tbody>
          <% logincollections.forEach((row, index) => { %>
          <tr>
            <td><%= row.name %></td>
            <td><%= row.email %></td>
            <td><%= row.contact %></td>
            <td><%= row.department %></td>
            <td><%= row.hrrole %></td>
            <td class="action-buttons">
              <a href="#" class="icon-square"
                ><i class="fa-solid fa-eye"></i
              ></a>
              <a href="#" class="icon-square">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
              <a href="/delete/<%= row._id %>" class="icon-square text-danger" onclick="return confirm('Are you sure you want to delete employee <%= row.name %>?')"
                ><i class="fa-solid fa-trash"></i
              ></a>
              <a href="#" class="icon-square"
                ><i class="fa-solid fa-plus"></i
              ></a>
              <a href="#" class="icon-square"
                ><i class="fa-solid fa-list"></i
              ></a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } else { %>
        <h1 class="text-center text-secondary mt-5">No Users found in database</h1>
        <% } %>
    </div>
  </div>
</body>

<%- include('../layouts/footer') %>
