<%- include('../layouts/hrislayout') -%>
<body>
  <%- include('../layouts/navhrisP') -%>
  <%- include('../layouts/sidenavP') %>
  <div class="page-body fade-in">
    <div class="page-name">
      <h1 class="text-uppercase">All departments: </h1>
      <% if (user.hrrole === "ADMIN" || user.mEmp === true) { %>
        <a 
          href="#" 
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#addDepartmentModal"
          >ADD DEPARTMENT
        </a>
      <% } %>
    </div>
    <p class="text-muted mb-4">
      Manage the departments registered in the system.
    </p>
    <input
    class="form-control me-sm-2"
    type="text"
    id="accInput"
    placeholder="Search"
    style="margin-bottom: 20px"
    oninput="filterDepartments()"
  />
  <div class="otherBtns d-flex justify-content-end mb-3">
    <a href="/all_employees" class="btn btn-secondary fw-bold"><i class="fa-solid fa-magnifying-glass me-1"></i> all employees</a>
  </div>
  <% if (allDepartments.length > 0) { %>
    <table class="table table-hover table-bordered table-striped">
      <thead>
        <tr class="table-primary text-uppercase">
          <th scope="col">Abbreviation</th>
          <th scope="col">Department Name</th>
          <th scope="col">Employee Count</th>
          <th scope="col" style="text-align: center">Actions</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <% paginatedDepartments.forEach((department) => { %>
          <tr class="text-uppercase">
            <td class="fw-bold"><%- department.deptAbbrev %></td>
            <td class="fw-bold" title="<%- department.deptName %>">
              <%- department.deptName.length > 30 ? department.deptName.substring(0, 30) + '...' : department.deptName %>
            </td>
            <td><%- department.employees.length %></td>
            <td style="text-align: center">
              <a href="/view-department/<%- department._id %>" type="button" class="deptbtn" id="viewDept">
                <i class="fa-solid fa-eye"></i>
              </a>
              <% if (department.deptAbbrev !== "HRDMD") { %>
                <a 
                  href="#" 
                  type="button" 
                  class="deptbtn" 
                  id="renameDept"
                  data-bs-toggle="modal"
                  data-bs-target="#renameModal"
                  data-bs-deptID="<%- department._id %>"
                  data-bs-deptName="<%- department.deptName %>"
                  data-bs-deptAbbrev="<%- department.deptAbbrev %>"
                >
                  <i class="fa-solid fa-pen"></i>
                </a>
                <a 
                  href="#" 
                  type="button" 
                  class="deptbtn-del" 
                  id="closeDept"
                  data-bs-toggle="modal"
                  data-bs-target="#closeModal"
                  data-bs-deptID="<%- department._id %>"
                  data-bs-deptAbbrev="<%- department.deptAbbrev %>"
                >
                  <i class="fa-solid fa-xmark"></i>
                </a>
              <% } %>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <nav aria-label="Page navigation">
      <p class="pagination-hint" id="pageinationHint">
        Showing <%= (currentPage - 1) * perPage + 1 %> to <%= Math.min(currentPage * perPage, totalDepartments) %> of <%= totalDepartments %>
      </p>
      <ul class="pagination justify-content-center">
        <% if (currentPage > 1) { %>
          <li class="page-item">
            <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        <% } %>
        <% for (let i = 1; i <= totalPages; i++) { %>
          <li class="page-item <%= i === currentPage ? 'active' : '' %>">
            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
          </li>
        <% } %>
        <% if (currentPage < totalPages) { %>
          <li class="page-item">
            <a class="page-link" href="?page=<%= currentPage + 1 %>" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        <% } %>
      </ul>
    </nav>
  <% } else { %>
    <p>No departments found.</p>
  <% } %>
  </div>
  <%# MODALS %>
  <%# ADD DEPARTMENT MODAL %>
  <div
  class="modal fade"
  id="addDepartmentModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addDepartmentModalLabel"
  aria-hidden="true"
  >
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addDepartmentModalLabel">Add New Department</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form id="addDeptForm">
        <div class="modal-body">
          <div id="remarksInputContainer">
            <label for="deptInput" class="form-label">Abbreviation:</label>
            <input type="text" class="form-control" id="deptAbbrev" required />
            <div class="deptAbbrev-error invalid-feedback fade-in"></div>
          </div>
          <div class="mt-4" id="remarksInputContainer">
            <label for="deptInput" class="form-label">Department Name:</label>
            <input type="text" class="form-control" id="deptInput" required />
            <div class="dept-error invalid-feedback fade-in"></div>
          </div>
        </div>
        <div class="modal-footer mt-4">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancel
          </button>
          <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
      </form>
    </div>
  </div>
  </div>
  <%# RENAME DEPARTMENT MODAL %>
  <div
  class="modal fade"
  id="renameModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="renameModalLabel"
  aria-hidden="true"
  >
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="margin-top: 100px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="renameModalLabel">Rename Department</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form id="renameForm">
        <div class="modal-body">
          <div id="remarksInputContainer">
            <label for="deptInput" class="form-label">Abbreviation:</label> 
            <input type="text" class="form-control" id="renameInput" required />
            <div class="deptAbbrev-errorR invalid-feedback fade-in"></div>
          </div>
          <div class="mt-5" id="remarksInputContainer">
            <label for="deptInput" class="form-label">Department Name:</label>
            <input type="text" class="form-control" id="renameCurrent" required />
            <div class="dept-errorR invalid-feedback fade-in"></div>
          </div>
          <div class="mt-5 border-top">
            <p class="text-danger mt-2">
              Renaming selected department will also affect all employees in the department.
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancel
          </button>
          <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
      </form>
    </div>
  </div>
  </div>
  <%# CLOSE DEPARTMENT MODAL %>
  <div
  class="modal fade"
  id="closeModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="closeModalLabel"
  aria-hidden="true"
  >
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="margin-top: 120px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger text-uppercase fw-bold" id="closeModalLabel">Close Department</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form id="closeForm">
        <div class="modal-body">
          <p >Are you sure you want to close the <strong id="closeModalText"></strong> department?</p>
          <div class="mt-4" id="remarksInputContainer">
            <label for="closedReason" class="form-label">Reason for closure:</label>
            <textarea type="text" class="form-control remarks-textbox" id="closedReason" required></textarea>
          </div>
          <div class="mt-4">
            <p class="text-danger mt-2">
              Closing selected department will also affect all employees in the department.
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancel
          </button>
          <button type="submit" class="btn btn-danger">Confirm</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>
</body>
<%# SCRIPT FOR ADD DEPARTMENT %>
<script>
  const form = document.getElementById("addDeptForm");
  const deptAbbrevError = document.querySelector(".deptAbbrev-error");
  const deptAbbrevInput = document.getElementById("deptAbbrev");
  const deptError = document.querySelector(".dept-error");
  const deptInput = document.getElementById("deptInput");

  form.addEventListener("submit", async (event) => {
    event.preventDefault();

    // Clear previous error messages
    deptAbbrevError.textContent = "";
    deptAbbrevInput.classList.remove("is-invalid");
    deptError.textContent = "";
    deptInput.classList.remove("is-invalid");

    const abbrev = deptAbbrevInput.value.trim(); // Trim leading/trailing spaces
    const dept = deptInput.value.trim(); // Trim leading/trailing spaces

    try {
      const result = await fetch("/addDepartment", {
        method: "POST",
        body: JSON.stringify({ department: dept, abbreviation: abbrev }),
        headers: { "Content-Type": "application/json" },
      });

      const data = await result.json();

      if (data.error && data.error.includes("abbreviation")) {
        deptAbbrevInput.classList.add("is-invalid");
        deptAbbrevError.textContent = data.error;
      } else if (data.error && data.error.includes("name")) {
        deptInput.classList.add("is-invalid");
        deptError.textContent = data.error;
      } else {
        alert("Department added successfully!");
        window.location.reload(); // Reload to fetch updated department list
      }
    } catch (err) {
      console.error("Error:", err);
      alert("An error occurred while adding the department.");
    }
  });
</script>
<%# SCRIPT FOR RENAME DEPARTMENT %>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const renameModal = document.getElementById("renameModal");
    const deptAbbrevError = document.querySelector(".deptAbbrev-errorR");
    const deptError = document.querySelector(".dept-errorR");
    const renameInput = document.getElementById("renameInput");
    const renameCurrent = document.getElementById("renameCurrent");

    let deptID = "";
    let deptName = "";
    let deptAbbrev = "";

    // Listen for when the modal is about to be shown
    renameModal.addEventListener("show.bs.modal", (event) => {
      // Get the button that triggered the modal
      const button = event.relatedTarget;

      // Clear previous error messages
      deptAbbrevError.textContent = "";
      renameInput.classList.remove("is-invalid");
      deptError.textContent = "";
      renameCurrent.classList.remove("is-invalid");

      // Extract the data attributes from the button
      deptID = button.getAttribute("data-bs-deptID");
      deptName = button.getAttribute("data-bs-deptName");
      deptAbbrev = button.getAttribute("data-bs-deptAbbrev");

      // Populate the input fields in the modal
      renameInput.value = deptAbbrev || ""; // Default to empty string if null
      renameCurrent.value = deptName || ""; // Default to empty string if null
    });


    // Handle form submission
    const renameForm = document.getElementById("renameForm");
    renameForm.addEventListener("submit", async (event) => {
      event.preventDefault();

      const abbrev = renameInput.value.trim();
      const current = renameCurrent.value.trim();

      try {
        const result = await fetch("/renameDepartment", {
          method: "POST",
          body: JSON.stringify({ 
            deptID: deptID,
            currentDeptName: deptName,
            currentDeptAbbrev: deptAbbrev,
            newDeptName: current, 
            newDeptAbbrev: abbrev 
          }),
          headers: { "Content-Type": "application/json" },
        });

        const data = await result.json();

        if (data.error && data.error.includes("abbreviation")) {
          renameInput.classList.add("is-invalid");
          deptAbbrevError.textContent = data.error;
        } else if (data.error && data.error.includes("name")) {
          renameCurrent.classList.add("is-invalid");
          deptError.textContent = data.error;
        } else {
          alert("Department renamed successfully!");
          window.location.reload();
        }
      } catch (err) {
        console.error("Error:", err);
        alert("An error occurred while renaming the department.");
      }
    });
  });
</script>
<%# SCRIPT FOR CLOSING DEPARTMENT %>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const closeModal = document.getElementById("closeModal");
    const closeForm = document.getElementById("closeForm");
    const closeError = document.querySelector(".close-error");

    let deptID = "";
    let deptAbbrev = "";

    closeModal.addEventListener("show.bs.modal", (event) => {
      const button = event.relatedTarget;
      const closeModalText = document.getElementById("closeModalText");

      deptID = button.getAttribute("data-bs-deptID");
      deptAbbrev = button.getAttribute("data-bs-deptAbbrev");

      closeModalText.textContent = deptAbbrev;
    })
  });
</script>
<script>
  let allDepartments = <%- JSON.stringify(allDepartments) %>; // Store all departments

  function filterDepartments() {
    const input = document.getElementById('accInput').value.toLowerCase(); // Get the search query
    const rows = document.querySelectorAll('#myTable tr'); // Get all table rows
    const pageinationHint = document.getElementById('pageinationHint');

    pageinationHint.style.display = 'none';

    const filteredDepartments = allDepartments.filter(department => {
      return (
        department.deptAbbrev.toLowerCase().includes(input) || 
        department.deptName.toLowerCase().includes(input)
      );
    });

    const tbody = document.getElementById('myTable');
    tbody.innerHTML = ''; // Clear current rows

    filteredDepartments.forEach(department => {
      const row = document.createElement('tr');
      row.classList.add('text-uppercase');

      row.innerHTML = `
        <td class="fw-bold">${department.deptAbbrev}</td>
        <td class="fw-bold" title="${department.deptName}">
          ${department.deptName.length > 30 ? department.deptName.substring(0, 30) + '...' : department.deptName}
        </td>
        <td>${department.employees.length}</td>
        <td style="text-align: center">
          <a href="/view-department/${department._id}" type="button" class="deptbtn" id="viewDept">
            <i class="fa-solid fa-eye"></i>
          </a>
          ${department.deptAbbrev !== "HRDMD" ? `
            <a 
              href="#" 
              type="button" 
              class="deptbtn" 
              id="renameDept"
              data-bs-toggle="modal"
              data-bs-target="#renameModal"
              data-bs-deptID="${department._id}"
              data-bs-deptName="${department.deptName}"
              data-bs-deptAbbrev="${department.deptAbbrev}"
            >
              <i class="fa-solid fa-pen"></i>
            </a>
            <a 
              href="#" 
              type="button" 
              class="deptbtn-del" 
              id="closeDept"
              data-bs-toggle="modal"
              data-bs-target="#closeModal"
              data-bs-deptID="${department._id}"
              data-bs-deptAbbrev="${department.deptAbbrev}"
            >
              <i class="fa-solid fa-xmark"></i>
            </a>
          ` : ''}
        </td>
      `;
      tbody.appendChild(row);
    });
  }
</script>
<%- include('../layouts/footer') %>
