<%- include('../layouts/hrislayout') -%>
<body>
  <%- include('../layouts/navhrisP') -%>
  <%- include('../layouts/sidenavP') %>
  <div class="page-body fade-in">
    <div class="page-name">
      <h1>View Employee Details:</h1>
      <div class="account-options">
        <a href="/view_employees" class="btn btn-secondary">Go Back</a>
      </div>
    </div>
    <div id="alertContainer" class="bottom-right">
      <% if (message) { %>
      <div
        class="alert alert-dismissible alert-<%= message.type %> fade show"
        role="alert"
        id="autoDismissAlert"
      >
        <strong>Attention!</strong> <%= message.message %><a
          href="#"
          class="alert-link"
        ></a>
      </div>
      <% } %>
    </div>
    <% if (logincollections.accountClosed === true) { %>
      <div class="alert alert-danger">
        <strong>ATTENTION!</strong> This account has been closed and cannot be accessed by the user.
      </div>
    <% } %>
    <% if (logincollections.verified === false) { %>
      <div class="alert alert-dismissible alert-warning">
        <h4 class="alert-heading">NOT VERIFIED!</h4>
        <p class="mb-0">This account is not yet verified, <a href="/edit/<%= logincollections._id %>" class="alert-link">check their details</a> and verify their account.</p>
      </div>
    <% } %>
    <div class="page-extra">
      <h4 class="text-muted">HRIS Profile Information:</h4>
      <% if (logincollections.hrrole !== "ADMIN") { %>
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Actions
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/edit/<%= logincollections._id %>">Manage Account</a></li>
            <li><a class="dropdown-item mt-1" href="/view-dtr/<%= logincollections._id %>">View DTR</a></li>
            <% if (logincollections.department === 'HR Department' && user.hrrole === "ADMIN") { %>
              <li><a class="dropdown-item mt-1" href="/manage_permission/<%= logincollections._id %>">Manage Permissions</a></li>
            <% } %>
            <% if (user.email !== logincollections.email) { %>
              <% if (logincollections.accountClosed === false) { %>
                <li><a id="closeAccountLink" class="dropdown-item text-danger mt-1" href="#">Close Account</a></li>
              <% } else { %>
                <li><a id="reopenAccountLink" class="dropdown-item text-success mt-1" href="#">Reopen Account</a></li>
              <% } %>
            <% } %>
          </ul>
        </div>
      <% } %>
      <script>
        const dropdown = new bootstrap.Dropdown(document.querySelector('.btn-group'))
      </script>
    </div>
    <% if (logincollections.accountClosed === false) { %>
      <div class="account-at">
    <% } else { %>
      <div class="account-at-closed">
    <% } %>
      <div class="account-img">
        <% if (logincollections.image === "") { %>
          <img src="../images/user.jpg" />
          <% } else { %>
          <img src="../<%= logincollections.image %>" />
      <% } %>
      </div>
      <div class="account-in mt-3 text">
        <p><b>Name:</b> <%= logincollections.name %> <%= logincollections.lastname %></p>
        <p><b>Email:</b> <%= logincollections.email %></p>
        <p><b>Emp. Status:</b> <%= logincollections.empStatus %></p>
        <p><b>Department:</b> <% if (logincollections.department === 'HR Department') { %>
         HR Department <% } else if (logincollections.department === 'Department 1') { %>
         PESO Department <% } else if (logincollections.department === 'Department 2') { %>
         CCD Office <% } else if (logincollections.department === 'Department 3') { %>
         OAS Department <% } else if (logincollections.department === 'Department 4') { %>
         BTM Department <% } else if (logincollections.department === 'Department 5') { %>
         BPL Department <% } else if (logincollections.department === 'Department 6') { %>
          CAD Department
        <% } %></p>
        <p><b>Position:</b> <% if (logincollections.hrrole === "ROLE 1") { %> Administrative Officer <% }
          else if (logincollections.hrrole === "ROLE 2") { %> Senior Admin Assistant <% }
          else if (logincollections.hrrole === "ROLE 3") { %> Admin Officer <% } else if
          (logincollections.hrrole === "ROLE 4") { %> Admin Assistant <% } else if
          (logincollections.hrrole === "ROLE 5") { %> Admin Aide <% } else if (logincollections.hrrole
          === "ADMIN") { %> Department Head <% } %></p>
      </div>
      <div class="account-stat mt-3">
        <div class="account-stat-item">
            <p><b>Days Present:</b> <%= attendance.daysPresent %></p></p>
            <p><b>Days Absent:</b> <%= attendance.daysAbsent %></p>
            <p><b>Days On Leave:</b> <%= attendance.daysOnLeave %></p>
            <p class="<% if (VLPoints >= 1.25) { %>
                 text-success
                <% } else if (VLPoints <= 1.24 && VLPoints >= 1.15 ) { %>
                text-warning
                <% } else if (VLPoints <= 1.15 && VLPoints >= 1.00 ) { %>
                text-danger
                <% } else if (VLPoints <= 1.00 ) { %>
                text-danger
                <% } %>"><b style="color: rgb(0, 0, 0);">VL Points:</b> <%= VLPoints.toFixed(2) %></p>
            <p class="<% if (SLPoints >= 1.25) { %>
                 text-success
                <% } else if (SLPoints <= 1.24 ) { %>
                text-warning
                <% } else if (SLPoints <= 1.15 ) { %>
                text-danger
                <% } %>"><b style="color: rgb(0, 0, 0);">SL Points:</b> <%= SLPoints.toFixed(2) %></p>
        </div>
    </div>
    <div class="account-stat mt-3">
      <div class="account-stat-item">
        <p><b>Account Status:</b> <%if (logincollections.accountClosed === true) { %> <span style="color: red;">CLOSED</span> <% } else { %><span style="color: green;">ACTIVE</span><% } %></p>
        <p><b>Verification Status:</b> <%if (logincollections.verified === true) { %> <span style="color: green;">VERIFIED</span> <% } else { %><span style="color: red;">NOT VERIFIED</span><% } %></p>
      </div>
    </div>
  </div>
  <% if (logincollections.closedReason || logincollections.reopenReason) { %>
  <div class="accordion mt-4" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed acchistory-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        ACCOUNT HISTORY:
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <% if (logincollections.reopenReason) { %>
        <div class="timeline">
        <div class="timeline-item">
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <p class="timeline-date">Reopened on: <span class="text-primary"><%= logincollections.reopenDate %></span></p>
            <p class="timeline-reason">Reason for reopening: <span class="text-success"><%= logincollections.reopenReason %></span></p>
          </div>
        </div>
      </div>
      <% } %>
      <% if (logincollections.closedReason) { %>
        <div class="timeline-danger">
        <div class="timeline-item">
          <div class="timeline-marker bg-danger"></div>
          <div class="timeline-content">
            <p class="timeline-date">Closed on: <span class="text-primary"><%= logincollections.closeDate %></span></p>
            <p class="timeline-reason">Reason for account closure: <span class="text-danger"><%= logincollections.closedReason %></span></p>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  </div>
  <% } %>
  <% if (user.hrrole === "ADMIN" && logincollections.empStatus !== "Job Order" && logincollections.email !== user.email && logincollections.department === 'HR Department') { %>
  <div class="border mt-4"></div>
  <div class="form mt-4">
    <h3 class="mb-3" style="margin-left: 10px;">HR Permissions:</h3>
            <form id="permissionsForm" action="/update_permissions/<%= logincollections._id %>" method="POST">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="form-check">
                            <input class="form-check-input form-no-click" type="checkbox" name="mEmp" id="mEmp" <%= logincollections.mEmp ? 'checked' : '' %> onclick="return false;">
                            <label class="form-check-label" for="mEmp">
                                Manage Employees
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                            <input class="form-check-input form-no-click" type="checkbox" name="mLeave" id="mLeave" <%= logincollections.mLeave ? 'checked' : '' %> onclick="return false;">
                            <label class="form-check-label" for="mLeave">
                                Manage Leave Applications
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                            <input class="form-check-input form-no-click" type="checkbox" name="mDTR" id="mDTR" <%= logincollections.mDTR ? 'checked' : '' %> onclick="return false;">
                            <label class="form-check-label" for="mDTR">
                                Manage Employee DTR
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                            <input class="form-check-input form-no-click" type="checkbox" name="mPrint" id="mPrint" <%= logincollections.mPrint ? 'checked' : '' %> onclick="return false;">
                            <label class="form-check-label" for="mPrint">
                                Print DTR Reports
                            </label>
                        </div>
                    </div>
                </div>
                <% if (logincollections.empStatus === "Job Order") { %> 
                    <p class="text-center text-danger mt-3">Employees that are J.O. (Job Order) cannot be granted permissions</p>
                <% } %>
            </form>
        </div>
        <div class="border mt-4"></div>
      <% } %>
  </div>
  <div class="emp-files slide-up">
    <div class="page-name">
      <h3>Employee Files:</h3>
    </div>
    <p class="text-muted">These are the files submitted by the employee</p>
    <%- include('../layouts/tables/201TableAdmin.ejs') -%>
  </div>
  <!-- Close Confirmation Modal -->
  <div class="modal fade" id="closeAccountModal" tabindex="-1" aria-labelledby="closeAccountLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="closeAccountLabel">Confirm Account Closure</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to close <strong><%= logincollections.name %></strong>'s account? This action cannot be undone.
          <div id="closedReasonContainer">
            <label for="closedReason" class="form-label">Reason for closure:</label>
            <textarea type="text" class="form-control remarks-textbox" id="closedReason"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" id="confirmCloseAccount" class="btn btn-danger">Close Account</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Reopen Confirmation Modal -->
  <div class="modal fade" id="reopenAccountModal" tabindex="-1" aria-labelledby="closeAccountLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="closeAccountLabel">Confirm Account Reopen</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to reopen <strong><%= logincollections.name %></strong>'s account?
          <div id="RCReasonContainer">
            <label for="reopenReason" class="form-label mt-3">Reopen Reason:</label>
            <textarea type="text" class="form-control remarks-textbox" id="reopenReason"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" id="confirmReopenAccount" class="btn btn-success">Reopen Account</button>
        </div>
      </div>
    </div>
  </div>
  <%- include('../layouts/footer') %>
  <script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const closeAccountLink = document.getElementById('closeAccountLink');
    const confirmCloseAccountButton = document.getElementById('confirmCloseAccount');

    closeAccountLink.addEventListener('click', function(event) {
      event.preventDefault();
      var myModal = new bootstrap.Modal(document.getElementById('closeAccountModal'), {
        keyboard: false
      });
      myModal.show();
    });

    confirmCloseAccountButton.addEventListener('click', function() {
      const userId = '<%= logincollections._id %>';
      const closedReason = document.getElementById('closedReason').value;

      // Prepare the data to send
      const data = {
        closedReason: closedReason
      };

      // Send a POST request to the server
      fetch(`/close-account/${userId}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data)
      })
      .then(response => {
        if (response.redirected) {
          window.location.href = response.url;
        } else {
          return response.json();
        }
      })
      .then(data => {
        console.log('Success:', data);
        // Optionally close the modal if success or handle errors
        var myModal = bootstrap.Modal.getInstance(document.getElementById('closeAccountModal'));
        myModal.hide();
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    });
  });
  // Reopen Account
    document.addEventListener('DOMContentLoaded', (event) => {
    const reopenAccountLink = document.getElementById('reopenAccountLink');
    const confirmReopenAccountButton = document.getElementById('confirmReopenAccount');

    reopenAccountLink.addEventListener('click', function(event) {
      event.preventDefault();
      var myModal = new bootstrap.Modal(document.getElementById('reopenAccountModal'), {
        keyboard: false
      });
      myModal.show();
    });

    confirmReopenAccountButton.addEventListener('click', function() {
      const userId = '<%= logincollections._id %>';
      const reopenReason = document.getElementById('reopenReason').value;

      // Prepare the data to send
      const data = {
        reopenReason: reopenReason
      };

      // Send a POST request to the server
      fetch(`/reopen-account/${userId}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data)
      })
      .then(response => {
        if (response.redirected) {
          window.location.href = response.url;
        } else {
          return response.json();
        }
      })
      .then(data => {
        console.log('Success:', data);
        // Optionally close the modal if success or handle errors
        var myModal = bootstrap.Modal.getInstance(document.getElementById('reopenAccountModal'));
        myModal.hide();
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    });
  });
  </script>
</body>
