<%- include('../layouts/hrislayout') -%>
<body>
  <%- include('../layouts/navhris') -%> <%- include('../layouts/sidenavhris') %>
  <%- include('../layouts/footer') %>
  <div class="page-body">
    <div class="page-name">
      <h1>Attendance Record:</h1>
      <a href="/dtr" class="btn btn-secondary">Go Back</a>
    </div>
    <div id="alertContainer" class="bottom-right">
      <% if (message) { %>
      <div
        class="alert alert-dismissible alert-<%= message.type %> fade show"
        role="alert"
        id="autoDismissAlert"
      >
        <strong>Attention!</strong> <%= message.message %><a
          href="#"
          class="alert-link"
        ></a>
      </div>
      <% } %>
    </div>
    <div class="account-at">
      <div class="account-img">
        <img src="../<%= logincollections.image %>" />
      </div>
      <div class="account-in mt-3 text">
        <p><b>Name:</b> <%= logincollections.name %></p>
        <p><b>Email:</b> <%= logincollections.email %></p>
        <p><b>Contact:</b> <%= logincollections.contact %></p>
        <p><b>Department:</b> <%= logincollections.department %></p>
        <p><b>Position:</b> <%= logincollections.position %></p>
      </div>
      <div class="account-stat mt-3">
        <div class="account-stat-item">
          <p>
            <b>Status:</b> <% if (attendance.status === 'IN') { %>
            <span class="green-dot"></span>
            <% } else if (attendance.status === 'OUT') { %>
            <span class="red-dot"></span>
            <% } %><%= attendance.status %>
          </p>
        </div>
        <div class="account-stat-item">
            <p><b>Days Present:</b> <%= attendance.daysPresent %></p></p>
            <p><b>Days Absent:</b> <%= attendance.daysAbsent %></p>
            <p><b>Days On Leave:</b> <%= attendance.daysOnLeave %></p>
        </div>
    </div>
    <div class="account-stat mt-3">
      <div class="account-stat-item">
          <p><b>Dayoffs:</b> <%= attendance.dayOff %></p></p>
          <p><b>Pay Sched:</b> <%= attendance.paySched %></p>
          <p><b>Current Cut-off:</b> <%= attendance.cutoffDate.toLocaleDateString('en-US', { month: 'long', day: 'numeric' }) %></p>
          <p><b>Next Cut-off:</b> <%= attendance.nextCutoffDate.toLocaleDateString('en-US', { month: 'long', day: 'numeric' }) %></p>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <div class="account-column-2">
        <h3>Daily Time Record:</h3>
    </div>
    <div class="clockin-tab">
      <p><%= getCurrentDateInWords() %></p>
      <div class="clockin-btn">
        <a href="/m-absent/<%= logincollections.id %>" class="btn btn-danger <% if (status === 'Absent' || attendance.status === 'IN') { %>
         disabled
        <% } %>" style="margin-right: 10px;">mark as Absent</a>
      </div>
    </div>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link text-uppercase active nav-first" data-bs-toggle="tab" href="#hw" aria-selected="true" role="tab">Hours Worked</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab" href="#dp" aria-selected="false" tabindex="-1" role="tab">Days Present</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab" href="#da" aria-selected="false" tabindex="-1" role="tab">Days Absent</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#dol" aria-selected="false" tabindex="-1" role="tab">Days on Leave</a>
          </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade show active" id="hw" role="tabpanel">
          <h4 class="mt-4">Record Today:</h4>
          <p class="text-muted">This is the total hours worked today.</p>
          <div class="dtr-view-container">
            <div class="dtr-view-div">
              <div class="div-title">
                <p class="dtr-view-title">Total Today:</p>
              </div>
              <div class="div-view-count"><% if (attendance.status === 'OUT' && status === 'Absent') { %>
                ABSENT
              <% } else if (attendance.timeIn !== null && status === 'Present') { %>
                <%= totalHours %> hours and <%= totalMinutes %> minutes
              <% } else { %>
                N/A
              <% } %></div>
            </div>
            <div class="dtr-view-div">
              <div class="div-title">
                <p class="dtr-view-title">Clocked In:</p>
              </div>
              <div class="div-view-count"><% if (attendance.timeIn !== null) { %>
                <%= attendance.timeIn.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %>
                <% } else if (status === 'Absent'){ %> 
                ABSENT
                <% } else { %>
                Not Clocked In
              <% } %></div>
            </div>
          </div>
          <h4 class="mt-4">Record Before Cutoff:</h4>
          <p class="text-muted">This is the total hours worked before the cutoff.</p>
          <div class="dtr-cut-container">
            <div class="dtr-view-div">
              <div class="div-title">
                <p class="dtr-view-title">Total Hours Worked:</p>
              </div>
              <div class="div-view-count"><%= attendance.hoursWorked.toFixed(2) %> Hour(s)</div>
            </div>
            <div class="dtr-cut-div">
              <div class="div-cut-title">
                <p class="dtr-view-title text-uppercase">Cut-off:</p>
              </div>
              <div class="div-cut-count"><%= attendance.cutoffDate.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) %>
              </div>
            </div>
            <div class="dtr-cut-div">
              <div class="div-cut-title">
                <p class="dtr-view-title text-uppercase">Next Cut-off:</p>
              </div>
              <div class="div-cut-count"><%= attendance.nextCutoffDate.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) %>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="dp" role="tabpanel">
          <h4 class="mt-4">Days Present:</h4>
          <p class="text-muted">This table shows the days present.</p>
          <table id="table" class="table table-hover table-striped table-bordered mt-4">
            <thead>
              <% if (dayspresent != '') { %>
                <tr class="table-dark text-center text-uppercase">
                  <th>Date</th>
                  <th>Time In</th>
                  <th>Time Out</th>
                  <th>Total Time</th>
                  <th>Overtime</th>
                  <th>Undertime</th>
                </tr>
              </thead>
              <tbody>
                <% // Sort dayspresent array by date (from latest to oldest)
                dayspresent.sort((a, b) => new Date(b.date) - new Date(a.date));
        
                // Render sorted rows
                dayspresent.forEach((row, index) => { %>
                  <tr>
                    <td><%= row.date.toISOString().slice(0, 10) %></td>
                <td><%= row.timeIn.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %></td>
                <td><% if (row.timeOut !== null) { %><%= row.timeOut.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %><% } else { %>Ongoing<% } %></td>
                <td><%= row.totalTime.toFixed(2) %></td>
                <td><%= row.overTime.toFixed(2) %></td>
                <td><%= row.underTime.toFixed(2) %></td>
              </tr>
                  <% }) %>
              </tbody>
              <% } else { %>
                <h1 class="text-center text-secondary mt-5">
                  No Days Present Found
                </h1>
              <% } %>
          </table>
        </div>
        <div class="tab-pane fade" id="da" role="tabpanel">
          <h4 class="mt-4">Days Absent:</h4>
          <p class="text-muted">This table shows the days absent.</p>
          <table id="table" class="table table-hover table-striped table-bordered mt-4">
            <thead>
              <% if (daysabsent != '') { %>
                <tr class="table-dark text-center text-uppercase">
                  <th>Date</th>
                  <th>Day</th>
                </tr>
              </thead>
              <tbody>
                <% // Sort daysabsent array by date (from latest to oldest)
                daysabsent.sort((a, b) => new Date(b.date) - new Date(a.date));

                const daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

                daysabsent.forEach((row, index) => { %>
                  <tr class="text-center">
                    <td><%= row.date.toISOString().slice(0, 10) %></td>
                    <td><%= daysOfWeek[row.date.getDay()] %></td>
                  </tr>
                  <% }) %>
              <% } else { %>
                <h1 class="text-center text-secondary mt-5">
                  No Days Absent Found
                </h1>
              <% } %>
          </table>
        </div>
        <div class="tab-pane fade" id="dol" role="tabpanel">
          <h4 class="mt-4">Days on Leave:</h4>
          <p class="text-muted">This table shows the days on leave.</p>
          
        </div>
  </div>
</body>
<% function getCurrentDateInWords() { const months = ['January', 'February',
  'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October',
  'November', 'December']; const days = ['Sunday', 'Monday', 'Tuesday',
  'Wednesday', 'Thursday', 'Friday', 'Saturday']; const currentDate = new
  Date(); const dayOfWeek = days[currentDate.getDay()]; const month =
  months[currentDate.getMonth()]; const dayOfMonth = currentDate.getDate();
  const year = currentDate.getFullYear(); return `${dayOfWeek}, ${month}
  ${dayOfMonth}, ${year}`; } %>