<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" id="sidebarCollapse">Human Resources Department</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ms-auto">
        <% if (user) { %>
        <li class="nav-item">
          <a class="nav-link nav-name active" href="#">
            <%= user.email %>
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" id="toggleSidebar" class="nav-link">
            <img class="nav-img" src="../<%= user.image %>" />
          </a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<!-- Sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-body">
    <div class="sidebar-image">
      <div class="profile-image"><img src="../<%= user.image %>" /></div>
      <a class="username"><%= user.name %></a>
    </div>
    <div class="sidebar-menu">
      <ul>
        <li>
          <a href="/editacc/<%= encodeURIComponent(user.name) %>"
            >Account Settings</a
          >
        </li>
        <li><a href="#">HR File</a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="overlay" id="overlay"></div>
