<table id="table" class="table table-hover table-striped">
  <thead>
    <tr class="table-primary text-uppercase">
      <th>File Type</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="fileType text-uppercase">Appointment Paper</td>
      <% if (results[0] !== null) { %>
        <td class="text-success">SUBMITTED</td>
      <% } else { %>
        <td class="text-danger">NOT SUBMITTED</td>
      <% } %>
      <td class="action-buttons">
        <a href="/view-201/appPaper/<%= user.email %>" class="icon-square"><i class="fa-solid fa-upload"></i></a>
        <a href="/view-201/appPaper/<%= user.email %>" class="icon-square"><i class="fa-solid fa-eye"></i></a>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td class="fileType text-uppercase">Personal Data Sheet</td>
      <% if (results[1] !== null) { %>
        <td class="text-success">SUBMITTED</td>
      <% } else { %>
        <td class="text-danger">NOT SUBMITTED</td>
      <% } %>
      <td class="action-buttons">
        <a href="/view-201/pds/<%= user.email %>" class="icon-square"><i class="fa-solid fa-upload"></i></a>
        <a href="/view-201/pds/<%= user.email %>" class="icon-square"><i class="fa-solid fa-eye"></i></a>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td class="fileType text-uppercase">Certificate of Eligibility/Rating/License</td>
      <% if (results[2] !== null) { %>
        <td class="text-success">SUBMITTED</td>
      <% } else { %>
        <td class="text-danger">NOT SUBMITTED</td>
      <% } %>
      <td class="action-buttons">
        <a href="/view-201/certERL/<%= user.email %>" class="icon-square"><i class="fa-solid fa-upload"></i></a>
        <a href="/view-201/certERL/<%= user.email %>" class="icon-square"><i class="fa-solid fa-eye"></i></a>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td class="fileType text-uppercase">Oath of Office</td>
      <td class="text-danger">NOT SUBMITTED</td>
      <td class="action-buttons">
        <a href="#" class="icon-square"><i class="fa-solid fa-upload"></i></a>
        <a href="#" class="icon-square"><i class="fa-solid fa-eye"></i></a>
        <a href="#" class="icon-square text-danger"
          ><i class="fa-solid fa-trash"></i
        ></a>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td class="fileType text-uppercase">Certification of Assumption</td>
      <td class="text-danger">NOT SUBMITTED</td>
      <td class="action-buttons">
        <a href="#" class="icon-square"><i class="fa-solid fa-upload"></i></a>
        <a href="#" class="icon-square"><i class="fa-solid fa-eye"></i></a>
        <a href="#" class="icon-square text-danger"
          ><i class="fa-solid fa-trash"></i
        ></a>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td class="fileType text-uppercase">
        Certification of Budgetary Limitation
      </td>
      <td class="text-danger">NOT SUBMITTED</td>
      <td class="action-buttons">
        <a href="#" class="icon-square"><i class="fa-solid fa-upload"></i></a>
        <a href="#" class="icon-square"><i class="fa-solid fa-eye"></i></a>
        <a href="#" class="icon-square text-danger"
          ><i class="fa-solid fa-trash"></i
        ></a>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td class="fileType text-uppercase">Position Description Form</td>
      <td class="text-danger">NOT SUBMITTED</td>
      <td class="action-buttons">
        <a href="#" class="icon-square"><i class="fa-solid fa-upload"></i></a>
        <a href="#" class="icon-square"><i class="fa-solid fa-eye"></i></a>
        <a href="#" class="icon-square text-danger"
          ><i class="fa-solid fa-trash"></i
        ></a>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td class="fileType text-uppercase">Medical Certificate</td>
      <td class="text-danger">NOT SUBMITTED</td>
      <td class="action-buttons">
        <a href="#" class="icon-square"><i class="fa-solid fa-upload"></i></a>
        <a href="#" class="icon-square"><i class="fa-solid fa-eye"></i></a>
        <a href="#" class="icon-square text-danger"
          ><i class="fa-solid fa-trash"></i
        ></a>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td class="fileType text-uppercase">Certificate of Live Birth (PSA)</td>
      <td class="text-danger">NOT SUBMITTED</td>
      <td class="action-buttons">
        <a href="#" class="icon-square"><i class="fa-solid fa-upload"></i></a>
        <a href="#" class="icon-square"><i class="fa-solid fa-eye"></i></a>
        <a href="#" class="icon-square text-danger"
          ><i class="fa-solid fa-trash"></i
        ></a>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td class="fileType text-uppercase">Marriage Contract</td>
      <td class="text-danger">NOT SUBMITTED</td>
      <td class="action-buttons">
        <a href="#" class="icon-square"><i class="fa-solid fa-upload"></i></a>
        <a href="#" class="icon-square"><i class="fa-solid fa-eye"></i></a>
        <a href="#" class="icon-square text-danger"
          ><i class="fa-solid fa-trash"></i
        ></a>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td class="fileType text-uppercase">Clearances</td>
      <td class="text-danger">NOT SUBMITTED</td>
      <td class="action-buttons">
        <a href="#" class="icon-square"><i class="fa-solid fa-upload"></i></a>
        <a href="#" class="icon-square"><i class="fa-solid fa-eye"></i></a>
        <a href="#" class="icon-square text-danger"
          ><i class="fa-solid fa-trash"></i
        ></a>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td class="fileType text-uppercase">Scholastic Record</td>
      <td class="text-danger">NOT SUBMITTED</td>
      <td class="action-buttons">
        <a href="#" class="icon-square"><i class="fa-solid fa-upload"></i></a>
        <a href="#" class="icon-square"><i class="fa-solid fa-eye"></i></a>
        <a href="#" class="icon-square text-danger"
          ><i class="fa-solid fa-trash"></i
        ></a>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td class="fileType text-uppercase">Certificate of Leave Balances</td>
      <td class="text-danger">NOT SUBMITTED</td>
      <td class="action-buttons">
        <a href="#" class="icon-square"><i class="fa-solid fa-upload"></i></a>
        <a href="#" class="icon-square"><i class="fa-solid fa-eye"></i></a>
        <a href="#" class="icon-square text-danger"
          ><i class="fa-solid fa-trash"></i
        ></a>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td class="fileType text-uppercase">Copy of Resolution</td>
      <td class="text-danger">NOT SUBMITTED</td>
      <td class="action-buttons">
        <a href="#" class="icon-square"><i class="fa-solid fa-upload"></i></a>
        <a href="#" class="icon-square"><i class="fa-solid fa-eye"></i></a>
        <a href="#" class="icon-square text-danger"
          ><i class="fa-solid fa-trash"></i
        ></a>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td class="fileType text-uppercase">Commendations</td>
      <td class="text-danger">NOT SUBMITTED</td>
      <td class="action-buttons">
        <a href="#" class="icon-square"><i class="fa-solid fa-upload"></i></a>
        <a href="#" class="icon-square"><i class="fa-solid fa-eye"></i></a>
        <a href="#" class="icon-square text-danger"
          ><i class="fa-solid fa-trash"></i
        ></a>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td class="fileType text-uppercase">Disciplinary Action Documents</td>
      <td class="text-danger">NOT SUBMITTED</td>
      <td class="action-buttons">
        <a href="#" class="icon-square"><i class="fa-solid fa-upload"></i></a>
        <a href="#" class="icon-square"><i class="fa-solid fa-eye"></i></a>
        <a href="#" class="icon-square text-danger"
          ><i class="fa-solid fa-trash"></i
        ></a>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td class="fileType text-uppercase">Contract of Service</td>
      <td class="text-danger">NOT SUBMITTED</td>
      <td class="action-buttons">
        <a href="#" class="icon-square"><i class="fa-solid fa-upload"></i></a>
        <a href="#" class="icon-square"><i class="fa-solid fa-eye"></i></a>
        <a href="#" class="icon-square text-danger"
          ><i class="fa-solid fa-trash"></i
        ></a>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td class="fileType text-uppercase">Sworn Statement of Assets</td>
      <td class="text-danger">NOT SUBMITTED</td>
      <td class="action-buttons">
        <a href="#" class="icon-square"><i class="fa-solid fa-upload"></i></a>
        <a href="#" class="icon-square"><i class="fa-solid fa-eye"></i></a>
        <a href="#" class="icon-square text-danger"
          ><i class="fa-solid fa-trash"></i
        ></a>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td class="fileType text-uppercase">Office Order</td>
      <td class="text-danger">NOT SUBMITTED</td>
      <td class="action-buttons">
        <a href="#" class="icon-square"><i class="fa-solid fa-upload"></i></a>
        <a href="#" class="icon-square"><i class="fa-solid fa-eye"></i></a>
        <a href="#" class="icon-square text-danger"
          ><i class="fa-solid fa-trash"></i
        ></a>
      </td>
    </tr>
  </tbody>
</table>
