
<input
  class="form-control me-sm-2 mt-4"
  type="text"
  id="filesInputAll"
  placeholder="Search"
  oninput="searchAllTasks()"
/>
<% if (todayFiles.length > 0) { %>
<h3 id="fileTableLabel1" class="mt-3">Today's Tasks:</h3>
<table id="fileTable1" class="table table-hover table-striped mt-4">
  <thead id="fileTableHead1">
    <tr class="table-dark">
      <th style="width: 200px">File Code</th>
      <th style="width: 200px">Task Name</th>
      <th style="width: 150px">Assigned To</th>
      <th style="width: 170px">Date Assigned</th>
      <th style="width: 170px">Due Date</th>
      <th style="width: 90px">Status</th>
      <th style="width: 10px; padding-left: 30px"></th>
    </tr>
  </thead>
  <tbody id="fileTableBody1">
    <% todayFiles.forEach((file, index) => { %>
    <tr>
      <td>
        <%= file.fileCode.length > 20 ? file.fileCode.substring(0, 20) + '...' :
        file.fileCode %>
      </td>
      <td>
        <%= file.fileName.length > 15 ? file.fileName.substring(0, 15) + '...' :
        file.fileName %>
      </td>
      <td><%= file.assignTo %></td>
      <td><%= file.dateSubmitted.toISOString().split('T')[0] %></td>
      <td><%= file.dueDate.toISOString().split('T')[0] %></td>
      <td>
        <% if (file.status === 'APPROVED') { %>
        <span class="badge bg-success">APPROVED</span>
        <% } else if (file.status === 'ASSIGNED') { %>
        <span class="badge bg-warning">ASSIGNED</span>
        <% } else if (file.status === 'FOR APPROVAL') { %>
        <span class="badge" style="background-color: #ff4107">FOR APPROVAL</span>
        <% } else if (file.status === 'REASSIGNED') { %>
        <span class="badge bg-warning">REASSIGNED</span>
        <% } else { %>
        <span class="badge bg-primary">UNKNOWN</span>
        <% } %>
      </td>
      <td class="action-buttons">
        <a href="view_file/<%= file.id %>" class="icon-square text-dark"
          ><i class="fa-solid fa-eye"></i
        ></a>
        <% if (file.status === 'APPROVED' && user.hrrole === 'ADMIN') { %>
          <a href="/archive_file/<%= file.id %>" class="icon-square text-warning archive-button" data-file-id="<%= file.id %>" data-file-code="<%= file.fileCode %>" data-bs-toggle="modal">
            <i class="fa-solid fa-box-archive"></i>
          </a>
        <% } %>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
<p id="noFiles2" style="display: none;" class="text-muted text-center">No Files Found</p>
<% } %>
<% if (currentWeekFiles.length > 0) { %>
  <h3 id="fileTableLabel2" class="mt-4">This Week:</h3>
  <table id="fileTable2" class="table table-hover table-striped mt-4">
    <thead id="fileTableHead2">
      <tr class="table-dark">
        <th style="width: 200px">File Code</th>
        <th style="width: 200px">Task Name</th>
        <th style="width: 150px">Assigned To</th>
        <th style="width: 170px">Date Assigned</th>
        <th style="width: 170px">Due Date</th>
        <th style="width: 90px">Status</th>
        <th style="width: 10px; padding-left: 30px"></th>
      </tr>
    </thead>
    <tbody id="fileTableBody2">
      <% currentWeekFiles.forEach((file, index) => { %>
      <tr>
        <td>
          <%= file.fileCode.length > 20 ? file.fileCode.substring(0, 20) + '...' :
          file.fileCode %>
        </td>
        <td>
          <%= file.fileName.length > 15 ? file.fileName.substring(0, 15) + '...' :
          file.fileName %>
        </td>
        <td><%= file.assignTo %></td>
        <td><%= file.dateSubmitted.toISOString().split('T')[0] %></td>
        <td><%= file.dueDate.toISOString().split('T')[0] %></td>
        <td>
          <% if (file.status === 'APPROVED') { %>
          <span class="badge bg-success">APPROVED</span>
          <% } else if (file.status === 'REJECTED') { %>
          <span class="badge bg-danger">REJECTED</span>
          <% } else if (file.status === 'ASSIGNED') { %>
          <span class="badge bg-warning">ASSIGNED</span>
          <% } else if (file.status === 'FOR APPROVAL') { %>
          <span class="badge" style="background-color: #ff4107">FOR APPROVAL</span>
          <% } else if (file.status === 'REASSIGNED') { %>
            <span class="badge bg-warning">REASSIGNED</span>
          <% } else { %>
          <span class="badge bg-primary">UNKNOWN</span>
          <% } %>
        </td>
        <td class="action-buttons">
          <a href="view_file/<%= file.id %>" class="icon-square text-dark"
            ><i class="fa-solid fa-eye"></i
          ></a>
          <% if (file.status === 'APPROVED') { %>
            <a href="/archive_file/<%= file.id %>" class="icon-square text-warning archive-button" data-file-id="<%= file.id %>" data-file-code="<%= file.fileCode %>" data-bs-toggle="modal">
              <i class="fa-solid fa-box-archive"></i>
            </a>
          <% } %>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
<% } %>
<% if (otherFiles.length > 0) { %>
  <h3 id="fileTableLabel3" class="mt-4">Later:</h3>
  <table id="fileTable3" class="table table-hover table-striped mt-4">
    <thead id="fileTableHead3">
      <tr class="table-dark">
        <th style="width: 200px">File Code</th>
        <th style="width: 200px">Task Name</th>
        <th style="width: 150px">Assigned To</th>
        <th style="width: 170px">Date Assigned</th>
        <th style="width: 170px">Due Date</th>
        <th style="width: 90px">Status</th>
        <th style="width: 10px; padding-left: 30px"></th>
      </tr>
    </thead>
    <tbody id="fileTableBody3">
      <% otherFiles.forEach((file, index) => { %>
      <tr>
        <td>
          <%= file.fileCode.length > 20 ? file.fileCode.substring(0, 20) + '...' :
          file.fileCode %>
        </td>
        <td>
          <%= file.fileName.length > 15 ? file.fileName.substring(0, 15) + '...' :
          file.fileName %>
        </td>
        <td><%= file.assignTo %></td>
        <td><%= file.dateSubmitted.toISOString().split('T')[0] %></td>
        <td><%= file.dueDate.toISOString().split('T')[0] %></td>
        <td>
          <% if (file.status === 'APPROVED') { %>
          <span class="badge bg-success">APPROVED</span>
          <% } else if (file.status === 'REJECTED') { %>
          <span class="badge bg-danger">REJECTED</span>
          <% } else if (file.status === 'ASSIGNED') { %>
          <span class="badge bg-warning">ASSIGNED</span>
          <% } else if (file.status === 'FOR APPROVAL') { %>
          <span class="badge" style="background-color: #ff4107">FOR APPROVAL</span>
          <% } else if (file.status === 'REASSIGNED') { %>
            <span class="badge bg-warning">REASSIGNED</span>
          <% } else { %>
          <span class="badge bg-primary">UNKNOWN</span>
          <% } %>
        </td>
        <td class="action-buttons">
          <a href="view_file/<%= file.id %>" class="icon-square text-dark"
            ><i class="fa-solid fa-eye"></i
          ></a>
          <% if (file.status === 'APPROVED') { %>
            <a href="/archive_file/<%= file.id %>" class="icon-square text-warning archive-button" data-file-id="<%= file.id %>" data-file-code="<%= file.fileCode %>" data-bs-toggle="modal">
              <i class="fa-solid fa-box-archive"></i>
            </a>
          <% } %>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
<% } %>
<p id="noFilesFoundMessage" style="display: none;" class="text-muted text-center mt-4">No Tasks Found</p>
<div class="pagination justify-content-center">
  <% if (totalPages > 1) { %>
  <ul class="pagination justify-content-center">
    <% for (let i = 1; i <= totalPages; i++) { %>
    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
      <a href="?page=<%= i %>" class="page-link"><%= i %></a>
    </li>
    <% } %>
  </ul>
  <% } %>
</div>
<!-- Modal HTML (outside of loop) -->
<div class="modal fade" id="archiveModalAll" tabindex="-1" aria-labelledby="archiveModal2Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="archiveModal2Label">Archive File</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="archiveModalBody">
        Are you sure you want to archive this file?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="#" id="archiveConfirmButton" class="btn btn-warning">Archive</a>
      </div>
    </div>
  </div>
</div>
<script>
  function searchAllTasks() {
    // Get the input field and its value
    var input = document.getElementById('filesInputAll');
    var filter = input.value.toLowerCase();
  
    // Function to search and update display for a table
    function searchAndUpdate(table, fileTableLabelId) {
      if (!table) return; // Check if table is valid
  
      var rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');
    
      var tableMatches = false;
  
      // Loop through all table rows
      for (var i = 0; i < rows.length; i++) {
        // Get the cells in the current row
        var cells = rows[i].getElementsByTagName('td');
        
        // Assume the row does not match the search query
        var rowMatches = false;
        
        // Loop through the cells to check if any cell matches the query
        for (var j = 0; j < cells.length; j++) {
          if (cells[j]) {
            var cellValue = cells[j].textContent || cells[j].innerText;
            if (cellValue.toLowerCase().indexOf(filter) > -1) {
              rowMatches = true;
              break;
            }
          }
        }
    
        // Show or hide the row based on the search query
        if (rowMatches) {
          rows[i].style.display = '';
          tableMatches = true;
        } else {
          rows[i].style.display = 'none';
        }
      }
  
      // Show or hide the whole table based on whether any rows match
      if (tableMatches) {
        table.style.display = '';
        document.getElementById('noFilesFoundMessage').style.display = 'none'; // Hide the "No Files Found" message
        document.getElementById(fileTableLabelId).style.display = ''; // Show the corresponding h3 tag
      } else {
        table.style.display = 'none';
        document.getElementById('noFilesFoundMessage').style.display = ''; // Show the "No Files Found" message
        document.getElementById(fileTableLabelId).style.display = 'none'; // Hide the corresponding h3 tag
      }
    }
  
    // Call the search and update function for each table and h3 tag
    searchAndUpdate(document.getElementById('fileTable1'), 'fileTableLabel1');
    searchAndUpdate(document.getElementById('fileTable2'), 'fileTableLabel2');
    searchAndUpdate(document.getElementById('fileTable3'), 'fileTableLabel3');
  }
  </script>