<%- include('./layouts/header') -%>
<body>
  <%- include('./layouts/nav') -%> <%- include('./layouts/sidenav') %>
  <div class="page-body">
    <div class="page-name">
      <h1>Recycle Bin</h1>
      <div class="btn-group btn-group-toggle">
        <a class="btn btn-secondary toggle-sort-btn" href="/restore"
          ><button class="btn" id="restoreAllBtn">
            <i class="fa-solid fa-trash-can-arrow-up"></i></button
        ></a>
        <a
          href="/delete-all"
          class="btn btn-secondary toggle-sort-btn"
          id="deleteAllBtn"
          ><button class="btn">
            <i class="fa-solid fa-trash-can"></i></button
        ></a>
      </div>
    </div>
    <% if (message) { %>
    <div
      class="alert alert-dismissible alert-warning fade show"
      role="alert"
      id="autoDismissAlert"
    >
      <strong>Attention!</strong><%= message.message %><a
        href="#"
        class="alert-link"
      ></a>
    </div>
    <% } %> <%# Search bar %>
    <input
      class="form-control me-sm-2"
      type="text"
      id="searchInput"
      placeholder="Search"
      style="margin-bottom: 20px"
    />
    <%# Filter %>
    <div class="sortation-container">
      <div
        class="btn-group filter-radio"
        role="group"
        aria-label="Basic radio toggle button group"
      >
        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="btnradio1"
          autocomplete="off"
          checked=""
        />
        <label
          class="btn btn-secondary filter-btn"
          for="btnradio1"
          data-extension="all"
          >All</label
        >
        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="btnradio2"
          autocomplete="off"
        />
        <label
          class="btn btn-secondary filter-btn"
          for="btnradio2"
          data-extension="pdf"
          >PDF</label
        >
        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="btnradio3"
          autocomplete="off"
        />
        <label
          class="btn btn-secondary filter-btn"
          for="btnradio3"
          data-extension="docx"
          >DOCX</label
        >
        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="btnradio4"
          autocomplete="off"
        />
        <label
          class="btn btn-secondary filter-btn"
          for="btnradio4"
          data-extension="excel"
          >EXCEL</label
        >
      </div>

      <div class="btn-group btn-group-toggle">
        <button class="btn btn-secondary toggle-sort-btn">
          <i class="fa-solid fa-arrow-up-a-z"></i>
        </button>
        <button class="btn btn-secondary sort-btn">
          <i class="fa-solid fa-arrow-up-wide-short"></i>
        </button>
      </div>
    </div>
    <!-- Sort button -->

    <%# File list %>
    <div class="page-container mt-3">
      <% if (files.length > 0) { %> <% files.forEach(file => { %>
      <div class="page-item">
        <div class="card mb-3 file-card">
          <div
            class="card-header card-options card-header-options card-header-font d-flex justify-content-between align-items-center"
          >
            <span class="card-text"><%= file.name %></span>
            <div class="dropdown options">
              <button
                class="btn btn-secondary dropdown-toggle no-caret bg-nobg options"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fa-solid fa-caret-down"></i>
              </button>
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="dropdownMenuButton"
              >
                <a
                  href="/download/<%= file.name %>"
                  style="color: black"
                  class="dropdown-item"
                  >Download File</a
                >
                <a
                  href=""
                  style="color: red"
                  class="dropdown-item btn-delete"
                  data-file="<%= file.name %>"
                  >Permanently delete</a
                >
              </div>
            </div>
          </div>
          <a href="#" class="hover-div">
            <!-- SVG element to display different icons based on file extension -->
            <% if (file.name.endsWith('.pdf')) { %>
            <div class="file-preview" style="background-color: #680404">
              PDF
            </div>
            <% } else if (file.name.endsWith('.docx')) { %>
            <div class="file-preview" style="background-color: #00326b">
              DOCX
            </div>
            <% } else if (file.name.endsWith('.xlsx')) { %>
            <div class="file-preview" style="background-color: #006b12">
              EXCEL
            </div>
            <% } else { %>
            <!-- Default icon for other file types -->
            <div class="file-preview" style="background-color: lightskyblue">
              UNKNOWN
            </div>
            <% } %>
          </a>
          <a class="card-footer card-options file-date"><%= file.mtime %></a>
        </div>
      </div>
      <% }); %> <% } else { %>
      <p>No files archived.</p>
      <% } %>
    </div>
  </div>
  <div id="modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <iframe
        type="application/pdf"
        id="pdfViewer"
        src=""
        width="100%"
        height="100%"
        frameborder="0"
        toolbar="0"
        scrollbar="0"
      ></iframe>
      <span id="enlargeButton" class="enlargeButton">Enlarge</span>
    </div>
  </div>
  <div class="page-footer"></div>
</body>
<%- include('./layouts/footer') -%>
