<%- include('./layouts/header') -%> <%- include('./layouts/nav') -%>
<%-include('./layouts/sidenav') -%>
<div class="page-body">
  <div class="page-name">
    <h1 class="text-uppercase">Manage Account:</h1>
    <% if (!logincollections.verified) { %>
    <div class="dropdown">
      <a class="btn btn-success" href="/verify/<%= logincollections.id %>" onclick="return confirm('Are you sure you want to verify this account?')">Verify Account</a>
    </div>
    <% } else if (logincollections.email != user.email) { %>
      <a class="btn btn-danger" href="/delete/<%= logincollections.id %>" onclick="return confirm('Are you sure you want to delete account?')">Delete Account</a>
    <% } %>
  </div>
  <div class="rounded-box">
    <form
      action="/update/<%= logincollections.id %>"
      method="POST"
      enctype="multipart/form-data"
    >
    <fieldset>
      <div class="form-group flex-container">
        <div class="form-item">
          <label for="InputName" class="form-label mt-4">First Name</label>
          <input
            type="text"
            name="name"
            class="form-control"
            aria-describedby="emailHelp"
            placeholder="Enter name"
            value="<%= logincollections.name  %>"
            required
            <% if (user.name !== logincollections.name) { %>
              disabled
            <% } %>
          />
        </div>
        <div class="form-item">
          <label for="InputName" class="form-label mt-4">Last Name</label>
          <input
            type="text"
            name="lastname"
            class="form-control"
            aria-describedby="emailHelp"
            value="<%= logincollections.lastname  %>"
            required
            <% if (user.lastname !== logincollections.lastname) { %>
              disabled
            <% } %>
          />
        </div>
      </div>
      <div class="form-group flex-container">
        <div class="form-item">
          <label for="InputName" class="form-label mt-4">Birthday</label>
          <input
            type="date"
            name="birthday"
            class="form-control"
            value="<%= logincollections.birthday ? logincollections.birthday.toISOString().slice(0,10) : '' %>"
            required
            disabled
          />
        </div>
        <div class="form-item">
          <label for="InputName" class="form-label mt-4">Contact Number</label>
          <input
            type="text"
            name="contact"
            class="form-control"
            placeholder="(+639) 123 456 7890"
            value="+<%= logincollections.contact  %>"
            maxlength="12"
            required
            disabled
          />
        </div>
      </div>
      <div class="form-group flex-container">
        <div class="form-item">
          <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
          <input
            type="text"
            name="email"
            class="form-control"
            id="exampleInputEmail1"
            placeholder="Enter email"
            value="<%= logincollections.email  %>"
            required
            disabled
          />
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-item">
          <label for="employeeID" class="form-label mt-4">Employee ID</label>
          <input
            type="text"
            name="employeeID"
            class="form-control"
            id="employeeID"
            placeholder="Enter employee ID"
            value="<%= logincollections.employeeID  %>"
            required
            disabled
          />
        </div>
      </div>          
      <div class="form-group">
        <label for="exampleInputPassword1" class="form-label mt-4"
          >Password</label
        >
        <input
          type="hidden"
          name="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Leave blank to keep old password"
          autocomplete="off"
        />
        <input
          type="hidden"
          name="old_password"
          autocomplete="off"
          value="<%= logincollections.password  %>"
        />
      </div>
      <a
        href="#"
        id="resetPassword"
        class="btn btn-danger"
        >RESET PASSWORD
      </a>
      <small class="form-text text-muted" style="margin-left: 5px;">*In case the password is forgotten, set a temporary password for the user that will be sent to their email.</small>
      <div class="form-group">
        <label for="formFile" class="form-label mt-4">Account Image</label>
        <input class="form-control" type="file" name="image" id="formFile" disabled/>
        <img
          name="image"
          src="../<%= logincollections.image  %>"
          width="100"
          class="img-thumbnail mt-1"
        />
        <input
          type="hidden"
          name="old_image"
          value="<%= logincollections.image  %>"
        />
      </div>
      <div class="border mt-4"></div>
      <div class="mt-4">
        <h4>HR Information:</h4>
      </div>
      <div class="form-group flex-container">
        <div class="form-item">
          <label for="department" class="form-label mt-4">Department</label>
          <select
            type="text"
            name="department"
            class="form-select"
            id="department"
          >
          <option value="" disabled selected>Department</option>
          <% departments.forEach(element => { %>
            <option value="<%= element.deptAbbrev %>"><%= element.deptAbbrev %> - <%= element.deptName %></option>
          <% }) %>
          </select>
        </div>
        <div class="form-item">
          <label for="hrrole" class="form-label mt-4">Position</label>
          <select
            type="text"
            name="hrrole"
            class="form-select"
            id="hrrole"
          >
            <option class="text-warning" value="ADMIN" <% if (logincollections.hrrole === 'ADMIN') { %> selected <% } %>>Department Head I</option>
            <option value="ADMIN2" <% if (logincollections.hrrole === 'ADMIN2') { %> selected <% } %>>Department Head II</option>
            <option value="ROLE 1" <% if (logincollections.hrrole === 'ROLE 1') { %> selected <% } %>>Administrative Officer</option>
            <option value="ROLE 2" <% if (logincollections.hrrole === 'ROLE 2') { %> selected <% } %>>Senior Admin Assistant</option>
            <option value="ROLE 3" <% if (logincollections.hrrole === 'ROLE 3') { %> selected <% } %>>Admin Officer</option>
            <option value="ROLE 4" <% if (logincollections.hrrole === 'ROLE 4') { %> selected <% } %>>Admin Assistant</option>
            <option value="ROLE 5" <% if (logincollections.hrrole === 'ROLE 5') { %> selected <% } %>>Admin Aide</option>
            <option value="ROLE 6" <% if (logincollections.hrrole === 'ROLE 6') { %> selected <% } %>>Helper</option>
          </select>
        </div>
      </div>
      <div class="form-group flex-container mb-4">
        <div class="form-item">
          <label for="empStatus" class="form-label mt-4">Employment Type</label>
          <select
            type="text"
            name="empStatus"
            class="form-select"
            id="empStatus"
          >
            <option value="Permanent" <% if (logincollections.empStatus === 'Full-Time') { %> selected <% } %>>Permanent</option>
            <option value="Coterminous" <% if (logincollections.empStatus === 'Part-Time') { %> selected <% } %>>Coterminous</option>
            <option value="Casual" <% if (logincollections.empStatus === 'Casual') { %> selected <% } %>>Casual</option>
            <option value="Job Order" <% if (logincollections.empStatus === 'Job Order') { %> selected <% } %>>Job Order</option>
          </select>
        </div>
      </div>
    </fieldset>
    <div class="d-flex justify-content-end">
      <input type="submit" value="Update User" class="btn btn-success btn mt-4" />
  
      <a
        href="/view_emp_data/<%= logincollections.email %>"
        class="btn btn-secondary mt-4"
        style="margin-left: 10px"
        >CANCEL</a
      >
    </div>
    </form>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="adminWarningModal" tabindex="-1" aria-labelledby="adminWarningLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-warning" id="adminWarningLabel" style="font-weight: 800;">Warning!!</h5>
        </div>
        <div class="modal-body">
          You have selected the <strong>Department Head</strong> position. This will give the user access to employee management functions.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">I understand</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Verify Modal -->
  <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="adminWarningLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-warning" id="adminWarningLabel" style="font-weight: 800;">Warning!</h5>
        </div>
        <div class="modal-body">
          Please check all information before verifying the account.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="confirmVerification">Confirm</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Reset Password Modal-->
  <div class="modal fade" id="resetPasswordModal" tabindex="-1" aria-labelledby="adminWarningLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="adminWarningLabel" style="font-weight: 800;">WARNING!</h5>
        </div>
        <div class="modal-body">
          Resetting the password will send an email to <strong><%= logincollections.email %></strong> with a temporary password. Do you want to proceed?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeResetModal">Close</button>
          <button type="button" class="btn btn-danger" id="confirmReset">PROCEED</button>
        </div>
      </div>
    </div>
  </div>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const hrRoleSelect = document.getElementById('hrrole');

    hrRoleSelect.addEventListener('change', function() {
      if (this.value === 'ADMIN') {
        var myModal = new bootstrap.Modal(document.getElementById('adminWarningModal'), {
          keyboard: false
        });
        myModal.show();
      }
    });
  });

  // Trigger Reset Password Modal
  document.getElementById('resetPassword').addEventListener('click', function() {
    $('#resetPasswordModal').modal('show');
  });

  // Close Reset Password Modal
  document.getElementById('closeResetModal').addEventListener('click', function() {
    $('#resetPasswordModal').modal('hide');
  });

  // Confirm Reset Password
  document.getElementById('confirmReset').addEventListener('click', function() {
    const userId = '<%= logincollections._id %>';
    window.location.href = `/reset-password/${userId}`;
  });
</script>
<%- include('./layouts/footer') -%>
