<%- include('./layouts/header') -%>
<body>
  <%- include('./layouts/nav') -%> <%- include('./layouts/sidenav') %>
  <div class="page-body">
    <div class="page-name">
      <h1>Employee Documents Tracker</h1>
    </div>
    <% if (message) { %>
    <div
      class="alert alert-dismissible alert-success fade show auto-dismiss-alert"
      role="alert"
      id="autoDismissAlert"
    >
      <strong>Attention!</strong><%= message.message %><a
        href="#"
        class="alert-link"
      ></a>
    </div>
    <% } %> <%# Search bar %>
    <input
      class="form-control me-sm-2"
      type="text"
      id="searchInput"
      placeholder="Search"
      style="margin-bottom: 20px"
    />
    <div class="page-container-acc">
      <% if (logincollection.length > 0) { %> <% logincollection.forEach(row =>
      { %>
      <div class="page-item">
        <div class="card mb-3 account-card">
          <a
            href="/openfolder/<%= encodeURIComponent(row.name) %>"
            class="hover-div"
          >
            <div
              class="imageacc-preview"
              style="
                background-image: url('../<%= row.image %>');
                background-size: cover;
              "
            ></div>
          </a>
          <div
            class="card-header card-documents-options card-header-font d-flex justify-content-between align-items-center"
          >
            <span class="card-text-name"><%= row.name %></span>
          </div>
          <div
            class="card-footer card-options file-date"
            style="font-weight: 600"
          >
            <% if (row.hrrole === "ROLE 1") { %> Entry-level <% } else if
            (row.hrrole === "ROLE 2") { %> Individual Contributors <% } else if
            (row.hrrole === "ROLE 3") { %> HR Manager <% } else if (row.hrrole
            === "ROLE 4") { %> HR Director <% } else if (row.hrrole === "ADMIN")
            { %> ADMIN <% } %>
          </div>
          <div class="card-footer card-options file-date"><%= row.email %></div>
        </div>
      </div>
      <% }); %> <% } else { %>
      <p>No files found.</p>
      <% } %>
    </div>
  </div>
</body>
<%- include('./layouts/footer') -%>
