<%- include('./layouts/header') -%>
<body>
  <%- include('./layouts/nav') -%> <%- include('./layouts/sidenav') %>
  <div class="page-body fade-in">
    <div class="page-name">
      <h1 class="text-uppercase">Task Manager</h1>
      <a class="btn btn-primary" href="/submitfile">Assign Task</a>
    </div>
    <div id="alertContainer" class="bottom-right slide-up">
      <% if (message) { %>
      <div
        class="alert alert-dismissible alert-<%= message.type %> fade show"
        role="alert"
        id="autoDismissAlert"
      >
        <strong>Attention! </strong><%= message.message %><a
          href="#"
          class="alert-link"
        ></a>
      </div>
      <% } %>
    </div>
    <%# Folder Buttons %>
    <div class="tabs-container">
      <h5 class="folder-title">Tabs:</h5>
      <button class="btn btn-secondary" onclick="window.location.reload();">
        <i class="fa-solid fa-rotate-right"></i>
      </button>
    </div>
    <div class="rolefolder-container">
      <a href="#" data-target="all-files"
        ><div class="rolefolder-item active">
          <i class="fa-solid fa-list-check"></i>
          <p>All Tasks</p>
          <% if (assignedFiles.length > 0) { %>
            <span class="badge rounded-pill bg-dark"
              ><%= submittedFiles.length %></span
            >
            <% } %>
        </div></a
      >
      <a href="#" data-target="pending"
        ><div class="rolefolder-item">
          <i class="fa-solid fa-file-circle-plus"></i>
          <p>Assigned</p>
          <% if (assignedFiles.length > 0) { %>
          <span class="badge rounded-pill bg-danger"
            ><%= assignedFiles.length %></span
          >
          <% } %>
        </div></a
      >
      <a href="#" data-target="forApproval"
        ><div class="rolefolder-item">
          <i class="fa-solid fa-file-circle-check"></i>
          <p>For Approval</p>
          <% if (forApproval.length > 0) { %>
            <span class="badge rounded-pill bg-danger"
              ><%= forApproval.length %></span
            >
            <% } %>
        </div></a
      >
      <a href="#" data-target="approved"
        ><div class="rolefolder-item">
          <i class="fa-solid fa-check"></i>
          <p>Approved</p>
          <% if (approvedFiles.length > 0) { %>
          <span class="badge rounded-pill bg-dark"
            ><%= approvedFiles.length %></span
          >
          <% } %>
        </div></a
      >
    </div>
    <div id="all-files" class="content-div active fade-in">
      <%- include('./layouts/tables/allTable') -%>
    </div>
    <div id="approved" class="content-div fade-in">
      <%- include('./layouts/tables/approvedTable') -%>
    </div>
    <div id="pending" class="content-div fade-in">
      <%- include('./layouts/tables/pendingTable') -%>
    </div>
    <div id="forApproval" class="content-div fade-in">
      <%- include('./layouts/tables/forApprovalTable') -%>
    </div>
  </div>
</body>
<%- include('./layouts/modals/confirm') %>
<%- include('./layouts/footer') -%>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const archiveButtons = document.querySelectorAll('.archive-button');

    archiveButtons.forEach(button => {
      button.addEventListener('click', function (event) {
        event.preventDefault();
        const fileId = button.getAttribute('data-file-id');
        const fileCode = button.getAttribute('data-file-code');

        // Update modal content with file information
        document.getElementById('archiveModalBody').innerHTML = `Are you sure you want to archive task with file code: ${fileCode}?`;

        // Update archive button href with the correct file ID
        const archiveConfirmButton = document.getElementById('archiveConfirmButton');
        archiveConfirmButton.href = `/archive_file/${fileId}`;

        // Show the modal
        const archiveModal = new bootstrap.Modal(document.getElementById('archiveModalAll'));
        archiveModal.show();
      });
    });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const links = document.querySelectorAll(".rolefolder-container a");
    const contentDivs = document.querySelectorAll(".content-div");

    links.forEach((link) => {
      link.addEventListener("click", (event) => {
        event.preventDefault();
        const targetId = link.getAttribute("data-target");

        // Remove active class from all rolefolder items
        links.forEach((l) =>
          l.querySelector(".rolefolder-item").classList.remove("active")
        );

        // Add active class to the clicked rolefolder item
        link.querySelector(".rolefolder-item").classList.add("active");

        // Hide all content divs and show the targeted one
        contentDivs.forEach((div) => {
          div.classList.remove("active");
          if (div.id === targetId) {
            div.classList.add("active");
          }
        });
      });
    });
  });
</script>
