<%- include('./layouts/header') -%>
<body>
  <%- include('./layouts/nav') -%> <%- include('./layouts/sidenav') %>
  <div class="page-body">
    <div class="page-name">
      <h1 class="text-uppercase">Task Manager</h1>
      <a class="btn btn-primary" href="/submitfile">Assign Task</a>
    </div>
    <div id="alertContainer" class="bottom-right">
      <% if (message) { %>
      <div
        class="alert alert-dismissible alert-<%= message.type %> fade show"
        role="alert"
        id="autoDismissAlert"
      >
        <strong>Attention! </strong><%= message.message %><a
          href="#"
          class="alert-link"
        ></a>
      </div>
      <% } %>
    </div>
    <%# Folder Buttons %>
    <h5 class="folder-title">Tabs:</h5>
    <div class="rolefolder-container">
      <a href="#" data-target="all-files"
        ><div class="rolefolder-item active">
          <i class="fa-solid fa-list-check"></i>
          <p>All Tasks</p>
        </div></a
      >
      <a href="#" data-target="approved"
        ><div class="rolefolder-item">
          <i class="fa-solid fa-check"></i>
          <p>Approved</p>
          <% if (approvedFiles.length > 0) { %>
          <span class="badge rounded-pill bg-danger"
            ><%= approvedFiles.length %></span
          >
          <% } %>
        </div></a
      >
      <a href="#" data-target="forApproval"
        ><div class="rolefolder-item">
          <i class="fa-solid fa-file-circle-check"></i>
          <p>For Approval</p>
          <% if (forApproval.length > 0) { %>
            <span class="badge rounded-pill bg-danger"
              ><%= forApproval.length %></span
            >
            <% } %>
        </div></a
      >
      <a href="#" data-target="pending"
        ><div class="rolefolder-item">
          <i class="fa-solid fa-hourglass-start"></i>
          <p>Pending</p>
          <% if (pendingFiles.length > 0) { %>
          <span class="badge rounded-pill bg-danger"
            ><%= pendingFiles.length %></span
          >
          <% } %>
        </div></a
      >
    </div>
    <div id="all-files" class="content-div active">
      <%- include('./layouts/tables/allTable') -%>
    </div>
    <div id="approved" class="content-div">
      <%- include('./layouts/tables/approvedTable') -%>
    </div>
    <div id="pending" class="content-div">
      <%- include('./layouts/tables/pendingTable') -%>
    </div>
    <div id="forApproval" class="content-div">
      <%- include('./layouts/tables/forApprovalTable') -%>
    </div>
  </div>
</body>
<%- include('./layouts/modals/confirm') %>
<%- include('./layouts/footer') -%>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const links = document.querySelectorAll(".rolefolder-container a");
    const contentDivs = document.querySelectorAll(".content-div");

    links.forEach((link) => {
      link.addEventListener("click", (event) => {
        event.preventDefault();
        const targetId = link.getAttribute("data-target");

        // Remove active class from all rolefolder items
        links.forEach((l) =>
          l.querySelector(".rolefolder-item").classList.remove("active")
        );

        // Add active class to the clicked rolefolder item
        link.querySelector(".rolefolder-item").classList.add("active");

        // Hide all content divs and show the targeted one
        contentDivs.forEach((div) => {
          div.classList.remove("active");
          if (div.id === targetId) {
            div.classList.add("active");
          }
        });
      });
    });
  });
</script>
