<%- include('./layouts/hrislayout') -%>
<body>
  <%- include('./layouts/navhris') -%> <%- include('./layouts/sidenavhris') %>
  <div class="page-body">
    <div class="hris-container">
      <div class="hris-header">
        <div class="hris-title"></div>
        <h1>Human Resources Information System</h1>
      </div>
    </div>
    <div class="dtr-status">
      <div id="bgTime" class="dtr-div div-time">
        <div class="div-title title-time">
          <p>Current Time:</p>
        </div>
        <div class="div-count title-time">
          <div class="mb-3" id="currentTime"></div>
        </div>
      </div>
      <div class="dtr-div clocked-in">
        <div class="div-title emp-count" >
          <p>Employees Currently Clocked In:</p>
        </div>
        <div class="div-count emp-count">
          <p><span class="green-dot status-count"></span><%= inAttendance %></p>
        </div>
      </div>
    </div>
    <h1 class="mt-4">Statistics:</h1>
    <% const HRDp = employeecount.filter((employee) => employee.department === 'HR Department'); const DP1 = employeecount.filter((employee) => employee.department === 'Department 1'); 
        const DP2 = employeecount.filter((employee) => employee.department === 'Department 2'); %>
    <div class="border"></div>
    <h3 class="text-muted mt-4">Employee Count:</h3>
    <div class="dtr-home-container mt-3">
      <div class="dtr-div">
        <div class="div-cut-title">
          <p>All Employees:</p>
        </div>
        <div class="div-emp-count">
          <p><%= employeecount.length %></p>
        </div>
      </div>
      <div class="dtr-div">
        <div class="div-cut-title">
          <p>HR Department:</p>
        </div>
        <div class="div-emp-count">
          <p><%= HRDp.length %></p>
        </div>
      </div>
      <div class="dtr-div">
        <div class="div-cut-title">
          <p>Department 1:</p>
        </div>
        <div class="div-emp-count">
          <p><%= DP1.length %></p>
        </div>
      </div>
      <div class="dtr-div">
        <div class="div-cut-title">
          <p>Department 2:</p>
        </div>
        <div class="div-emp-count">
          <p><%= DP2.length %></p>
        </div>
      </div>
    </div>
    <!--
    <div class="hris-container-status">
      <div class="container-div">
        <a class="clickable-link" href="/view_employees">
          <div class="employee-count">
            <p class="display-label">Employee Count:</p>
            <p class="display-count"><%= employeecount %></p>
          </div>
        </a>
      </div>
      <div class="container-div">
        <a class="clickable-link" href="/leave_applications">
          <div class="pending-count">
            <p class="display-label">Pending Leave:</p>
            <p class="display-count"><%= pendingleave %></p>
          </div>
        </a>
      </div>
    -->
    </div>
  </div>
</body>
<%- include('./layouts/footer') %>
