<%- include('./layouts/hrislayout') -%>
<body>
  <%- include('./layouts/navhris') -%> <%- include('./layouts/sidenavhris') %>
  <div class="page-body fade-in">
    <div class="hris-container">
      <div class="hris-header">
        <div class="hris-title"></div>
        <h1>Human Resources Information System</h1>
      </div>
    </div>
    <% const unverified = employeecount.filter((employee) => !employee.verified); %>
    <% if (unverified.length > 0) { %>
    <div id="alertContainer" class="bottom-right slide-up">
      <div class="alert alert-dismissible alert-warning fade show">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading mb-0" style="font-size: 20px;">Attention!</h4>
        <p class="mb-0" style="font-size: 15px;">There are currently <%= unverified.length %> accounts that needs verification. <a href="/view_employees" class="alert-link">Click here</a> to view and verify them.</p>
      </div>
    </div>
    <% } %>
    <div class="dtr-status">
      <div id="bgTime" class="dtr-div div-time">
        <div class="div-title title-time">
          <p>Current Time:</p>
        </div>
        <div class="div-count title-time">
          <div class="mb-3" id="currentTime"></div>
        </div>
      </div>
      <div class="dtr-div clocked-in">
        <div class="div-title emp-count" >
          <p>Employees Currently Clocked In:</p>
        </div>
        <div class="div-count emp-count">
          <p><span class="green-dot status-count"></span><%= inAttendance %></p>
        </div>
      </div>
    </div>
    <h1 class="mt-4">Statistics:</h1>
    <% const HRDp = employeecount.filter((employee) => employee.department === 'HR Department'); const DP1 = employeecount.filter((employee) => employee.department === 'Department 1'); 
        const DP2 = employeecount.filter((employee) => employee.department === 'Department 2'); const DP3 = employeecount.filter((employee) => employee.department === 'Department 3');
        const DP4 = employeecount.filter((employee) => employee.department === 'Department 4'); const DP5 = employeecount.filter((employee) => employee.department === 'Department 5');
        const DP6 = employeecount.filter((employee) => employee.department === 'Department 6'); %>
    <div class="border"></div>
    <h3 class="text-muted mt-4">Employee Count:</h3>
    <div class="dtr-home-container mt-3">
      <div class="dtr-div">
        <div class="div-cut-title">
          <p>All Employees:</p>
        </div>
        <div class="div-emp-count">
          <p><%= employeecount.length %></p>
        </div>
      </div>
      <div class="dtr-div">
        <div class="div-cut-title">
          <p>HR Department:</p>
        </div>
        <div class="div-emp-count">
          <p><%= HRDp.length %></p>
        </div>
      </div>
      <div class="dtr-div">
        <div class="div-cut-title">
          <p>PESO Department:</p>
        </div>
        <div class="div-emp-count">
          <p><%= DP1.length %></p>
        </div>
      </div>
      <div class="dtr-div">
        <div class="div-cut-title">
          <p>CC Development Office:</p>
        </div>
        <div class="div-emp-count">
          <p><%= DP2.length %></p>
        </div>
      </div>
      <div class="dtr-div">
        <div class="div-cut-title">
          <p>OAS Department:</p>
        </div>
        <div class="div-emp-count">
          <p><%= DP3.length %></p>
        </div>
      </div>
      <div class="dtr-div">
        <div class="div-cut-title">
          <p>BTM Department:</p>
        </div>
        <div class="div-emp-count">
          <p><%= DP4.length %></p>
        </div>
      </div>
      <div class="dtr-div">
        <div class="div-cut-title">
          <p>BPL Department:</p>
        </div>
        <div class="div-emp-count">
          <p><%= DP5.length %></p>
        </div>
      </div>
      <div class="dtr-div">
        <div class="div-cut-title">
          <p>City Assessor's Department:</p>
        </div>
        <div class="div-emp-count">
          <p><%= DP6.length %></p>
        </div>
      </div>
    </div>
    </div>
  </div>
</body>
<%- include('./layouts/footer') %>
