<%- include('./layouts/header') -%>
<body>
  <%- include('./layouts/nav') -%> <%- include('./layouts/sidenav') %>
  <div class="page-body">
    <div class="page-name">
      <h1>All Accounts </h1>
      <a href="/view_employees" class="btn btn-primary">HRIS Mode</a>
    </div>
    <p class="text-muted mb-4">
      Manage accounts that have access to the Document Tracker System (<strong>HR Department</strong>). 
    </p>
    <div id="alertContainer" class="bottom-right">
      <% if (message) { %>
      <div
        class="alert alert-dismissible alert-<%= message.type %> fade show"
        role="alert"
        id="autoDismissAlert"
      >
        <strong>Attention! </strong><%= message.message %><a
          href="#"
          class="alert-link"
        ></a>
      </div>
      <% } %>
    </div>
    <div class="border mb-3 mt-3"></div>
    <h4>Search:</h4>
    <input
      class="form-control me-sm-2"
      type="text"
      id="accInput"
      placeholder="Search"
      style="margin-bottom: 20px"
      oninput="searchTables()"
    />
    <div id="myTabContent" class="tab-content mt-4">
      <div class="tab-pane fade show active" id="allD" role="tabpanel">
        <div class="hris-container">
          <% const HRDp = logincollections.filter((item) => item.department === "HR Department"); %>
          <% if (logincollections.length > 0) { %>
          <table id="table" class="table table-hover table-striped text-center">
            <thead>
              <tr class="table-dark">
                <th style="width: 150px">Name</th>
                <th style="width: 200px">Email</th>
                <th style="width: 250px">Position</th>
                <th style="width: 10px; padding-left: 40px"></th>
              </tr>
            </thead>
            <tbody>
              <% HRDp.forEach((item) => { %>
              <tr>
                <td>
                      <p class="fw-bold mb-1">
                        <%= item.name %>
                      </p>
                </td>
                <td><%= item.email %></td>
                <td><% if (item.hrrole === "ROLE 1") { %> Administrative Officer <% }
                  else if (item.hrrole === "ROLE 2") { %> Senior Admin Assistant <% }
                  else if (item.hrrole === "ROLE 3") { %> Admin Officer <% } else if
                  (item.hrrole === "ROLE 4") { %> Admin Assistant <% } else if
                  (item.hrrole === "ROLE 5") { %> Admin Aide <% } else if (item.hrrole
                  === "ADMIN") { %> Department Head <% } %></td>
                <td><a href="/view/<%= item.id %>" class="icon-square"><i class="fa-solid fa-eye"></i></a></td>
              </tr>
              <% }); %>
          <% } else { %>
          <h1 class="text-center text-secondary mt-5">
            No Users found in database
          </h1>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</body>

<%- include('./layouts/footer') %>
