<% if (user.department === 'HR Department') { %>
  <%- include('./layouts/header') -%>
<% } else { %>
  <%- include('./layouts/user_hris/hris_user_header') -%>
<% } %>
<body>
  <% if (user.department === 'HR Department') { %>
    <%- include('./layouts/nav') -%> <%- include('./layouts/sidenavR1') %>
  <% } else { %>
    <%- include('./layouts/navhris') -%> <%- include('./layouts/user_hris/sidenavhris_user') %>
  <% } %>
  <div class="page-body">
    <div class="page-name">
      <h1 class="text-uppercase">Manage Account</h1>
      <% if (user.department != 'HR Department') { %>
        <a
          href="/view_profile/<%= user.email %>"
          class="btn btn-primary"
          >RETURN TO PROFILE</a
        >
      <% } %>
    </div>
    <p class="text-muted mt-4">Manage your account details here.</p>
    <div class="border mt-4"></div>
    <div class="rounded-box">
      <div class="mt-4">
        <h4>Personal Information:</h4>
      </div>
      <form
        action="/update/<%= logincollections.id %>"
        method="POST"
        enctype="multipart/form-data"
      >
        <fieldset>
          <div class="form-group">
            <label for="InputName" class="form-label mt-4">Name</label>
            <input
              type="text"
              name="name"
              class="form-control"
              aria-describedby="emailHelp"
              placeholder="Enter name"
              value="<%= logincollections.name  %>"
              required
            />
          </div>
          <div class="form-group">
            <label for="InputName" class="form-label mt-4">Birthday</label>
            <input
              type="date"
              name="birthday"
              class="form-control"
              value="<%= logincollections.birthday ? logincollections.birthday.toISOString().slice(0,10) : '' %>"
              required
            />
          </div>
          <div class="form-group flex-container">
            <div class="form-item">
              <label for="exampleInputEmail1" class="form-label mt-4"
                >Email address</label
              >
              <input
                type="text"
                name="email"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Enter email"
                value="<%= logincollections.email  %>"
                required
              />
              <small id="emailHelp" class="form-text text-muted"
                >We'll never share your email with anyone else.</small
              >
            </div>
            <div class="form-item">
              <label for="InputName" class="form-label mt-4"
                >Contact Number</label
              >
              <input
                type="text"
                name="contact"
                class="form-control"
                placeholder="(+639) 123 456 7890"
                value="<%= logincollections.contact  %>"
                maxlength="12"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="form-label mt-4"
              >Password</label
            >
            <input
              type="password"
              name="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Leave blank to keep old password"
              autocomplete="off"
            />
            <input
              type="hidden"
              name="old_password"
              autocomplete="off"
              value="<%= logincollections.password  %>"
            />
          </div>
          <div class="form-group">
            <label for="formFile" class="form-label mt-4">Account Image</label>
            <input
              class="form-control"
              type="file"
              name="image"
              id="formFile"
            />
            <img
              name="image"
              src="../<%= logincollections.image  %>"
              width="100"
              class="img-thumbnail mt-1"
            />
            <input
              type="hidden"
              name="old_image"
              value="<%= logincollections.image  %>"
            />
          </div>
          <div class="border mt-4"></div>
        </fieldset>
        <input
          type="submit"
          value="Save Changes"
          class="btn btn-success btn mt-4"
        />
      </form>
    </div>
  </div>
  <%- include('./layouts/footer') -%>
</body>
