
  <%- include('./layouts/header') -%>
<body class="startbody">
  <div class="start-container">
    <%- include('./layouts/navhrisP') -%>
    <%- include('./layouts/startnav') %>
    <div class="page-body-start">
      <% if (user.hrrole === "ADMIN") { %>
      <div class="notifs fade-in">
        <div class="bottomTab fade-in">
          <div class="bottomTabCard">
            <div class="task-info">
              <p class="task-count"><span><%= activeTasks %></span></p>
              <p class="task-label">Active Tasks</p>
            </div>
            <i class="fa-solid fa-list-check task-icon"></i>
          </div>        
          <div class="bottomTabCard" style="background-color: #147ca5;">
            <div class="task-info">
              <p class="task-count"><span><%= activeEmp %></span></p>
              <p class="task-label">Active Employees</p>
            </div>
            <i class="fa-solid fa-clock task-icon"></i>
          </div>
          <div class="bottomTabCard">
            <div class="task-info">
              <p class="task-count"><span><%= pendingDTR %></span></p>
              <p class="task-label">Pending DTR</p>
            </div>
            <i class="fa-solid fa-clipboard task-icon"></i>
          </div>
          <div class="bottomTabCard" style="background-color: #147ca5;">
            <div class="task-info">
              <p class="task-count"><span><%= pendingLeave %></span></p>
              <p class="task-label">Pending Leave</p>
            </div>
            <i class="fa-solid fa-envelope task-icon"></i>
          </div>
        </div>
      </div>
      <% } %>
      <div class="card timeInTab slide-up">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h3>Welcome, <%= user.name %></h3>
          <h3 id="currentDate"></h3>
        </div>
        <div class="card-body d-flex justify-content-between align-items-center">
          <h5 class="card-subtitle text-muted">
            <% if (userAttendance.status === "IN") { %>
              You are currently timed-in, feel free to do your tasks!
            <% } else if (userAttendance.status === "OUT") { %>
              Don't forget to time in!
            <% } %>
          </h5>
          <div class="timeInButtons">
            <button
              type="button"
              class="btn btn-danger"
              id="timeOutBtn"
              data-bs-toggle="modal"
              data-bs-target="#timeCheck"
              <% if (userAttendance.status === "OUT") { %>disabled<% } %>
            >
              Time-out
            </button>
            <button
              type="button"
              class="btn btn-primary"
              id="timeInBtn"
              data-bs-toggle="modal"
              data-bs-target="#timeCheck"
              <% if (userAttendance.status === "IN") { %>disabled<% } %>
            >
              Time-in
            </button>
          </div>
        </div>
      </div>
    <div class="row startButtons slide-up">
      <% if (user.department === "HR Department") { %>
        <%- include('./layouts/startpage/HRButtons.ejs') -%>
      <% } else { %>
        <%- include('./layouts/startpage/Buttons.ejs') -%>
      <% } %>
    </div>
    </div>
  </div>
</body>
<% if (user.hrrole !== "ADMIN" && user.suffix === "" || user.middleName === "") { %>
  <%- include('./layouts/modals/unfinishedProfile') -%>
<% } %>
<!-- Sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-body">
    <div class="sidebar-image">
      <div class="profile-image">
        <% if (user.image === "") { %>
          <img class="nav-img" src="../images/user.jpg" />
          <% } else { %>
          <img class="nav-img" src="../<%= user.image %>" />
        <% } %>
      </div>
      <div class="user-details">
        <a><%= user.name %></a>
        <a class="user-role"
          ><% if (user.hrrole === "ROLE 1") { %> Administrative Officer <% }
          else if (user.hrrole === "ROLE 2") { %> Senior Admin Assistant <% }
          else if (user.hrrole === "ROLE 3") { %> Admin Officer <% } else if
          (user.hrrole === "ROLE 4") { %> Admin Assistant <% } else if
          (user.hrrole === "ROLE 5") { %> Admin Aide <% } else if (user.hrrole
          === "ADMIN") { %> Department Head <% } else if (user.hrrole === "ADMIN2") { %> Department Head II <% } %></a
        >
      </div>
    </div>
    <div class="sidebar-menu">
      <div class="sidebar-buttons">
        <ul>
          <li>
            <% if (user.hrrole === "ADMIN") { %>
            <a href="/view/<%= user._id %>"
              ><i class="fa-solid fa-gear"></i>Account Settings</a
            >
            <% } else { %>
            <a href="/editacc/<%= encodeURIComponent(user.name) %>"
              ><i class="fa-solid fa-gear"></i>Account Settings</a
            >
            <% } %>
          </li>
          <% if (user.mEmp === true || user.mLeave === true || user.mDTR === true || user.hrrole === "ADMIN") { %>
          <li>
            <a href="/hris_user/<%= user.email %>"><i class="fa-solid fa-fingerprint"></i>HRIS Personal</a>
          </li>
          <% } %>
          <li class="logout-button">
            <a href="/logout"
              ><i class="fa-solid fa-arrow-right-from-bracket"></i>Log Out</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="overlay" id="overlay"></div>
<% if (userAttendance.status === "OUT") { %>
<div class="modal" id="timeChseck" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg fade-in" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="font-weight: 800;">TIME-IN</h5>
      </div>
      <div class="modal-body">
        <p>You haven't timed-in yet. It is recommended to <strong>TIME-IN FIRST</strong> before doing anything else to avoid unrecorded time.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="logoutClose">LOG OUT</button>
        <button type="button" class="btn btn-primary" id="timeIn">Time-in now</button>
      </div>
    </div>
  </div>
</div>
<% } %>
<div class="modal" id="timeOutModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg fade-in" role="document">
    <div class="modal-content border-danger border-2">
      <div class="modal-header">
        <h5 class="modal-title" style="font-weight: 800;">TIME-OUT</h5>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to time-out?</p>
        <p>Your shift ends at <strong>
          <%= (() => {
            let [hours, minutes] = hrsettings.endTime.split(':');
            hours = parseInt(hours, 10);
            const period = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12 || 12; // Convert 0 or 12 to 12, and 13-23 to 1-11
            return `${hours}:${minutes} ${period}`;
          })() %>
        </strong></p>
        <p id="currentTime"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="timeOutConfirm">Time-out now</button>
      </div>
    </div>
  </div>
</div>
<% 
    let timeInDate;
    if (userAttendance.timeIn !== null) {
        timeInDate = userAttendance.timeIn.toLocaleDateString().split("T")[0];
    } else {
        timeInDate = new Date().toLocaleDateString().split("T")[0];
    }
%>
<% if (timeInDate !== dateToday) { %>
<div class="modal" id="timeoutError" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg fade-in" role="document">
    <div class="modal-content border-warning border-2">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase" style="font-weight: 800;">Improper Time-out</h5>
      </div>
      <div class="modal-body">
        <p>You did not time-out properly last time. Please time-out properly next time to avoid unrecorded time.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" id="closeError">Head to DTR Page</button>
      </div>
    </div>
  </div>
</div>
<% } %>
<script src="https://kit.fontawesome.com/64cf43ccc2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const toggleSidebar = document.getElementById("toggleSidebar");
    const sidebar = document.getElementById("sidebar");
    const overlay = document.getElementById("overlay");

    toggleSidebar.addEventListener("click", function (e) {
      e.preventDefault();
      sidebar.classList.toggle("active");
      overlay.classList.toggle("active");
    });

    overlay.addEventListener("click", function () {
      sidebar.classList.remove("active");
      overlay.classList.remove("active");
    });
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
// This will trigger the modal as soon as the page finishes loading
document.addEventListener('DOMContentLoaded', function () {
    var myModal = new bootstrap.Modal(document.getElementById('timeCheck'), {
      backdrop: 'static',
      keyboard: false
    });
    myModal.show();
  });

document.addEventListener('DOMContentLoaded', function () {
  document.getElementById('timeIn').addEventListener('click', function () {
    window.location.href = '/clockin/<%= user.email %>';
  });

  document.getElementById('logoutClose').addEventListener('click', function () {
    window.location.href = '/logout';
  })
})

// Time-out Error MODAL
document.addEventListener('DOMContentLoaded', function () {
    var myModal = new bootstrap.Modal(document.getElementById('timeoutError'), {
      backdrop: 'static',
      keyboard: false
    });
    myModal.show();
  });

document.addEventListener('DOMContentLoaded', function () {
  document.getElementById('closeError').addEventListener('click', function () {
    window.location.href = '/dtr_user/<%= user._id %>';
  });
})

document.addEventListener('DOMContentLoaded', function () {
  // Get the modal element and the button
  var timeOutModal = new bootstrap.Modal(document.getElementById('timeOutModal'), {
    keyboard: false
  });

  var timeOutBtn = document.getElementById('timeOutBtn');

  // Add a click event listener to the button
  timeOutBtn.addEventListener('click', function () {
  // Get the current time
    var currentTime = new Date().toLocaleTimeString([], {
      hour: '2-digit',
      minute: '2-digit',
    });

    // Insert the current time into the modal body
    document.getElementById('currentTime').innerHTML = "Current time: <strong>" + currentTime + "</strong>";

    // Show the modal
    timeOutModal.show();
  });
});

document.addEventListener('DOMContentLoaded', function () {
  document.getElementById('timeOutConfirm').addEventListener('click', function () {
    window.location.href = '/clockout/<%= user.email %>';
  });
});

// Helper function to add ordinal suffix to day (e.g., "9th", "1st")
function getOrdinalSuffix(day) {
  if (day > 3 && day < 21) return 'th'; // catch 11th - 19th
  switch (day % 10) {
    case 1: return 'st';
    case 2: return 'nd';
    case 3: return 'rd';
    default: return 'th';
  }
}

// Get the current date and time
const currentDate = new Date();

// Get the day, month, year, hour, and minutes
const day = currentDate.getDate();
const month = currentDate.toLocaleString('en-US', { month: 'short' }); // e.g., "Oct"
const year = currentDate.getFullYear();
const hours = currentDate.getHours() % 12 || 12; // Convert to 12-hour format
const minutes = currentDate.getMinutes().toString().padStart(2, '0'); // Pad with zero if needed
const ampm = currentDate.getHours() >= 12 ? 'PM' : 'AM'; // AM or PM

// Construct the formatted date string
const formattedDate = `${day}${getOrdinalSuffix(day)} ${month}. ${year} ${hours}:${minutes} ${ampm}`;

// Insert the date into the element with id "currentDate"
document.getElementById('currentDate').textContent = formattedDate;
</script>
<script>
  // Logout Confirmation
  document.addEventListener('DOMContentLoaded', function () {
    // Get the modal element and the button
    var logOutModal = new bootstrap.Modal(document.getElementById('logOutModal'), {
      keyboard: false
    });
  
    var logoutButton = document.getElementById('logoutButton');
  
    // Add a click event listener to the button
    logoutButton.addEventListener('click', function () {
      logOutModal.show();
    });
  });
  
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('logoutConfirm').addEventListener('click', function () {
      var userStatus = this.getAttribute('data-user-status');
      if (userStatus === 'IN') {
        window.location.href = '/dtr_user/<%= user._id %>';
      } else {
        window.location.href = '/logout';
      }
    });
  });
</script>
<script>
  function playSoundAtTime(timeString) {
    const soundPlayedKey = 'timeoutSoundPlayed'; 

    // Check if the sound has already been played
    if (sessionStorage.getItem(soundPlayedKey) === 'true') {
      return; // Exit the function if sound has already been played
    }

    const [hours, minutes] = timeString.split(':');
    const targetTime = new Date();
    targetTime.setHours(hours);
    targetTime.setMinutes(minutes - 10); // Subtract 15 minutes
    targetTime.setSeconds(0);

    const intervalId = setInterval(() => {
      console.log("Checking time...");
      const now = new Date();

      if (now >= targetTime) {
        clearInterval(intervalId); // Stop checking after the target time is reached

        // Play the sound
        const audio = new Audio('../../sounds/timeout.wav'); // Replace with your sound file path
        audio.play();

        // Set the flag in sessionStorage
        sessionStorage.setItem('timeoutSoundPlayed', 'true');

        $(document).ready(function () {
          const toastElement = $('.toast-DTR'); 
          $(toastElement).toast({autohide: false});
          $(toastElement).toast('show');
        });
      }
    }, 2000); // Check every second
  }

  const timeOut = '<%= hrsettings.endTime %>'; // Ensure this contains a valid time like "15:30"
  playSoundAtTime(timeOut);
</script>
