<%- include('./layouts/header') -%>
<body>
  <%- include('./layouts/nav') -%> <%- include('./layouts/sidenav') %>
  <div class="page-body">
    <div class="page-name">
      <h2>Status Board</h2>
    </div>
    <%# Legend %>
    <div class="legend-container">
      <div class="legend-item">
        <span class="badge bg-danger">  </span><a> Entry Level</a>
      </div>
      <div class="legend-item">
        <span class="badge bg-warning">  </span><a> Individual Contributors</a>
      </div>
      <div class="legend-item">
        <span class="badge bg-success">  </span><a> HR Manager</a>
      </div>
      <div class="legend-item">
        <span class="badge bg-primary">  </span><a> HR Director</a>
      </div>
    </div>
    <%# Search bar %>
    <input
      class="form-control me-sm-2"
      type="text"
      id="accInput"
      placeholder="Search"
      style="margin-bottom: 20px"
      oninput="searchTable()"
    />
    <div class="my-4">
      <div class="col-lg-12">
        <% if (message) { %>
          <div
            class="alert alert-dismissible alert-warning fade show"
            role="alert"
            id="autoDismissAlert"
          >
          <strong>Attention!</strong><%= message.message %><a
            href="#"
            class="alert-link"
            ></a>
        </div>
        <% } %>        
      </div>
          <% if (allRoleFiles != '') { %>
            <table id="table" class="table table-hover table-striped text-center">
              <thead>
                <tr class="table-primary">
                  <th>Date Submitted</th>
                  <th>File Name</th>
                  <th>Current Department</th>
                  <th></th>
              </thead>
              <tbody>
                <% allRoleFiles.forEach((row, index) => { %>
                  <tr>
                    <td><%= row.mtime %></td>
                    <td><%= row.name %></td>
                    <td><%= row.folder %></td>
                    <td><% if (row.folder === "HR Director") { %>
                        <span class="badge bg-primary table-span">
                        <% } else if (row.folder === "HR Manager") { %>
                        <span class="badge bg-success table-span"> 
                        <% } else if (row.folder === "Individual Contributors") { %>
                        <span class="badge bg-warning table-span"> 
                        <% } else if (row.folder === "Entry Level") { %>
                        <span class="badge bg-danger table-span"> 
                    <% } %></span></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          <% } else { %>
            <h1 class="text-center text-secondary mt-5">No Users found in database</h1>
            <% } %>
        </div>
      </div>
    </div>
  </div>
<%- include('./layouts/footer') -%>