<%- include('./layouts/header') -%>
<body>
  <%- include('./layouts/nav') -%> <%- include('./layouts/sidenav') %>
  <div class="page-body">
    <div class="page-name">
      <h2>Status Board</h2>
    </div>
    <p class="text-muted mb-4 ">Track the approval status of documents submitted in the system</p>
    <%# Legend %>
    <div class="legend-container">
      <div class="legend-item">
        <span class="badge bg-danger">  </span><a>Rejected</a>
      </div>
      <div class="legend-item">
        <span class="badge bg-warning">  </span><a>Revision</a>
      </div>
      <div class="legend-item">
        <span class="badge bg-success">  </span><a>Pending</a>
      </div>
      <div class="legend-item">
        <span class="badge bg-primary">  </span><a>Approved</a>
      </div>
    </div>
    <%# Search bar %>
    <input
      class="form-control me-sm-2"
      type="text"
      id="accInput"
      placeholder="Search"
      style="margin-bottom: 20px"
      oninput="searchFunc()"
    />
    <div class="my-4">
      <div class="col-lg-12">
        <% if (message) { %>
          <div
            class="alert alert-dismissible alert-warning fade show"
            role="alert"
            id="autoDismissAlert"
          >
          <strong>Attention!</strong><%= message.message %><a
            href="#"
            class="alert-link"
            ></a>
        </div>
        <% } %>        
      </div>
          <% if (allRoleFiles != '') { %>
            <table id="table" class="table table-hover table-striped text-center">
              <thead>
                <tr class="table-primary">
                  <th>Date Submitted</th>
                  <th>File Name</th>
                  <th>Status/Current Designation</th>
                  <th></th>
              </thead>
              <tbody>
                <% allRoleFiles.forEach((row, index) => { %>
                  <tr>
                    <td><%= row.mtime.toISOString().split('T')[0] %></td>
                    <td><%= row.name %></td>
                    <td <% if (row.folder === "Rejected") { %>
                      style="color: brown; font-weight: 700"
                    <% } %>><%= row.folder %></td>
                    <td><% if (row.folder === "HR Director") { %>
                        <span class="badge bg-info table-span">
                        <% } else if (row.folder === "HR Manager") { %>
                        <span class="badge bg-primary table-span"> 
                        <% } else if (row.folder === "Individual Contributors") { %>
                        <span class="badge bg-success table-span"> 
                        <% } else if (row.folder === "Entry Level") { %>
                        <span class="badge bg-warning table-span"> 
                        <% } else if (row.folder === "Rejected") { %>
                        <span class="badge bg-danger table-span"> 
                    <% } %></span></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
              <!-- Pagination Links -->
              <div class="pagination justify-content-center">
                <% if (totalPages > 1) { %>
                  <ul class="pagination justify-content-center">
                    <% for (let i = 1; i <= totalPages; i++) { %>
                      <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                        <a href="?page=<%= i %>" class="page-link"><%= i %></a>
                      </li>
                    <% } %>
                  </ul>
                <% } %>
              </div>
          <% } else { %>
            <h1 class="text-center text-secondary mt-5">No Users found in database</h1>
            <% } %>
        </div>
      </div>
    </div>
  </div>
<%- include('./layouts/footer') -%>