<%- include('./layouts/header') -%> <%- include('./layouts/nav') -%>
<%-include('./layouts/sidenav') -%>
<div class="page-body fade-in">
  <div class="page-name">
    <h1>View Account (<%= logincollections.name %>)</h1>
    <div class="account-options">
      <a href="/manage_accounts" class="btn btn-secondary">Go Back</a>
    </div>
  </div>
  <div id="alertContainer" class="bottom-right">
    <% if (message) { %>
    <div
      class="alert alert-dismissible alert-<%= message.type %> fade show"
      role="alert"
      id="autoDismissAlert"
    >
      <strong>Attention!</strong> <%= message.message %><a
        href="#"
        class="alert-link"
      ></a>
    </div>
    <% } %>
  </div>
  <div class="account-basic1">
    <div class="account-image">
      <% if (logincollections.image === "") { %>
        <img src="../images/user.jpg" />
        <% } else { %>
        <img src="../<%= logincollections.image %>" />
    <% } %>
    </div>
    <div class="account-info mt-3">
      <p><b>Name:</b> <%= logincollections.name %></p>
      <p><b>Email:</b> <%= logincollections.email %></p>
      <p><b>Contact:</b> <%= logincollections.contact %></p>
      <p>
        <b>Birthday:</b> <%=
        logincollections.birthday.toISOString().split('T')[0] %>
      </p>
      <p><b>Employee ID:</b> <%= logincollections.employeeID %></p>
      <p><b>HR Position:</b> <% if (logincollections.hrrole === "ROLE 1") { %> Administrative Officer <% }
        else if (logincollections.hrrole === "ROLE 2") { %> Senior Admin Assistant <% }
        else if (logincollections.hrrole === "ROLE 3") { %> Admin Officer <% } else if
        (logincollections.hrrole === "ROLE 4") { %> Admin Assistant <% } else if
        (logincollections.hrrole === "ROLE 5") { %> Admin Aide <% } else if (logincollections.hrrole
        === "ADMIN") { %> Department Head <% } %></p>
    </div>
  </div>
  <div class="account-container mt-4">
    <div class="account-item">
      <div class="account-content">
        <p>Task Finished:</p>
      </div>
      <div class="account-count">
        <p><%= approvedFiles.filter((row) => row.status === 'APPROVED').length %></p>
      </div>
    </div>
    <div class="account-item" style="background-color: rgb(112, 28, 28)">
      <div class="account-content">
        <p>Tasks Pending:</p>
      </div>
      <div class="account-count">
        <p><%= pendingFiles.filter((row) => row.status === 'PENDING').length %></p>
      </div>
    </div>
  </div>
  <% if (pendingFiles.length > 0 || approvedFiles.length > 0) { %>
  <div class="account-table-br mt-4 slide-up">
  <div class="account-table">
  <% if (pendingFiles.length > 0) { %>
    <h3>PENDING TASKS:</h3>
    <table id="fileTable1" class="table table-hover table-striped mt-2 mb-5">
      <thead id="fileTableHead1">
        <tr class="table-danger">
          <th style="width: 200px">File Code</th>
          <th style="width: 200px">Task Name</th>
          <th style="width: 170px">Date Assigned</th>
          <th style="width: 170px">Due Date</th>
          <th style="width: 100px; padding-left: 30px"></th>
        </tr>
      </thead>
      <tbody>
        <% pendingFiles.forEach((file, index) => { %>
          <tr>
            <td>
              <%= file.fileCode.length > 20 ? file.fileCode.substring(0, 20) + '...' : file.fileCode %>
            </td>
            <td>
              <%= file.fileName.length > 15 ? file.fileName.substring(0, 15) + '...' : file.fileName %>
            </td>
            <td><%= file.dateSubmitted.toISOString().split('T')[0] %></td>
            <td><%= file.dueDate.toISOString().split('T')[0] %></td>
            <td class="action-buttons">
              <a href="view_file/<%= file.id %>" class="icon-square text-dark">
                <i class="fa-solid fa-eye"></i>
              </a>
              <% if (file.status === 'APPROVED') { %>
                <a href="/archive_file/<%= file.id %>" class="icon-square text-warning archive-button" data-file-id="<%= file.id %>" data-file-code="<%= file.fileCode %>" data-bs-toggle="modal">
                  <i class="fa-solid fa-box-archive"></i>
                </a>
              <% } %>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } %>

  <% if (approvedFiles.length > 0) { %>
    <h3>TASKS FINISHED:</h3>
    <table id="fileTable2" class="table table-hover table-striped mt-2">
      <thead id="fileTableHead2">
        <tr class="table-success">
          <th style="width: 200px">File Code</th>
          <th style="width: 200px">Task Name</th>
          <th style="width: 170px">Date Assigned</th>
          <th style="width: 170px">Due Date</th>
          <th style="width: 100px; padding-left: 30px"></th>
        </tr>
      </thead>
      <tbody>
        <% approvedFiles.forEach((file, index) => { %>
          <tr>
            <td>
              <%= file.fileCode.length > 20 ? file.fileCode.substring(0, 20) + '...' : file.fileCode %>
            </td>
            <td>
              <%= file.fileName.length > 15 ? file.fileName.substring(0, 15) + '...' : file.fileName %>
            </td>
            <td><%= file.dateSubmitted.toISOString().split('T')[0] %></td>
            <td><%= file.dueDate.toISOString().split('T')[0] %></td>
            <td class="action-buttons">
              <a href="view_file/<%= file.id %>" class="icon-square text-dark">
                <i class="fa-solid fa-eye"></i>
              </a>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } %>
</div>
</div>
<% } %>
  <%- include('./layouts/footer') -%>
</div>
