<%- include('./layouts/header') -%> <%- include('./layouts/nav') -%>
<%-include('./layouts/sidenav') -%>
<div class="page-body">
  <div class="page-name">
    <h1>View Account (<%= logincollections.name %>)</h1>
    <div class="account-options">
      <a href="/manage_accounts" class="btn btn-secondary">Go Back</a>
    </div>
  </div>
  <div id="alertContainer" class="bottom-right">
    <% if (message) { %>
    <div
      class="alert alert-dismissible alert-<%= message.type %> fade show"
      role="alert"
      id="autoDismissAlert"
    >
      <strong>Attention!</strong> <%= message.message %><a
        href="#"
        class="alert-link"
      ></a>
    </div>
    <% } %>
  </div>
  <div class="account-basic1">
    <div class="account-image">
      <% if (logincollections.image === "") { %>
        <img src="../images/user.jpg" />
        <% } else { %>
        <img src="../<%= logincollections.image %>" />
    <% } %>
    </div>
    <div class="account-info mt-3">
      <p><b>Name:</b> <%= logincollections.name %></p>
      <p><b>Email:</b> <%= logincollections.email %></p>
      <p><b>Contact:</b> <%= logincollections.contact %></p>
      <p>
        <b>Birthday:</b> <%=
        logincollections.birthday.toISOString().split('T')[0] %>
      </p>
      <p><b>Department:</b> <%= logincollections.department %></p>
      <p><b>HR Role:</b> <%= logincollections.hrrole %></p>
    </div>
  </div>
  <div class="account-container mt-4">
    <div class="account-item">
      <div class="account-content">
        <p>Documents Currently Handling:</p>
      </div>
      <div class="account-count">
        <p><%= submittedfiles.length %></p>
      </div>
    </div>
    <div class="account-item" style="background-color: rgb(112, 28, 28)">
      <div class="account-content">
        <p>Documents Revising:</p>
      </div>
      <div class="account-count">
        <p><%= submittedfiles.filter((row) => row.status === 'REVISION').length %></p>
      </div>
    </div>
  </div>
  <%- include('./layouts/footer') -%>
</div>
