<%- include('./layouts/header') -%> <%- include('./layouts/nav') -%>
<%-include('./layouts/sidenav') -%>
<div class="page-body fade-in">
  <div class="page-name">
    <h1 class="text-uppercase">View Account (<%= logincollections.name %>)</h1>
    <div class="account-options">
      <a href="/manage_accounts" class="btn btn-secondary">Go Back</a>
    </div>
  </div>
  <div id="alertContainer" class="bottom-right">
    <% if (message) { %>
    <div
      class="alert alert-dismissible alert-<%= message.type %> fade show"
      role="alert"
      id="autoDismissAlert"
    >
      <strong>Attention!</strong> <%= message.message %><a
        href="#"
        class="alert-link"
      ></a>
    </div>
    <% } %>
  </div>
  <div class="account-basic1">
    <div class="account-image">
      <% if (logincollections.image === "") { %>
        <img src="../images/user.jpg" />
        <% } else { %>
        <img src="../<%= logincollections.image %>" />
    <% } %>
    </div>
    <div class="account-info mt-3">
      <p><b>Name:</b> <%= logincollections.name %> <%= logincollections.lastname %></p>
      <p><b>Email:</b> <%= logincollections.email %></p>
      <p><b>Contact:</b> <%= logincollections.contact %></p>
      <p>
        <b>Birthday:</b> <%=
        logincollections.birthday.toISOString().split('T')[0] %>
      </p>
      <p><b>Employee ID:</b> <%= logincollections.employeeID %></p>
      <p><b>HR Position:</b> <% if (logincollections.hrrole === "ROLE 1") { %> Administrative Officer <% }
        else if (logincollections.hrrole === "ROLE 2") { %> Senior Admin Assistant <% }
        else if (logincollections.hrrole === "ROLE 3") { %> Admin Officer <% } else if
        (logincollections.hrrole === "ROLE 4") { %> Admin Assistant <% } else if
        (logincollections.hrrole === "ROLE 5") { %> Admin Aide <% } else if (logincollections.hrrole === "ROLE 6") { %> Helper <% } else if (logincollections.hrrole
        === "ADMIN") { %> Department Head <% } else if (logincollections.hrrole === "ADMIN2") { %> Department Head II <% } %></p>
    </div>
    <div class="account-stats">
        <p>Account Level: <strong><%= level %></strong></p>
        <p>F/A Ratio: <strong><%= ratio %></strong><p>
        <div class="graph-container">
          <div class="chart-container">
            <div class="doughnut-chart" style="background: <%= ratio === 0 ? '#338036' : `conic-gradient(
                #6d0a0a ${Math.min(100, (ratio / 5 * 100))}%,
                #338036 0% ${Math.min(100, (ratio / 5 * 100))}% 100%
              )` %>;">
              <div class="chart-center">
                <div class="chart-label">
                  <span><%= approvedFiles.length %>/<%= pendingFiles.length %></span><br>
                </div>
              </div>
            </div>
          </div>
          <div class="chart-legend">
            <div class="legend-item" style="margin-left: 16px;">
              <div class="legend-circle"></div>
              <div class="legend-label">Accomplished</div>
            </div>
            <div class="legend-item">
              <div class="legend-circle" style="background-color: rgb(112, 28, 28)"></div>
              <div class="legend-label">Assigned</div>
            </div>
          </div>
          <button 
              class="btn info-btn"
              data-bs-container="body"
              data-bs-toggle="popover"
              data-bs-placement="bottom"
              data-bs-content="
              This number shows the balance between tasks finished and tasks still assigned/pending. 
              A higher ratio indicates more tasks completed relative to pending tasks, with 1.0 meaning an equal number of finished and pending tasks. 
              For example, a ratio of 2.5 means there are 2.5 times more tasks completed than pending.
              "
              data-bs-original-title="Task Completion Ratio"
              aria-describedby="popover445990"
            ><i class="fa-solid fa-info"></i>
        </button>
        </div>
      </div>
  </div>
  <div class="profile-lvl mt-4">
    <div class="lvl-content">
        <div class="lvl-square">
          <p class="fw-bold" style="margin: 0;"><%= level %></p>
        </div>
        <div class="lvl-info">
          <p><strong>Account Level:</strong> <%= level %></p>
          <p><strong>EXP:</strong> <%= exp %> / <%= requiredExp %></p>
        </div>
        <div class="task-title">
          <p class="text-uppercase" style="font-weight: 600;">
            <% if (level <= 10 ) { %>
              Task Novice
            <% } else if (level <= 20) { %>
              Task Beginner
            <% } else if (level <= 30) { %>
              Task Intermediate
            <% } else if (level <= 40) { %>
              Task Proficient
            <% } else if (level <= 50) { %>
              Task Master
            <% } else if (level <= 60) { %>
              Task Grandmaster
            <% } else if (level <= 70) { %>
              Task Legend
            <% } %>
          </p>
          <% if (level <= 10) { %>
            <i class="fa-solid fa-star-half-stroke"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          <% } else if (level <= 20) { %>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          <% } else if (level <= 30) { %>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          <% } else if (level <= 40) { %>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          <% } else if (level <= 50) { %>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          <% } else if (level <= 60) { %>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          <% } else if (level <= 70) { %>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
            <i class="fa-regular fa-star"></i>
          <% } else if (level <= 80) { %>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          <% } else if (level <= 90) { %>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          <% } else if (level <= 100) { %>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          <% } %>
        </div>
      </div>
      <div class="progress mt-2">
        <div 
          class="progress-bar progress-bar-striped progress-bar-animated bg-info" 
          role="progressbar" 
          style="width: <%= (exp / requiredExp) * 100 %>%;" 
          aria-valuenow="50" 
          aria-valuemin="0" 
          aria-valuemax="100">
        </div>
      </div>
    </div>
  <div class="account-container mt-4">
    <div class="account-item">
      <div class="account-content">
        <p>Accomplished Tasks:</p>
      </div>
      <div class="account-count">
        <p><%= approvedFiles.filter((row) => row.status === 'APPROVED').length %></p>
      </div>
    </div>
    <div class="account-item assigned-item" style="background-color: rgb(112, 28, 28)">
      <div class="account-content">
        <p>Assigned Tasks:</p>
      </div>
      <div class="account-count">
        <p><%= pendingFiles.filter((row) => row.status === 'PENDING').length %></p>
      </div>
    </div>
  </div>
  <% if (pendingFiles.length > 0 || approvedFiles.length > 0) { %>
  <div class="account-table-br mt-4 slide-up">
  <div class="account-table">
  <% if (pendingFiles.length > 0) { %>
    <h3>PENDING TASKS:</h3>
    <table id="fileTable1" class="table table-hover table-striped mt-2 mb-5">
      <thead id="fileTableHead1">
        <tr class="table-danger">
          <th style="width: 200px">File Code</th>
          <th style="width: 200px">Task Name</th>
          <th style="width: 170px">Date Assigned</th>
          <th style="width: 170px">Due Date</th>
          <th style="width: 100px; padding-left: 30px"></th>
        </tr>
      </thead>
      <tbody>
        <% pendingFiles.forEach((file, index) => { %>
          <tr>
            <td>
              <%= file.fileCode.length > 20 ? file.fileCode.substring(0, 20) + '...' : file.fileCode %>
            </td>
            <td>
              <%= file.fileName.length > 15 ? file.fileName.substring(0, 15) + '...' : file.fileName %>
            </td>
            <td><%= file.dateSubmitted.toISOString().split('T')[0] %></td>
            <td><%= file.dueDate.toISOString().split('T')[0] %></td>
            <td class="action-buttons">
              <a href="/view_file/<%= file.id %>" class="icon-square text-dark">
                <i class="fa-solid fa-eye"></i>
              </a>
              <% if (file.status === 'APPROVED') { %>
                <a href="/archive_file/<%= file.id %>" class="icon-square text-warning archive-button" data-file-id="<%= file.id %>" data-file-code="<%= file.fileCode %>" data-bs-toggle="modal">
                  <i class="fa-solid fa-box-archive"></i>
                </a>
              <% } %>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } %>
    
  <% if (approvedFiles.length > 0) { %>
    <h3>TASKS FINISHED:</h3>
    <table id="fileTable2" class="table table-hover table-striped mt-2">
      <thead id="fileTableHead2">
        <tr class="table-success">
          <th style="width: 200px">File Code</th>
          <th style="width: 200px">Task Name</th>
          <th style="width: 170px">Date Assigned</th>
          <th style="width: 170px">Due Date</th>
          <th style="width: 100px; padding-left: 30px"></th>
        </tr>
      </thead>
      <tbody>
        <% approvedFiles.forEach((file, index) => { %>
          <tr>
            <td>
              <%= file.fileCode.length > 20 ? file.fileCode.substring(0, 20) + '...' : file.fileCode %>
            </td>
            <td>
              <%= file.fileName.length > 15 ? file.fileName.substring(0, 15) + '...' : file.fileName %>
            </td>
            <td><%= file.dateSubmitted.toISOString().split('T')[0] %></td>
            <td><%= file.dueDate.toISOString().split('T')[0] %></td>
            <td class="action-buttons">
              <a href="/view_file/<%= file.id %>" class="icon-square text-dark">
                <i class="fa-solid fa-eye"></i>
              </a>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } %>
</div>
</div>
<% } %>
<script>
  // Ensure all popovers are initialized
  document.addEventListener('DOMContentLoaded', function () {
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
    popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl);
    });
  });
</script>
<%- include('./layouts/footer') -%>
</div>
