<%- include('../../layouts/header') -%>
<body>
  <%- include('../../layouts/nav') -%>
  <%- include('../../layouts/footer') %>
  <div class="print-body fade-in">
    <div class="page-name">
        <h1>Status Board</h1>
        <a href="/statusboard" class="btn btn-secondary">Go Back</a>
    </div>
    <div class="printBTNS">
        <button id="download" class="btn btn-primary">Download as PDF</button>
        <button id="closeDTR" class="btn btn-danger closeBTN mb-2" data-toggle="modal" data-target="#confirmModal">CLOSE REPORT</button>
    </div>
    <div class="page-content mt-4 p-4 bg-light" id="page-content">
        <h3>Human Resources Department File Status Report:</h3>
        <% if (files != '') { %>
        <table id="table" class="table table-hover table-bordered mt-3">
          <thead>
            <tr class="table-dark text-center text-uppercase">
              <th>File Code</th>
              <th>File Name</th>
              <th>Date Submitted</th>
              <th>Handler</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <% files.forEach((files, index) => { %>
            <tr>
              <td><%- files.fileCode %></td>
              <td><%- files.fileName %></td>
              <td><%- files.dateSubmitted.toISOString().split('T')[0] %></td>
              <td><%- files.assignTo %></td>
              <td><% if (files.status === 'APPROVED') { %>
                <span class="badge bg-success">APPROVED</span>
              <% } else if (files.status === 'REJECTED') { %>
                <span class="badge bg-danger">REJECTED</span>
              <% } else if (files.status === 'PENDING') { %>
                <span class="badge bg-warning">PENDING</span>
              <% } else if (files.status === 'REVISION') { %>
                <span class="badge bg-dark">REVISION</span>
              <% } else { %>
                <span class="badge bg-primary">UNKNOWN</span>
              <% } %></td>
            </tr>
            <% }) -%>
          </tbody>
        </table>
        <% } else { %>
        <p>No files found</p>
        <% } %>
      </div>
    </div>
  </div>
  <script src="../../scripts/html2pdf.bundle.min.js"></script>
<script>
  document.getElementById("download").addEventListener("click", () => {
    // Select the content of the div
    var element = document.getElementById("page-content");

    // Configure the options for the PDF
    var opt = {
      margin: 0.5,
      filename: "STATUSBOARD.pdf",
      image: { type: "jpeg", quality: 1.0 },
      html2canvas: { scale: 5.0 },
      jsPDF: { unit: "in", format: "letter", orientation: "landscape" },
    };

    // Use html2pdf to create and download the PDF
    html2pdf().from(element).set(opt).save();
  });
</script>