<%- include('../layouts/header') -%>
<body>
  <%- include('../layouts/nav') -%> <%- include('../layouts/sidenavR1') %>
  <div class="page-body fade-in">
    <div class="page-name">
      <h1><%= logincollections.name %> <%= logincollections.lastname %></h1>
      <div class="account-options">
        <a
          href="/editacc/<%= encodeURIComponent(user.name) %>"
          class="btn btn-primary"
          >Edit Account</a
        >
      </div>
    </div>
    <div class="account-basic1">
      <div class="account-image">
        <img src="../<%= logincollections.image %>" />
      </div>
      <div class="account-info mt-3">
        <p><b>Name:</b> <%= logincollections.name %> <%= logincollections.lastname %></p>
        <p><b>Email:</b> <%= logincollections.email %></p>
        <p><b>Contact:</b> <%= logincollections.contact %></p>
        <p>
          <b>Birthday:</b> <%=
          logincollections.birthday.toISOString().split('T')[0] %>
        </p>
        <p><b>Employee ID:</b> <%= logincollections.employeeID %></p>
        <p><b>HR Position:</b> <% if (logincollections.hrrole === "ROLE 1") { %> Administrative Officer <% }
          else if (logincollections.hrrole === "ROLE 2") { %> Senior Admin Assistant <% }
          else if (logincollections.hrrole === "ROLE 3") { %> Admin Officer <% } else if
          (logincollections.hrrole === "ROLE 4") { %> Admin Assistant <% } else if
          (logincollections.hrrole === "ROLE 5") { %> Admin Aide <% } else if (logincollections.hrrole
          === "ADMIN") { %> Department Head <% } %></p>
      </div>
    </div>
    <div class="account-container mt-4 slide-up">
    <div class="account-item">
      <div class="account-content">
        <p>Task Finished:</p>
      </div>
      <div class="account-count">
        <p><%= approvedFiles.filter((row) => row.status === 'APPROVED').length %></p>
      </div>
    </div>
    <div class="account-item" style="background-color: rgb(112, 28, 28)">
      <div class="account-content">
        <p>Tasks Pending:</p>
      </div>
      <div class="account-count">
        <p><%= pendingFiles.filter((row) => row.status === 'PENDING').length %></p>
      </div>
    </div>
  </div>
    <%- include('../layouts/footer') -%>
  </div>
</body>
