<%- include('../layouts/header') -%>
<body>
  <%- include('../layouts/nav') -%> <%- include('../layouts/sidenav') %>
  <div class="page-body fade-in">
    <div class="page-name">
      <h1><span><i class="fa-solid fa-user" style="margin-right: 15px;"></i></span>
        TASK MANAGER PROFILE:
      </h1>
      <div class="account-options">
        <a
          href="/editacc/<%= user.employeeID %>"
          class="btn btn-primary"
          >Edit Account</a
        >
      </div>
    </div>
    <div class="account-basic1">
      <div class="account-image">
        <img src="../<%= logincollections.image %>" />
      </div>
      <div class="account-info mt-3">
        <p><b>Name:</b> <%= logincollections.name %> <%= logincollections.lastname %></p>
        <p><b>Email:</b> <%= logincollections.email %></p>
        <p><b>Contact:</b> <%= logincollections.contact %></p>
        <p>
          <b>Birthday:</b> <%=
          logincollections.birthday.toISOString().split('T')[0] %>
        </p>
        <p><b>Employee ID:</b> <%= logincollections.employeeID %></p>
        <p><b>HR Position:</b> <% if (logincollections.hrrole === "ROLE 1") { %> Administrative Officer <% }
          else if (logincollections.hrrole === "ROLE 2") { %> Senior Admin Assistant <% }
          else if (logincollections.hrrole === "ROLE 3") { %> Admin Officer <% } else if
          (logincollections.hrrole === "ROLE 4") { %> Admin Assistant <% } else if
          (logincollections.hrrole === "ROLE 5") { %> Admin Aide <% } else if (logincollections.hrrole
          === "ADMIN") { %> Department Head I <% } else if (logincollections.hrrole === "ADMIN2") { %> Department Head II <% } %>
          </p>
      </div>
      <div class="account-stats">
        <p>Account Level: <strong><%= level %></strong></p>
        <p>F/A Ratio: <strong><%= ratio %></strong><p>
        <div class="graph-container">
          <div class="chart-container">
            <div class="doughnut-chart" style="background: <%= ratio === 0 ? '#6d0a0a' : `conic-gradient(
                #6d0a0a ${Math.min(100, (ratio / 5 * 100))}%,
                #338036 0% ${Math.min(100, (ratio / 5 * 100))}% 100%
              )` %>;">
              <div class="chart-center">
                <div class="chart-label">
                  <span><%= approvedFiles.length %>/<%= pendingFiles.length %></span><br>
                </div>
              </div>
            </div>
          </div>
          <div class="chart-legend">
            <div class="legend-item">
              <div class="legend-circle"></div>
              <div class="legend-label">Finished</div>
            </div>
            <div class="legend-item">
              <div class="legend-circle" style="background-color: rgb(112, 28, 28)"></div>
              <div class="legend-label">Assigned</div>
            </div>
          </div>
          <button 
              class="btn info-btn"
              data-bs-container="body"
              data-bs-toggle="popover"
              data-bs-placement="bottom"
              data-bs-content="
              This number shows the balance between tasks finished and tasks still assigned/pending. 
              A higher ratio indicates more tasks completed relative to pending tasks, with 1.0 meaning an equal number of finished and pending tasks. 
              For example, a ratio of 2.5 means there are 2.5 times more tasks completed than pending.
              "
              data-bs-original-title="Task Completion Ratio"
              aria-describedby="popover445990"
            ><i class="fa-solid fa-info"></i>
        </button>
        </div>
      </div>
    </div>
    <div class="profile-lvl mt-4">
      <div class="lvl-content">
        <div class="lvl-square">
          <p class="fw-bold" style="margin: 0;"><%= level %></p>
        </div>
        <div class="lvl-info">
          <p><strong>Account Level:</strong> <%= level %></p>
          <p><strong>EXP:</strong> <%= exp %> / <%= requiredExp %></p>
        </div>
      </div>
      <div class="progress mt-2">
        <div 
          class="progress-bar progress-bar-striped progress-bar-animated bg-info" 
          role="progressbar" 
          style="width: <%= (exp / requiredExp) * 100 %>%;" 
          aria-valuenow="50" 
          aria-valuemin="0" 
          aria-valuemax="100">
        </div>
      </div>
    </div>
    <div class="account-container mt-4 slide-up">
    <div class="account-item">
      <div class="account-content">
        <p>Task Finished:</p>
      </div>
      <div class="account-count">
        <p><%= approvedFiles.filter((row) => row.status === 'APPROVED').length %></p>
      </div>
    </div>
    <div class="account-item" style="background-color: rgb(112, 28, 28)">
      <div class="account-content">
        <p>Tasks Assigned:</p>
      </div>
      <div class="account-count">
        <p><%= pendingFiles.filter((row) => row.status === 'ASSIGNED').length %></p>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
      var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl);
      });
    });
  </script>
  <%- include('../layouts/footer') -%>
  </div>
</body>
